<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>C++ TRAINING</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">C++ TRAINING</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>C++ TRAINING CONTENT</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>C++ Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>C++ is one of the evergreen languages that is dominating the programming language space for more than few decades along with Java. The programming for embedded systems and code written to interface with an hardware are written using C language. C language with its POINTERs provides a very powerful tool to handle the memory directly instead of requesting through a memory manager.</p>
                            <h4>Benefits of C++ Training</h4>
                           <p>Trainers from Industry with good hand on experience Software and Installation support will be provided Complete code explanation and implementation You can develop your own programs after understanding the basics with our experienced Faculties Certificate after Successful completion of Training</p>
                         
                         
               </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                        Section 1: Introduction to C++
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                    <ul>
   <li>Creating a project</li>
   <li>Writing, compiling and running a program</li>
 </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                    Section 2 : Variables and data types
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                <ul>
   <li>Expressions</li>
   <li>Constants</li>
   <li>Operators</li>
   <li>Type conversions</li>
 </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                      Section 3: Looping constructs: while, do…while, for loops
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                <ul>
   <li>If…else statements</li>
   <li>Switch/case construct</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                     Section 4 : Functions
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                             <ul>
   <li>Passing arguments</li>
   <li>Function prototyping</li>
   <li>Default argument initializers</li>
   <li>Inline functions</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                     Section 5 : Arrays
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                           <ul>
   <li>Array initialization</li>
   <li>Multi-dimensional arrays</li>
   <li>Character arrays</li>
   <li>Working with character strings</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                       Section 6: Storage Classes
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                         <ul>
   <li>Global variables</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                            <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                       Section 7: Structures and Union
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                    <ul>
   <li>Structures, Union</li>
   <li>Arrays of Structures</li>
   <li>Passing Structures to Functions</li>
   <li>Nesting Structures</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                      Section 8: C++ classes
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
   <li>Data members and member functions</li>
   <li>Creating objects</li>
   <li>The new and delete operators</li>
   <li>Friends to a class</li>
   <li>Class initialisation</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                     <h4 class="panel-title">
                                      Section 9: Function overloading
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
   <li>Operator overloading</li>
  
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                     Section 10 : Copy constructor
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
   <li>Assignment operator</li>
  
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                                     <h4 class="panel-title">
                                      Section 11 : Template classes
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
   <li>Static class members</li>
   <li>File streams</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                  
                            <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
                                     <h4 class="panel-title">
                                      Secton 12 : Inheritance
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
   <li>Base classes and derived classes</li>
   <li>Inherited member access</li>
   <li>Base class initialization</li>
   <li>Protected members of a class</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
                                     <h4 class="panel-title">
                                      Secton 13: Virtual functions
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
   <li>Virtual destructors</li>
  
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
                                     <h4 class="panel-title">
                                      Sectoin 14: Virtual base classes
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
               <ul>
   <li>Virtual base class member access</li>
   <li>Constructor and destructor ordering</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
                                     <h4 class="panel-title">
                                      Section 15 : Exception handling
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
            <ul>
   <li>Try…throw…catch block</li>
   <li>Nested catch handlers</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                                      
 <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    
  </section>