 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> Oracle DBA Training </h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active"> Oracle DBA Training </li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4> Oracle DBA Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2> Oracle DBA Training</h2>
                          
                           <h4>Description</h4>
                           
                     <p>Learn DBA Course with Skifter Education to gain in-depth knowledge of Oracle DBA Architecture, database structures, memory and process architecture, security, schema objects, data backup, recovery and various concepts. We provide Oracle DBA training to improve your primary skills in all the major database platforms, including 10g, 11g, and 12c. Our Oracle DBA training in Chennai provide all types of DBA learning programs including systems, development and application.</p>
                   <p>This Oracle DBA course (10g, 11g and 12c) includes fundamental to advanced level concepts designed to help you get OCA and OCP Certifications. Our Oracle DBA trainers are industry experts having hands-on real-time project knowledge.</p>
                   </div>
                     
              </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                       <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                 <h4 class="panel-title">
                                                Section 1: Oracle Database Architecture
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>Oracle Server</li>
                                             <li><i class="fa fa-crosshairs"></i>Oracle Instance</li>
                                             <li><i class="fa fa-crosshairs"></i>Establishing a Connection and Creating a Session</li>
                                             <li><i class="fa fa-crosshairs"></i>Oracle Database</li>
                                             <li><i class="fa fa-crosshairs"></i>Physical Structure</li>
                                             <li><i class="fa fa-crosshairs"></i>Physical Structure</li>
                                             <li><i class="fa fa-crosshairs"></i>System Global Area (SGA)</li>
                                             <li><i class="fa fa-crosshairs"></i>Shared Pool</li>
                                             <li><i class="fa fa-crosshairs"></i>Library Cache</li>
                                             <li><i class="fa fa-crosshairs"></i>Data Dictionary Cache</li>
                                             <li><i class="fa fa-crosshairs"></i>Database Buffer Cache</li>
                                             <li><i class="fa fa-crosshairs"></i>Redo Log Buffer Cache</li>
                                             <li><i class="fa fa-crosshairs"></i>Large Pool</li>
                                             <li><i class="fa fa-crosshairs"></i>Java Pool</li>
                                             <li><i class="fa fa-crosshairs"></i>User Process</li>
                                             <li><i class="fa fa-crosshairs"></i>Sever Process
                                                 </li>
                       <li><i class="fa fa-crosshairs"></i>Background Processes</li>
                                                     <li><i class="fa fa-crosshairs"></i>Database Writer</li>
                                                     <li><i class="fa fa-crosshairs"></i>Log Writer</li>
                                                     <li><i class="fa fa-crosshairs"></i>System Monitor</li>
                                                     <li><i class="fa fa-crosshairs"></i>Process Monitor</li>
                                                     <li><i class="fa fa-crosshairs"></i>Checkpoint</li>
                                                     <li><i class="fa fa-crosshairs"></i>Archiver</li>
                                         </ul>
       </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                 <h4 class="panel-title">
                                                Section 2: Database creataion
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>Manual database creataion</li>
                                             <li><i class="fa fa-crosshairs"></i>Starting UP a Database with different option</li>
                                             <li><i class="fa fa-crosshairs"></i>The ALTER DATABASE Comand</li>
                                             <li><i class="fa fa-crosshairs"></i>Opening a Database in Restricted Mode</li>
                                             <li><i class="fa fa-crosshairs"></i>Enabling Archivelog mode</li>
                                             <li><i class="fa fa-crosshairs"></i>Shutting Down the Database</li>
                                             <li><i class="fa fa-crosshairs"></i>Shutdown Options</li>
                                             <li><i class="fa fa-crosshairs"></i>Alert Log and trace files</li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                 <h4 class="panel-title">
                                                Section 3: Parameter File Management
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>What is meant by Parameter File?</li>
                                             <li><i class="fa fa-crosshairs"></i>What is menay by Server Parameter File</li>
                                             <li><i class="fa fa-crosshairs"></i>Creating Parameter File</li>
                                             <li><i class="fa fa-crosshairs"></i>Migrating to Server Parameter File</li>
                                             <li><i class="fa fa-crosshairs"></i>Changing Initialization Parameter Values</li>
                                             <li><i class="fa fa-crosshairs"></i>Recovering a Lost or Damaged Server Parameter File</li>
                                             <li><i class="fa fa-crosshairs"></i>Viewing Parameter Settings</li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                 <h4 class="panel-title">
                                                Section 4: Storage structure and its relationships
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                                 <li><i class="fa fa-crosshairs"></i>what is database block?</li>
                                                 <li><i class="fa fa-crosshairs"></i>Multiple block size</li>
                                                 <li><i class="fa fa-crosshairs"></i>Extend and segments</li>
                                                 <li><i class="fa fa-crosshairs"></i>Used and Free extend</li>
                                                 <li><i class="fa fa-crosshairs"></i>Manual Data Block Management</li>
                                                 <li><i class="fa fa-crosshairs"></i>Automatic Segment-Space Management</li>
                                                 <li><i class="fa fa-crosshairs"></i>Data Dictionary Views</li>
                                             </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                 <h4 class="panel-title">
                                                Section 5: Managing controlfiles
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>What Is a Control File?</li>
                                             <li><i class="fa fa-crosshairs"></i>How to create control Files?</li>
                                             <li><i class="fa fa-crosshairs"></i>content of control file</li>
                                             <li><i class="fa fa-crosshairs"></i>Multiplexing the Control File Using PFILE</li>
                                             <li><i class="fa fa-crosshairs"></i>Multiplexing the Control File Using SPFILE</li>
                                             <li><i class="fa fa-crosshairs"></i>Backing Up Control Files</li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                 <h4 class="panel-title">
                                                Section 6: Redo log files maintenance
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>What is the Redo Log?</li>
                                             <li><i class="fa fa-crosshairs"></i>Creating Redo Log Groups and Members</li>
                                             <li><i class="fa fa-crosshairs"></i>Adding Online Redo Log Groups</li>
                                             <li><i class="fa fa-crosshairs"></i>Adding Online Redo Log Members</li>
                                             <li><i class="fa fa-crosshairs"></i>Relocating and Renaming Redo Log Members</li>
                                             <li><i class="fa fa-crosshairs"></i>Dropping Redo Log Groups and Members</li>
                                             <li><i class="fa fa-crosshairs"></i>Forcing Log Switches</li>
                                             <li><i class="fa fa-crosshairs"></i>Clearing a Redo Log File</li>
                                             <li><i class="fa fa-crosshairs"></i>How to get Group and Member Information</li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                 <h4 class="panel-title">
                                                Section 7: Managing tablespace and datafiles
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>Create tablespaces</li>
                                             <li><i class="fa fa-crosshairs"></i>Create datafiles with fixed size and autoextend option</li>
                                             <li><i class="fa fa-crosshairs"></i>Rename and relocating the datafiles </li>
                                             <li><i class="fa fa-crosshairs"></i>Tablespace Offline</li>
                                             <li><i class="fa fa-crosshairs"></i>Read-Only Tablespaces </li>
                                             <li><i class="fa fa-crosshairs"></i>Dropping Tablespaces</li>
                                             <li><i class="fa fa-crosshairs"></i>Resizing a Tablespace</li>
                                             <li><i class="fa fa-crosshairs"></i>Enabling Automatic Extension of Data Files</li>
                                             <li><i class="fa fa-crosshairs"></i>Adding Data files to a Tablespace </li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                 <h4 class="panel-title">
                                                Section 8:  Undo tablespace Management
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>What is meant by undo tablespace</li>
                                             <li><i class="fa fa-crosshairs"></i>How undo provide read Consistency</li>
                                             <li><i class="fa fa-crosshairs"></i>Types of Undo Segments</li>
                                             <li><i class="fa fa-crosshairs"></i>Altering and UNDO Tablespace</li>
                                             <li><i class="fa fa-crosshairs"></i>Switching UNDO Tablespaces</li>
                                             <li><i class="fa fa-crosshairs"></i>Dropping an UNDO Tablespace</li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                 <h4 class="panel-title">
                                                Section 9: Managing Database Users
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>How to create database users</li>
                                             <li><i class="fa fa-crosshairs"></i>Changing user's password</li>
                                             <li><i class="fa fa-crosshairs"></i>Unlocking a user account</li>
                                             <li><i class="fa fa-crosshairs"></i>Changing User Quota on Tablespace</li>
                                             <li><i class="fa fa-crosshairs"></i>Dropping a User</li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                 <h4 class="panel-title">
                                                Section 10: Managing Database Roles
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>What is meant Roles</li>
                                             <li><i class="fa fa-crosshairs"></i>Advantages of Roles</li>
                                             <li><i class="fa fa-crosshairs"></i>how to creating Roles</li>
                                             <li><i class="fa fa-crosshairs"></i>prerequest of Roles</li>
                                             <li><i class="fa fa-crosshairs"></i>Modifying Roles</li>
                                             <li><i class="fa fa-crosshairs"></i>Assigning Roles</li>
                                             <li><i class="fa fa-crosshairs"></i>Removing Roles from Users</li>
                                             <li><i class="fa fa-crosshairs"></i>Displaying Role Information</li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                                 <h4 class="panel-title">
                                                Section 11: Managing Database Profiles
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>what is Profile</li>
                                             <li><i class="fa fa-crosshairs"></i>Password Management</li>
                                             <li><i class="fa fa-crosshairs"></i>Enabling Password Management</li>
                                             <li><i class="fa fa-crosshairs"></i>Password Account Locking</li>
                                             <li><i class="fa fa-crosshairs"></i>Password Expiration</li>
                                             <li><i class="fa fa-crosshairs"></i>Password Verification</li>
                                             <li><i class="fa fa-crosshairs"></i>Creating a Profile</li>
                                             <li><i class="fa fa-crosshairs"></i>Altering a Profile</li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
                                 <h4 class="panel-title">
                                                Section 12: Loading data into db using sql loader
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                                             <li><i class="fa fa-crosshairs"></i>Oracle DataPump</li>
                                             <li><i class="fa fa-crosshairs"></i>What Is Data Pump?</li>
                                             <li><i class="fa fa-crosshairs"></i>Parameters Available expdp/impdp</li>
                                             <li><i class="fa fa-crosshairs"></i>How to export and import using DATAPUMP</li>
                                             <li><i class="fa fa-crosshairs"></i>Moving data between versions</li>
                                             <li><i class="fa fa-crosshairs"></i>Password Verification</li>
                                             <li><i class="fa fa-crosshairs"></i>Performance tuning</li>
                                             <li><i class="fa fa-crosshairs"></i>Linux commands for oracle DBA</li>
                                         </ul>
                 </div>
                           </div>
                         </div>
                     </div>
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
  </section>
 