 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>MS Excel Training in Chennai</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">MS Excel Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>MS Excel Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>MS Excel Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>Learn Angular Course from HTML5 to Optimize, Build & Deploying an Angular App. Our Angular Course content is designed from the scratch with very basic web structures into advanced concepts, so that Our Angular training in Chennai is suitable for any passionate aspirant to become a professional Angular expert. From the day 1 session itself, you will understand the very basics like how the Web Servers are working?, How well do Web Application architectures work together? etc.</p>
                            <p>Our angular training motto is not just upskilling the technical topics, but also enhancing in depth understanding of each and every topic's purpose and its implementation in real-world application. As a result, before diving into the topic, we will discuss all aspects of the module like how its implemented in real-time projects, how it simplifies our development, etc.</p>
                            <p>CREDO SYSTEMZ provides the Best Angular Training in Chennai to promote you into a skilled angular professional with 100% Free Placement Support. You can start Developing Powerful and Rich Web applications from day 1 of our Best Angular Course in Chennai with the help of our angular expert trainers.</p>
                         
                         
               </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                        Section 1: Introduction to Excel
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                   <ul>					
                                 <li><i class="fa fa-crosshairs"></i>A overview of the screen, navigation and basic spreadsheet concepts</li>
                            <li><i class="fa fa-crosshairs"></i>Understanding workbooks, worksheets, rows, columns, cells</li>
                            <li><i class="fa fa-crosshairs"></i>Various selection techniques</li>
                              </ul>
                                         
                                      </div>
                                     </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                   <h4 class="panel-title">
                                      Section 2: Entering Data 
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                               <div class="panel-body">
                                  <div class="row ">
                                  <ul>
                                 <li><i class="fa fa-crosshairs"></i>Entering, Editing and Deleting Text, Numbers, Dates</li>
                          <li><i class="fa fa-crosshairs"></i>Using Auto Lists</li>
                          <li><i class="fa fa-crosshairs"></i>Moving and Copying data</li>
                          <li><i class="fa fa-crosshairs"></i>Using navigation techniques</li>
                            </ul>
                                       
                                    </div>
                                   </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                 <h4 class="panel-title">
                                    Section 3: Managing &amp; Navigating through workbooks
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                                <ul>
                                 <li><i class="fa fa-crosshairs"></i>Using Workbook Views</li>
                           <li><i class="fa fa-crosshairs"></i>Selecting and Switching Between Worksheets</li>
                           <li><i class="fa fa-crosshairs"></i>Understanding &amp; working rows, columns and worksheets</li>
                              </ul>
                                     
                                  </div>
                                 </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                               <h4 class="panel-title">
                                  Section 4: Creating &amp; Editing formulae
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                           <div class="panel-body">
                              <div class="row ">
                              <ul>
                                   <li><i class="fa fa-crosshairs"></i>Concept of Formulae</li>
                            <li><i class="fa fa-crosshairs"></i>Creating Formulae, Editing Formulae</li>
                            <li><i class="fa fa-crosshairs"></i>Bodmas : Mathematical Order</li> 
                                 </ul>
                                   
                                </div>
                               </div>
                       </div>
                   </div>
                   <div class="panel panel-default panel-faq">
                     <div class="panel-heading">
                         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                             <h4 class="panel-title">
                                Section 5: Formatting &amp; Proofing
                                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                             </h4>
                         </a>
                     </div>
                     <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                         <div class="panel-body">
                            <div class="row ">
                            <ul>
                                   <li><i class="fa fa-crosshairs"></i>Formatting Cells with Number formats, Font formats, Alignment, Borders, etc</li>
                            <li><i class="fa fa-crosshairs"></i>Basic conditional formatting</li>
                            <li><i class="fa fa-crosshairs"></i>Working with Styles</li>
                              </ul>
                                 
                              </div>
                             </div>
                     </div>
                 </div>
                 <div class="panel panel-default panel-faq">
                   <div class="panel-heading">
                       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                           <h4 class="panel-title">
                              Section 6: Create and manage worksheets and workbooks
                               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                           </h4>
                       </a>
                   </div>
                   <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                       <div class="panel-body">
                          <div class="row ">
                          <ul>					
                                 <li>Create worksheets and workbooks</li>
                          <li>Navigate in worksheets and workbooks</li>
                          <li>Format worksheets and workbooks</li>
                          <li>Customise options and views for worksheets and workbooks</li>
                          <li>Configure worksheets and workbooks for distribution/li&gt;
                              </li></ul>
                               
                            </div>
                           </div>
                   </div>
               </div>
               <div class="panel panel-default panel-faq">
                 <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                         <h4 class="panel-title">
                            Section 7: Manage data cells and ranges 
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                     </a>
                 </div>
                 <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                     <div class="panel-body">
                        <div class="row ">
                        <ul>
                                 <li>Insert data in cells and ranges</li>
                          <li>Format cells and ranges</li>
                          <li>Summarise and organise data</li>
                          <li>Using different filtering techniques</li>	
                            </ul>
                             
                          </div>
                         </div>
                 </div>
             </div>
             <div class="panel panel-default panel-faq">
               <div class="panel-heading">
                   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                       <h4 class="panel-title">
                          Section 8: Create advanced formulas
                           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                       </h4>
                   </a>
               </div>
               <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                   <div class="panel-body">
                      <div class="row ">
                      <ul>
                               <li>Create and manage tables</li>
                          <li>Manage table styles and options</li>
                          <li>Filter and sort a table</li>
                          <li>Advanced paste special techniques</li>
                             </ul>
                           
                        </div>
                       </div>
               </div>
           </div>
           <div class="panel panel-default panel-faq">
             <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                     <h4 class="panel-title">
                        Section 9: Perform operations with formulas and functions
                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                     </h4>
                 </a>
             </div>
             <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                 <div class="panel-body">
                    <div class="row ">
                    <ul>
                                     <li>Summarise data by using functions</li>
                             <li>Perform conditional operations by using functions</li>
                             <li>Logical functions</li>
                             <li>Math functions</li>
                             <li>Lookup functions</li>
                             <li>Date &amp; Time functions</li> 
                                 </ul>
                         
                      </div>
                     </div>
             </div>
         </div>
         <div class="panel panel-default panel-faq">
           <div class="panel-heading">
               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                   <h4 class="panel-title">
                      Section 10: Create charts and objects
                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                   </h4>
               </a>
           </div>
           <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
               <div class="panel-body">
                  <div class="row ">
                  <ul>
                                   <li>Create charts</li>
                            <li>Format graphic elements</li>
                            <li>Insert and format objects</li>
                              </ul>
                       
                    </div>
                   </div>
           </div>
       </div>
       <div class="panel panel-default panel-faq">
         <div class="panel-heading">
             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                 <h4 class="panel-title">
                    Section 11: Manage workbook options and settings
                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                 </h4>
             </a>
         </div>
         <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
             <div class="panel-body">
                <div class="row ">
                <ul>					
                                 <li><i class="fa fa-crosshairs"></i>Manage workbooks</li>
                            <li><i class="fa fa-crosshairs"></i>Manage workbook review</li>
                              </ul>
                     
                  </div>
                 </div>
         </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
               <h4 class="panel-title">
                  Section 12: Apply custom data formats, layouts &amp; protection 
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
              <ul>
                                 <li><i class="fa fa-crosshairs"></i>Apply custom data formats and validation</li>
                          <li><i class="fa fa-crosshairs"></i>Apply advanced conditional formatting and filtering</li>
                          <li><i class="fa fa-crosshairs"></i>Create and modify custom workbook elements</li>
                          <li><i class="fa fa-crosshairs"></i>Different levels of protection</li>
                          <li><i class="fa fa-crosshairs"></i>Setting permission &amp; track changes</li>
                          <li><i class="fa fa-crosshairs"></i>Prepare a workbook for global standards</li>	
                            </ul>
                   
                </div>
               </div>
       </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
               <h4 class="panel-title">
                  Section 13: Create advanced formulas
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
             <ul>
                             <li><i class="fa fa-crosshairs"></i>Apply math functions in formulas</li>
                      <li><i class="fa fa-crosshairs"></i>Look up data by using functions</li>
                      <li><i class="fa fa-crosshairs"></i>Advanced logical &amp; text functions</li>
                      <li><i class="fa fa-crosshairs"></i>Apply advanced date and time functions</li>
                      <li><i class="fa fa-crosshairs"></i>Perform data analysis and business intelligence</li>
                      <li><i class="fa fa-crosshairs"></i>Troubleshoot formulas using error handling functions</li>
                      <li><i class="fa fa-crosshairs"></i>Define named ranges and objects</li>
                         </ul>
                   
                </div>
               </div>
       </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
               <h4 class="panel-title">
                  Section 14: Create custom Word elements
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
               <ul>
                                     <li><i class="fa fa-crosshairs"></i>Create advanced charts</li>
                            <li><i class="fa fa-crosshairs"></i>Create and manage PivotTables</li>
                            <li><i class="fa fa-crosshairs"></i>Create and manage PivotCharts</li> 
                                 </ul>
                   
                </div>
               </div>
       </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
               <h4 class="panel-title">
                  Section 15: Manage workbook options and settings
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
               <ul>
                                   <li><i class="fa fa-crosshairs"></i>Bar Charts / Pie Charts / Line Charts</li>
                            <li><i class="fa fa-crosshairs"></i>Planning a Dashboard</li>
                            <li><i class="fa fa-crosshairs"></i>Adding Tables to Dashboard</li>
                            <li><i class="fa fa-crosshairs"></i>Adding Charts to Dashboard</li>
                            <li><i class="fa fa-crosshairs"></i>Adding Dynamic Contents to Dashboard</li>
                              </ul>
                   
                </div>
               </div>
       </div>
     </div>
        
                          
 <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    
  </section>
 