<!-- Start menu -->
<section id="mu-menu">
    <nav class="navbar navbar-default navbar-static">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <!-- LOGO -->
        <!-- TEXT BASED LOGO -->
        <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png"></a>
        <!-- IMG BASED LOGO  -->
        <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
        <!-- </div> -->
        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                <li class="dropdown dropdown-large">
                    <a routerLink="/home" class="dropdown-toggle" data-toggle="dropdown">Home </a>
                </li>
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us </a>
                </li>
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>

                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-sm-4">
                            <ul>
                                <li class="dropdown-header">MARKETING COURSES</li>
                                <li><a routerLink="/digitalmarketing"> Digital Marketing Training</a>
                                </li>
                                <li><a routerLink="/seo"> SEO Training </a></li>
                                <li><a routerLink="/socialmediamarketing"> Social Media Marketing
                                        Training</a></li>
                                <li><a routerLink="/payperclick">Pay Per Click Training</a></li>
                                <li><a routerLink="/emailmarketing">Email Marketing Training</a></li>
                                <li><a a routerLink="/affiliatemarketing"> Affiliate Marketing
                                        Training</a></li>
                                <li><a routerLink="/ecommercemarketing">Ecommerce Marketing
                                        Training</a></li>
                                <li><a routerLink="/contentwriting">Content Writing Course</a></li>
                                <li><a routerLink="/webanalytics"> Web Analytics Training</a></li>
                                <li><a routerLink="/contentmarketing"> Content Marketing Training</a>
                                </li>

                                <li>
                                    <a routerLink="/youtubemarketing">
                                        YouTube Marketing Training </a>
                                </li>
                                <li><a routerLink="/facebookmarketing">Facebook Marketing Training
                                    </a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">CLOUD COURSES</li>
                                <li><a routerLink="/awscertifieddeveloperassociate">AWS Developer
                                        Associate</a></li>
                                <li><a routerLink="/awssolutionarchitect">AWS Solution Architect</a>
                                </li>
                                <li><a routerLink="/awscloudpractitioner">AWS Cloud Practitioner</a>
                                </li>
                                <li><a routerLink="/awssysopsadministrator">AWS SysOps Admin
                                        Training</a></li>
                            </ul>
                        </li>

                        <li class="col-sm-4">
                            <ul>
                                <li class="dropdown-header">WEB DESIGN / DEVELOPMENT COURSES</li>
                                <li><a routerLink="/webdevelopment"> Web Development Training</a>
                                </li>
                                <li><a routerLink="/php"> PHP Training </a></li>
                                <li><a routerLink="/wordpress"> WordPress Training</a></li>
                                <li><a routerLink="/magento">Magento 2 Training
                                <li><a routerLink="/joomla">
                                        Joomla Training</a></li>
                                <li><a routerLink="/webdesigning">Web Designing Training </a></li>
                                <li><a routerLink="/html">
                                        HTML5 Training</a></li>
                                <li><a routerLink="/frontenddevelopment">Front end Development </a>
                                </li>
                                <li>
                                    <a href="">Mobile App Development </a>
                                </li>
                                <li>
                                    <a href="">Javascript Training</a>
                                </li>

                                <li><a routerLink="/fullstackdevelopment">Full Stack Development</a>
                                </li>

                                <li>
                                    <a routerLink="/uiuxdesigner">UI/UX Training</a>
                                </li>

                                <li class="divider"></li>
                                <li class="dropdown-header">BUSINESS PRODUCTIVITY COURSES</li>
                                <li><a routerLink="/tally">Tally Training</a></li>
                                <li><a routerLink="/basiccomputer">Basic Computer Training</a></li>
                                <li><a routerLink="/msoffice">MS Office Training</a></li>
                                <li><a routerLink="/msexcel">MS Excel Training</a></li>
                                <li><a href="#">Autocad Training</a></li>
                                <!-- </ul> -->
                                <!-- </li> -->
                                <li class="col-sm-4">
                                    <ul class="active">
                                        <li class="dropdown-header">IT PROGRAMMING COURSES</li>
                                        <li><a routerLink="/c"> C Training </a></li>
                                        <li><a routerLink="/cpp"> C++ Training </a></li>
                                        <li><a routerLink="/sql"> PL /SQL Training</a></li>
                                        <li><a routerLink="/oracledba">Oracle DBA Training </a></li>
                                        <li><a routerLink="/java">
                                                Java Training</a></li>
                                        <li><a href=""> Android Training</a></li>
                                        <li><a routerLink="/ionic3">Ionic Training </a></li>
                                        <li><a href="angular-js-training-in-chennai.html">AngularJS Training </a></li>
                                        <li><a routerLink="/softwaretesting"> Software Testing
                                                Training </a></li>
                                        <li>
                                            <a href=""> Data science Training </a>
                                        </li>
                                        <li>
                                            <a href=""> AI Training </a>
                                        </li>

                                        <li>
                                            <a href=""> Hadoop Training </a>
                                        </li>
                                        <li>
                                            <a href="">Big Data Training </a>
                                        </li>
                                        <li>
                                            <a href=""> Appium Training </a>
                                        </li>
                                        <li>
                                            <a href="">Selenium Training</a>
                                        </li>
                                        <li>
                                            <a href="">
                                                IoT Training</a>
                                        </li>
                                        <li>
                                            <a routerLink="/blockchain">
                                                Block Chain Training</a>
                                        </li>
                                        <li>
                                            <a href="">
                                                Machine Learning </a>
                                        </li>

                                        <li>
                                            <a href="">
                                                Soft Skills Training </a>
                                        </li>
                                        <li>
                                            <a routerLink="/python">
                                                Python Training </a>
                                        </li>

                                    </ul>
                                </li>

                                <!-- </ul> -->

                                <!-- </li> -->
                                <li class="dropdown dropdown-large">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Career Guidance <b
                                            class="caret"></b></a>

                                    <ul class="dropdown-menu dropdown-menu-large row">
                                        <li class="col-sm-3">
                                            <ul>
                                                <li class="dropdown-header">Glyphicons</li>
                                                <li><a href="#">Interview Questions</a></li>
                                                <li class="disabled"><a href="#">Resume Building</a></li>
                                                <li><a href="#">Job Opportunities</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Dropdowns</li>
                                                <li><a href="#">Example</a></li>
                                                <li><a href="#">Aligninment options</a></li>
                                                <li><a href="#">Headers</a></li>
                                                <li><a href="#">Disabled menu items</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul>
                                                <li class="dropdown-header">Button groups</li>
                                                <li><a href="#">Basic example</a></li>
                                                <li><a href="#">Button toolbar</a></li>
                                                <li><a href="#">Sizing</a></li>
                                                <li><a href="#">Nesting</a></li>
                                                <li><a href="#">Vertical variation</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Button dropdowns</li>
                                                <li><a href="#">Single button dropdowns</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul>
                                                <li class="dropdown-header">Input groups</li>
                                                <li><a href="#">Basic example</a></li>
                                                <li><a href="#">Sizing</a></li>
                                                <li><a href="#">Checkboxes and radio addons</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Navs</li>
                                                <li><a href="#">Tabs</a></li>
                                                <li><a href="#">Pills</a></li>
                                                <li><a href="#">Justified</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul>
                                                <li class="dropdown-header">Navbar</li>
                                                <li><a href="#">Default navbar</a></li>
                                                <li><a href="#">Buttons</a></li>
                                                <li><a href="#">Text</a></li>
                                                <li><a href="#">Non-nav links</a></li>
                                                <li><a href="#">Component alignment</a></li>
                                                <li><a href="#">Fixed to top</a></li>
                                                <li><a href="#">Fixed to bottom</a></li>
                                                <li><a href="#">Static top</a></li>
                                                <li><a href="#">Inverted navbar</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </li>
                                <li class="dropdown dropdown-large">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Online Training</a>
                                </li>
                                <li class="dropdown dropdown-large">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Corporate Training</a>
                                </li>
                                <li class="dropdown dropdown-large">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Placements</a>
                                </li>
                                <li class="dropdown dropdown-large">
                                    <a href="#" routerLink="/contactus" class="dropdown-toggle" data-toggle="dropdown">Contact Us</a>
                                </li>
                                <!-- </ul> -->

                                <!-- </div> -->
                                <!-- /.nav-collapse --><!--/.nav-collapse -->
                                <!-- </div>      -->
                                </a>
                        </li>
                    </ul>
                </li>
            </ul>
            </li>
            </ul>
        </div>

    </nav>
</section>
<!-- End menu -->
<!-- Start search box -->
<div id="mu-search">
    <div class="mu-search-area">
        <button class="mu-search-close"><span class="fa fa-close"></span></button>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="mu-search-form">
                        <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End search box -->