
<!-- Start footer -->
<footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Trending  Courses</h4>
                <ul>
                  <li><a href="#">Python Training in Chennai</a></li>
                  <li><a href="">Data Science Training in Chennai</a></li>
                  <li><a href="">AWS Training in Chennai</a></li>
                  <li><a href="">Azure Training in Chennai</a></li>
                  <li><a href="">Angular Training in Chennai</a></li>
                  <li><a href="">React JS Training in Chennai</a></li>
                  <li><a href="">Big Data Hadoop Training in Chennai</a></li>
               <li><a href="">Full Stack Developer Online Training</a></li>
                
                  
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Quick Links</h4>
                <ul>
                  <li><a href="">About</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="">Placement</a></li>
                  <li><a href="">Student Testimonials</a></li>
                  <li><a href="">Careers</a></li>   
                   <li><a href="">FAQ</a></li>   
                    <li><a href="">Sitemap</a></li>            
                </ul>
              </div>
            </div>
           
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Reach Us</h4>
                <address>
                  <p>+91-9840380243</p>
                  
                  <p>www.skiftereducation.com</p>
                  <p>info@skiftereducation.com</p>
                </address>
              </div>
            </div>
             <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>News letter</h4>
                <p>Get latest update, news & academic offers</p>
                <form class="mu-subscribe-form">
                  <input type="email" placeholder="Type your Email">
                  <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                </form>               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; Copyright 2022 Skifter Education | All Right Reserved. Designed & Maintaining by <a href="http://skiftertechnologies.com'/" rel="nofollow">Skifter Technologies</a></p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>
  <!-- End footer -->