 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> Software Testing Course in Chennai</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Software Testing Course</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4> Software Testing Course</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>Software Testing Course in Chennai</h2>
                          
                           <h4>Description</h4>
                           
                     <p>Skifter Education is the best software testing training institute in Chennai with placement assistance for its students.</p>   
                <p>Our software testing course covers current standard technical testing modules available in testing training. You are put through applicable hands-on software testing training modules. You gain real-time working skills on modern testing tools like Selenium WebDriver, Bugzilla, and Testlink.</p></div>
                     
              </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                       <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                 <h4 class="panel-title">
                                    Section 1: Course Overview and Career Path in Testing  
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                        
                     </div>
                     <div class="panel panel-default panel-faq">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                               <h4 class="panel-title">
                                  Section 2: Software Development Life Cycle Models  
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                           <div class="panel-body">
                              <div class="row ">
                                 <ul>
                                     <li><i class="fa fa-crosshairs"></i>Introduction</li>
                                     <li><i class="fa fa-crosshairs"></i>Project vs Product</li>
                                     <li><i class="fa fa-crosshairs"></i>Objectives of Testing</li>
                                     <li><i class="fa fa-crosshairs"></i>Verification and Validation</li>
                                     <li><i class="fa fa-crosshairs"></i>Testing Principles</li>
                                     <li><i class="fa fa-crosshairs"></i>Different Types of Application</li>
                                     <li><i class="fa fa-crosshairs"></i>Desktop, Web and Mobile Applications Testing</li>
                                 </ul>
                                   
                                </div>
                               </div>
                       </div>
                   </div>
                   <div class="panel panel-default panel-faq">
                     <div class="panel-heading">
                         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                             <h4 class="panel-title">
                                Section 3: Software Testing Life Cycle 
                                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                             </h4>
                         </a>
                     </div>
         
                 </div>
                 <div class="panel panel-default panel-faq">
                   <div class="panel-heading">
                       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                           <h4 class="panel-title">
                              Section 4: What are the Different Types of Requirement Documents?
                               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                           </h4>
                       </a>
                   </div>
                   <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                       <div class="panel-body">
                          <div class="row ">
                             <ul>
                                 <li><i class="fa fa-crosshairs"></i>Software Requirements Specifications (SRS) document</li>
                                 <li><i class="fa fa-crosshairs"></i>Business Requirement Specification (BRS) document</li>
                                 <li><i class="fa fa-crosshairs"></i>Functional Requirement Specification (FRS) document</li>
                             </ul>
                               
                            </div>
                           </div>
                   </div>
               </div>
               <div class="panel panel-default panel-faq">
                 <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                         <h4 class="panel-title">
                            Section 5: Software Test Levels 
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                     </a>
                 </div>
                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                     <div class="panel-body">
                        <div class="row ">
                         <ul>
                             <li><i class="fa fa-crosshairs"></i>Unit Testing</li>
                             <li><i class="fa fa-crosshairs"></i>Integration Testing</li>
                             <li><i class="fa fa-crosshairs"></i>System Testing</li>
                             <li><i class="fa fa-crosshairs"></i>Acceptance Testing</li>
                         </ul>
                             
                          </div>
                         </div>
                 </div>
             </div>
             <div class="panel panel-default panel-faq">
               <div class="panel-heading">
                   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                       <h4 class="panel-title">
                          Section 6: Software Test Types 
                           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                       </h4>
                   </a>
               </div>
               <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                   <div class="panel-body">
                      <div class="row ">
                         <ul>
                             <li><i class="fa fa-crosshairs"></i>Functional Testing</li>
                             <li><i class="fa fa-crosshairs"></i>Non-functional Testing</li>
                             <li><i class="fa fa-crosshairs"></i>Structural Testing</li>
                             <li><i class="fa fa-crosshairs"></i>Re-testing and Regression Testing
                         </li>
                             <li><i class="fa fa-crosshairs"></i>Maintenance Testing</li>
                         </ul>
                           
                        </div>
                       </div>
               </div>
           </div>
           <div class="panel panel-default panel-faq">
             <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                     <h4 class="panel-title">
                        Section 7: Test Design/ Techniques 
                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                     </h4>
                 </a>
             </div>
             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                 <div class="panel-body">
                    <div class="row ">
                     <ul>
                         <li><i class="fa fa-crosshairs"></i>Static Testing</li>
                         <li><i class="fa fa-crosshairs"></i>Dynamic Testing</li>
                         <li><i class="fa fa-crosshairs"></i>White Box Testing/ Structure Testing</li>
                         <li><i class="fa fa-crosshairs"></i>Black Box Testing</li>
                     </ul>
                         
                      </div>
                     </div>
             </div>
         </div>
         <div class="panel panel-default panel-faq">
           <div class="panel-heading">
               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                   <h4 class="panel-title">
                      Section 8: Specification-Based or Black-Box Techniques  
                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                   </h4>
               </a>
           </div>
           <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
               <div class="panel-body">
                  <div class="row ">
                     <ul>
                         <li><i class="fa fa-crosshairs"></i>Equivalence Partitioning  </li>
                         <li><i class="fa fa-crosshairs"></i>Boundary Value Analysis </li>
                         <li><i class="fa fa-crosshairs"></i>State Transition Testing </li>
                         <li><i class="fa fa-crosshairs"></i>Decision Table Testing  </li>
                         <li><i class="fa fa-crosshairs"></i>Use Case Testing</li>
                         <li><i class="fa fa-crosshairs"></i>Cause-Effect Graphing  </li>
                         <li><i class="fa fa-crosshairs"></i>Syntax Testing</li>
                     </ul>
                       
                    </div>
                   </div>
           </div>
       </div>
       <div class="panel panel-default panel-faq">
         <div class="panel-heading">
             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                 <h4 class="panel-title">
                    Section 9: Structure-Based or White-box Techniques  
                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                 </h4>
             </a>
         </div>
         <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
             <div class="panel-body">
                <div class="row ">
                 <ul>
                     <li><i class="fa fa-crosshairs"></i>Statement Testing </li>
                     <li><i class="fa fa-crosshairs"></i>Branch Testing </li>
                     <li><i class="fa fa-crosshairs"></i>Condition Testing</li>
                     <li><i class="fa fa-crosshairs"></i>Data Flow Testing</li>
                 </ul>
                     
                  </div>
                 </div>
         </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
               <h4 class="panel-title">
                  Section 10:  Experience-Based Techniques  
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
                 <ul>
                     <li><i class="fa fa-crosshairs"></i>Scenario Testing  </li>
                     <li><i class="fa fa-crosshairs"></i>Error Guessing  </li>
                     <li><i class="fa fa-crosshairs"></i>Random Testing</li>
                     <li><i class="fa fa-crosshairs"></i>Exploratory Testing</li>
                 </ul>
                   
                </div>
               </div>
       </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
             <h4 class="panel-title">
                Section 11:  How to Choose Test Techniques   
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
           <h4 class="panel-title">
              Section 12: Test Management  
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Difference between Use cases, Test cases and Scenarios</li>
                 <li><i class="fa fa-crosshairs"></i>Difference between Test plan and Strategy</li>
                 <li><i class="fa fa-crosshairs"></i>Preparing a Test Case Document using test design techniques</li>
                 <li><i class="fa fa-crosshairs"></i>Executing Test Cases </li>
                 <li><i class="fa fa-crosshairs"></i>Build Release process </li>
                 <li><i class="fa fa-crosshairs"></i>Effective Defect Reporting</li>
                 <li><i class="fa fa-crosshairs"></i>Defect Categorization
                 <ul>
                 <li><i class="fa fa-crosshairs"></i>Concept about error, bug, defect and failure
             </li>
                 <li><i class="fa fa-crosshairs"></i>Preparing Bug report</li>
                 <li><i class="fa fa-crosshairs"></i>Bug life Cycle</li>
                 <li><i class="fa fa-crosshairs"></i>Entry and Exit Criteria</li>
                 <li><i class="fa fa-crosshairs"></i>Priority and Severity
             </li>
                 <li><i class="fa fa-crosshairs"></i>Defects &amp; cost of quality</li>
             </ul>
                 </li>
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
           <h4 class="panel-title">
              Section 13:  Traceability Matrix 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
           <h4 class="panel-title">
              Section 14: Test Closure 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Criteria for test closure
               </li>
                 <li><i class="fa fa-crosshairs"></i>Test Summary reports
              </li>
             
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
           <h4 class="panel-title">
              Section 15:  Defect/Issue Reporting Tools 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>JIRA
               </li>
                 <li><i class="fa fa-crosshairs"></i>Bugzilla
              </li>
             <li><i class="fa fa-crosshairs"></i>Mantis
              </li>
             <li><i class="fa fa-crosshairs"></i>TFS
              </li>
             
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-16">
           <h4 class="panel-title">
              Section 16: Test Management Tools  
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-16" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>qTest
               </li>
                 <li><i class="fa fa-crosshairs"></i>zephyr
              </li>
             <li><i class="fa fa-crosshairs"></i>TFS
              </li>
             <li><i class="fa fa-crosshairs"></i>TestLink
              </li>
             
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
           <h4 class="panel-title">
              Section 17: Test Metrics 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-17" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Test planning and activities
             
               </li>
                 <li><i class="fa fa-crosshairs"></i>Test Estimation
             
              </li>
             
             
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-18">
           <h4 class="panel-title">
              Section 18: Test Progress Monitoring and Control 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-18" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Test Progress Monitoring
             
               </li>
                 <li><i class="fa fa-crosshairs"></i>Test Reporting
             
              </li>
             <li><i class="fa fa-crosshairs"></i>Test Control 
             
              </li>
             
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-19">
           <h4 class="panel-title">
              Section 19: Risk and Testing  
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Project Risks
             
             
               </li>
                 <li><i class="fa fa-crosshairs"></i>Product Risks
             
             
              </li>
             <li><i class="fa fa-crosshairs"></i>Incident Management
              
             
              </li>
             
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-20">
           <h4 class="panel-title">
              Section 20: Agile Testing  
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-20" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Exploratory testing: How?</li>
                 <li><i class="fa fa-crosshairs"></i>Exploratory testing: Why?</li>
                 <li><i class="fa fa-crosshairs"></i>Exploratory testing: Problems
             </li>
                 <li><i class="fa fa-crosshairs"></i>Mentality in testing</li>
                 <li><i class="fa fa-crosshairs"></i>Mindset</li>
                 <li><i class="fa fa-crosshairs"></i>Flow of test session</li>
                 <li><i class="fa fa-crosshairs"></i>Rapid test design for new features</li>
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-21">
           <h4 class="panel-title">
          Session 21:  Real Project Testing Process in Agile (Finance Domain)  
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-21" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Project Requirement</li>
                 <li><i class="fa fa-crosshairs"></i>Test strategy and plan</li>
                 <li><i class="fa fa-crosshairs"></i>Test design or test case preparation</li>
                 <li><i class="fa fa-crosshairs"></i>Test execution</li>
                 <li><i class="fa fa-crosshairs"></i>Test reporting</li>
                 <li><i class="fa fa-crosshairs"></i>Test metrics</li>
             <li><i class="fa fa-crosshairs"></i>Why Test Automation?</li>
                 <li><i class="fa fa-crosshairs"></i>Automation Feasibility Analysis</li>
                 <li><i class="fa fa-crosshairs"></i>Planning And Design</li>
                 <li><i class="fa fa-crosshairs"></i>Test Environment Setup</li>
                 <li><i class="fa fa-crosshairs"></i>Automation Script Generation</li>
                 <li><i class="fa fa-crosshairs"></i>Test Execution using Selenium</li>
                 <li><i class="fa fa-crosshairs"></i>Defect Analysis &amp; Fixing</li>
                 <li><i class="fa fa-crosshairs"></i>Cost involved in Automation
             </li>
                 <li><i class="fa fa-crosshairs"></i>Automation applied to different Types of Testing
             </li>
                     
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-22">
           <h4 class="panel-title">
          Session 22: Course Overview and Career Path in Automation Testing 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-23">
           <h4 class="panel-title">
          Session 23:  Introduction
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-23" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>What is automation testing?</li>
                 <li><i class="fa fa-crosshairs"></i>When to go for automation?</li>
                 <li><i class="fa fa-crosshairs"></i>When NOT to go for automation?</li>
                 <li><i class="fa fa-crosshairs"></i>Different automation tools</li>
                 <li><i class="fa fa-crosshairs"></i>Advantages of automation</li>
                 <li><i class="fa fa-crosshairs"></i>Criteria for automation</li>
                 <li><i class="fa fa-crosshairs"></i>Difference between manual testing and automation testing</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-24">
           <h4 class="panel-title">
          Session 24:  Introduction to Selenium
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-24" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>What is selenium tool?</li>
                 <li><i class="fa fa-crosshairs"></i>Difference between Selenium and QTP</li>
                 <li><i class="fa fa-crosshairs"></i>Use of selenium tool in automation</li>
                 <li><i class="fa fa-crosshairs"></i>Features/advantages of selenium tool</li>
                 <li><i class="fa fa-crosshairs"></i>Selenium components and architecture
             
                 </li><li><i class="fa fa-crosshairs"></i>IDE Overview</li>
                 <li><i class="fa fa-crosshairs"></i>RC Overview</li>
                 <li><i class="fa fa-crosshairs"></i>Selenium-Grid</li>
                 <li><i class="fa fa-crosshairs"></i>Selenium Web Driver/Selenium 3.0</li>
             
                 
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-25">
           <h4 class="panel-title">
          Session 25:  Introduction to Websites 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-25" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Html Element Basics</li>
                 <li><i class="fa fa-crosshairs"></i>Tag</li>
                 <li><i class="fa fa-crosshairs"></i> Attribute, Property</li>
                 <li><i class="fa fa-crosshairs"></i>Text</li>
                 <li><i class="fa fa-crosshairs"></i>Locators</li>
                 <li><i class="fa fa-crosshairs"></i>Selenium Locators</li>
                 <li><i class="fa fa-crosshairs"></i> Locators Strategy</li>
                 <li><i class="fa fa-crosshairs"></i>Best Practices</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-26">
           <h4 class="panel-title">
          Session 26:  Basics Of Java - Introdution Of Java
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-26" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Java Installation</li>
                 <li><i class="fa fa-crosshairs"></i>Introduction to all predefined packages</li>
                 <li><i class="fa fa-crosshairs"></i>More about JVM,JRE&amp;JDK</li>
                 <li><i class="fa fa-crosshairs"></i>Types of Variables</li>
                 <li><i class="fa fa-crosshairs"></i>Data Types in Java</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-27">
           <h4 class="panel-title">
          Session 27: I/O Streams
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-27" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>I/O using Java</li>
                 <li><i class="fa fa-crosshairs"></i>Files (Create/Read/Write operations on files)</li>
                 <li><i class="fa fa-crosshairs"></i>Reading data from Property files using java program</li>
                 <li><i class="fa fa-crosshairs"></i>Reading and Writing data from/to Excel files using Apache POI API and JXL API</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-28">
           <h4 class="panel-title">
          Session 28:  Selenium IDE and RC Introduction
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-28" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Installing Selenium IDE</li>
                 <li><i class="fa fa-crosshairs"></i>Selenium Commands</li>
                 <li><i class="fa fa-crosshairs"></i>Actions, Asserts, Assessors.</li>
                 <li><i class="fa fa-crosshairs"></i>Developing Test Cases &amp; Test Suites with Selenium-IDE</li>
                 <li><i class="fa fa-crosshairs"></i>Introduction to Selenium RC</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-29">
           <h4 class="panel-title">
          Session 29:  Installations 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-29" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Add your content...eclipse-Oxygen</li>
                 <li><i class="fa fa-crosshairs"></i>JDK 1.8</li>
                 <li><i class="fa fa-crosshairs"></i>Firefox 47.0.1 , firebug and firepath</li>
                 <li><i class="fa fa-crosshairs"></i>Set up testing, Maven and Selenium (2.53.1 &amp;3.0 +) for eclipse</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-30">
           <h4 class="panel-title">
          Session 30:  Selenium Webdriver 2.0 And 3.0 Introduction 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-30" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Selenium WebDriver Introduction</li>
                 <li><i class="fa fa-crosshairs"></i>WebDriver Vs RC</li>
                 <li><i class="fa fa-crosshairs"></i>Download and Configure WebDriver with Eclipse</li>
                 <li><i class="fa fa-crosshairs"></i>Simple Testcase</li>
                 <li><i class="fa fa-crosshairs"></i>Open and Close Browser</li>
                 <li><i class="fa fa-crosshairs"></i>Cross Browser Testing - Firefox, IE, Chrome, Edge.</li>
                 <li><i class="fa fa-crosshairs"></i>UI elements Locators.</li>
                 <li><i class="fa fa-crosshairs"></i>Identifying WebElement using id, name, link text, class, xpath, css</li>
                 <li><i class="fa fa-crosshairs"></i>Handling various WebElement using WebDriver</li>
                 <li><i class="fa fa-crosshairs"></i>Handling Mouse movements and keyboard Events</li>
                 <li><i class="fa fa-crosshairs"></i>Gecko-Driver</li>
                 <li><i class="fa fa-crosshairs"></i>File uploading using Auto-It and Robot.</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-31">
           <h4 class="panel-title">
               Session 31:  Selenium Grid  
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-31" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Establish Hub &amp; Node</li>
                 <li><i class="fa fa-crosshairs"></i>Integrating WebDriver &amp; GRID</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-32">
           <h4 class="panel-title">
          Session 32:  Framework
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-32" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>What is a Framework</li>
                 <li><i class="fa fa-crosshairs"></i>Types of Frameworks</li>
                 <li><i class="fa fa-crosshairs"></i>What is linear framework</li>
                 <li><i class="fa fa-crosshairs"></i>What is modular framework</li>
                 <li><i class="fa fa-crosshairs"></i>What is data driven framework</li>
                 <li><i class="fa fa-crosshairs"></i>What is keyword driven framework</li>
                 <li><i class="fa fa-crosshairs"></i>What is hybrid framework</li>
                 <li><i class="fa fa-crosshairs"></i>POM Design Pattern</li>
                 <li><i class="fa fa-crosshairs"></i>Advantages of POM</li>
                 <li><i class="fa fa-crosshairs"></i>Implementing  Project using POM Framework</li>
                 <li><i class="fa fa-crosshairs"></i>Use of framework</li>
                 <li><i class="fa fa-crosshairs"></i>Explaining about your framework</li>
                 <li><i class="fa fa-crosshairs"></i>How to develop a framework</li>
                 <li><i class="fa fa-crosshairs"></i>Integration of the framework</li>
                 <li><i class="fa fa-crosshairs"></i>How to execute scripts from framework</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-33">
           <h4 class="panel-title">
          Session 33:  Testing Framework 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-33" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>How to Install testing plug-in in Eclipse?</li>
                 <li><i class="fa fa-crosshairs"></i>Testing Annotations
             </li>
                 <li><i class="fa fa-crosshairs"></i>Testing sample script
             </li>
                 <li><i class="fa fa-crosshairs"></i>Writing Selenium testing script from scratch</li>
                 <li><i class="fa fa-crosshairs"></i>Creating Test suites using testing</li>
                 <li><i class="fa fa-crosshairs"></i>Reports generation using testing</li>
                 <li><i class="fa fa-crosshairs"></i>Parameterized test cases using testing framework</li>
                 <li><i class="fa fa-crosshairs"></i>Preparing testing Parallel Suite</li>
                 <li><i class="fa fa-crosshairs"></i>Running test multiple times, depends on Methods,Grouping</li>
                 <li><i class="fa fa-crosshairs"></i>Testing Listener Sample Program
             </li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-34">
             <h4 class="panel-title">
            Session 34: Configuration Management 
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-34" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Jenkins Installation</li>
                 <li><i class="fa fa-crosshairs"></i>Maven Installation</li>
                 <li><i class="fa fa-crosshairs"></i>Dependencies and configure Maven Project</li>
                 <li><i class="fa fa-crosshairs"></i>Integrate Maven projects in Jenkins.</li>
             </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-35">
             <h4 class="panel-title">
            Session 35:   Introduction to Database Interaction  
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-36">
             <h4 class="panel-title">
            Session 36:  Automation Test Reports 
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-37">
             <h4 class="panel-title">
            Session 37: Maven 
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-37" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Maven Features</li>
                 <li><i class="fa fa-crosshairs"></i>Maven Build Process and Dependencies</li>
                 <li><i class="fa fa-crosshairs"></i>Maven Automation Project Build</li>
             </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-38">
             <h4 class="panel-title">
            Session 38:  Jenkins 
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-38" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Install Jenkins</li>
                 <li><i class="fa fa-crosshairs"></i>Setup Maven Project in Jenkins</li>
                 <li><i class="fa fa-crosshairs"></i>Schedule the build</li>
                 <li><i class="fa fa-crosshairs"></i>Practice Jenkins implementation using Selenium testcases</li>
             </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-39">
             <h4 class="panel-title">
            Session 39:  Continuous Integration with Jenkins  
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-39" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>What is Continuous Integration?</li>
                 <li><i class="fa fa-crosshairs"></i>Need and application for Continuous Integration</li>
                 <li><i class="fa fa-crosshairs"></i>Plugins in Jenkins</li>
                 <li><i class="fa fa-crosshairs"></i>Setting up a Jenkins Job</li>
                 <li><i class="fa fa-crosshairs"></i>Setting up a Maven, testing and Selenium integrated project</li>
                 <li><i class="fa fa-crosshairs"></i>Scheduling Jenkins for automatic execution</li>
                 <li><i class="fa fa-crosshairs"></i>Managing Jenkins Job</li>
             </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-40">
             <h4 class="panel-title">
            Session 40:  Interview Preparations
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-40" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Common Interview Questions</li>
                 <li><i class="fa fa-crosshairs"></i>Where to focus - Pareto Rule?</li>
                 <li><i class="fa fa-crosshairs"></i>How to answer technically challenging questions
             </li>
                 <li><i class="fa fa-crosshairs"></i>Selenium Challenges</li>
                 <li><i class="fa fa-crosshairs"></i>Interview Coaching and Best Practices</li>
                 <li><i class="fa fa-crosshairs"></i>Resume Writing</li>
             </ul>
              </div>
             </div>
     </div>
   </div>
               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>