 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Social Media Marketing Training</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Social Media Marketing Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>Social Media Marketing Training Content</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>Social Media Marketing Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>Search Engine Optimization (SEO) is the method of promoting the quality of visits to a website in search engine. This SEO technique will increase both your website’s position and site visitors through the organic or natural search results which can be learned through our advanced SEO training.</p>
                          
                          
                          
                        
                         
                         
               </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
               <div class="panel-group i-accordion">
             <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#aboutus2" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span>Module 1: Introduction</h6>
                 <i class="fa pull-right fa-chevron-down"></i>
               </div>
               <div id="aboutus2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                 <div class="panel-body">
                 <ul>
           <li><i class="fa fa-crosshairs"></i>Overview Top Social Media Platform</li>
           <li><i class="fa fa-crosshairs"></i>Social Media Optimization</li>
           <li><i class="fa fa-crosshairs"></i>What is Social Media Optimization?</li>
           <li><i class="fa fa-crosshairs"></i>Why Social Media Need Small Business</li>
           <li><i class="fa fa-crosshairs"></i>Audience, Engagement, Reach</li>
           <li><i class="fa fa-crosshairs"></i>News Feed, Timeline, Post</li>
           <li><i class="fa fa-crosshairs"></i>Social Media Newsfeed Algorithm</li>
         </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#whoweare2" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span> Module 2: Facebook Optimization</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="whoweare2" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
                 <ul>
           <li><i class="fa fa-crosshairs"></i>Facebook Profile Vs Business Page</li>
           <li><i class="fa fa-crosshairs"></i>How to Create Facebook Business Page</li>
           <li><i class="fa fa-crosshairs"></i>Understand Facebook Business Categories</li>
           <li><i class="fa fa-crosshairs"></i>How to Set Target Audience</li>
           <li><i class="fa fa-crosshairs"></i>Create Effective Page Timeline</li>
           <li><i class="fa fa-crosshairs"></i>Set You Call to Action Button</li>
           <li><i class="fa fa-crosshairs"></i>How to effectively fill your business information</li>
           <li><i class="fa fa-crosshairs"></i>How to Set Country and Age Restriction</li>
           <li><i class="fa fa-crosshairs"></i>Event Page</li>
           <li><i class="fa fa-crosshairs"></i>Offer Post</li>
           <li><i class="fa fa-crosshairs"></i>How to Create and Participate Facebook groups</li>
           <li><i class="fa fa-crosshairs"></i>How to Effectively Update Your in Page Timeline</li>
           <li><i class="fa fa-crosshairs"></i>Timing for Update Status of Business</li>
           <li><i class="fa fa-crosshairs"></i>Publishing Tools</li>
           <li><i class="fa fa-crosshairs"></i>Report - Insight</li>
         </ul>
                 </div>
               </div>
             </div>
             <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus2" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span>Module 3: Facebook Marketing</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="contactus2" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>How to create a Facebook ad account</li>
           <li><i class="fa fa-crosshairs"></i>Understanding Facebook Ad Account</li>
           <li><i class="fa fa-crosshairs"></i>What is Campaign Objective</li>
           <li><i class="fa fa-crosshairs"></i>How to select Right Budget for your Business</li>
           <li><i class="fa fa-crosshairs"></i>Bid Strategies</li>
           <li><i class="fa fa-crosshairs"></i>How to Find the Right Audience on Facebook</li>
           <li><i class="fa fa-crosshairs"></i>Targeting Examples for Different Industries - Real Estate, Education, Ecommerce, etc</li>
           <li><i class="fa fa-crosshairs"></i>What is Ad Placement?</li>
           <li><i class="fa fa-crosshairs"></i>What is Identity?</li>
           <li><i class="fa fa-crosshairs"></i>Ad Setup?</li>
           <li><i class="fa fa-crosshairs"></i>Ad Creatives</li>
           <li><i class="fa fa-crosshairs"></i>Understanding Custom Audience</li>
           <li><i class="fa fa-crosshairs"></i>What is Pixel?</li>
           <li><i class="fa fa-crosshairs"></i>How to Install Pixel</li>
           <li><i class="fa fa-crosshairs"></i>URL Parameters</li>
           <li><i class="fa fa-crosshairs"></i>How to bill for facebook Ads</li>
           <li><i class="fa fa-crosshairs"></i>Measure your Ads</li>
           <li><i class="fa fa-crosshairs"></i>Managing your ads</li>
           <li><i class="fa fa-crosshairs"></i>How to remarketing on Facebook help your business</li>
           <li><i class="fa fa-crosshairs"></i>Track engagement</li>
           <li><i class="fa fa-crosshairs"></i>Ad types</li>
           <li><i class="fa fa-crosshairs"></i>Campaign Measurement</li>
           <li><i class="fa fa-crosshairs"></i>Conversion Tracking</li>
           <li><i class="fa fa-crosshairs"></i>Tracking Paid Users</li>
           <li><i class="fa fa-crosshairs"></i>Creating Customized Reports</li>
         </ul>
                 </div>
               </div>
             </div>
       <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus3" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span> Module 4: Instagram Optimization</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="contactus3" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Introduction.</li>
           <li><i class="fa fa-crosshairs"></i>How to Create an Instagram Business Account.</li>
           <li><i class="fa fa-crosshairs"></i>Learn about your customer with instagram insights.</li>
           <li><i class="fa fa-crosshairs"></i>How to create a successful instagram post?</li>
           <li><i class="fa fa-crosshairs"></i>Reels post.</li>
           <li><i class="fa fa-crosshairs"></i>Photo post.</li>
           <li><i class="fa fa-crosshairs"></i>Carousel post.</li>
           <li><i class="fa fa-crosshairs"></i>Use relevant tags.</li>
           <li><i class="fa fa-crosshairs"></i>Hashtag Research.</li>
         </ul>
                 </div>
               </div>
             </div>
       <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus4" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span> Module 5: Instagram Marketing</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="contactus4" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Introduction</li>
           <li><i class="fa fa-crosshairs"></i>How to create Instagram Ads -  Photo Ads, Video Ads, Carousel Ads, Collection Ads, Lead Generation Ads.</li>
           <li><i class="fa fa-crosshairs"></i>How to Increase your Sales potentially with Instagram Ads.</li>
           <li><i class="fa fa-crosshairs"></i>How to Create Instagram Story Ads, Instagram Reels Ads.</li>
           <li><i class="fa fa-crosshairs"></i>How to use the carousel Ads and Collection Ads to sell more products.</li>
           <li><i class="fa fa-crosshairs"></i>How to use Lead Generation ads to collect thousands of customers for your business.</li>
         </ul>
                 </div>
               </div>
             </div>
       <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus5" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span>Module 6: YouTube Optimization</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="contactus5" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Introduction.</li>
           <li><i class="fa fa-crosshairs"></i>How to Create a Youtube Channel.</li>
           <li><i class="fa fa-crosshairs"></i>What is Youtube Studio?</li>
           <li><i class="fa fa-crosshairs"></i>Channel Customization.</li>
           <li><i class="fa fa-crosshairs"></i>How to create a Playlist.</li>
           <li><i class="fa fa-crosshairs"></i>What is Monetization?</li>
           <li><i class="fa fa-crosshairs"></i>What are Copyrights?</li>
           <li><i class="fa fa-crosshairs"></i>How to upload videos</li>
           <li><i class="fa fa-crosshairs"></i>How to Optimize Title, Description, Hashtags.</li>
           <li><i class="fa fa-crosshairs"></i>How to Create Video Chapters.</li>
           <li><i class="fa fa-crosshairs"></i>How to add different types of cards to your videos.</li>
           <li><i class="fa fa-crosshairs"></i>How to add a thumbnail.</li>
           <li><i class="fa fa-crosshairs"></i>How to add an End Screen.</li>
           <li><i class="fa fa-crosshairs"></i>Youtube Analytics.</li>
         </ul>
                 </div>
               </div>
             </div>
       <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus6" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span> Module 7: Youtube Marketing</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="contactus6" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Introduction to Video Marketing</li>
           <li><i class="fa fa-crosshairs"></i>Understanding Video Campaign</li>
           <li><i class="fa fa-crosshairs"></i>Youtube Ads Types</li>
           <li><i class="fa fa-crosshairs"></i>Bumper Ads</li>
           <li><i class="fa fa-crosshairs"></i>Skippable Ads</li>
           <li><i class="fa fa-crosshairs"></i>Non-Skippable Ads</li>
           <li><i class="fa fa-crosshairs"></i>Infeed Video Ads</li>
           <li><i class="fa fa-crosshairs"></i>Outstream Ads</li>
           <li><i class="fa fa-crosshairs"></i>Drive Conversion Ads</li>
           <li><i class="fa fa-crosshairs"></i>Ad Sequence Ads</li>
           <li><i class="fa fa-crosshairs"></i>Understanding Bid Strategy</li>
           <li><i class="fa fa-crosshairs"></i>How to Select the Right Budget for your Campaign.</li>
           <li><i class="fa fa-crosshairs"></i>How to Select the Correct Network for Video Campaign.</li>
           <li><i class="fa fa-crosshairs"></i>Video Ad Groups</li>
           <li><i class="fa fa-crosshairs"></i>Targeting Options</li>
           <li><i class="fa fa-crosshairs"></i>Bringing Visitors to Your Website Through YouTube Videos.</li>
         </ul>
                 </div>
               </div>
             </div>
       <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus7" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span>Module 8: Twitter Optimization</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="contactus7" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Introduction to Twitter</li>
           <li><i class="fa fa-crosshairs"></i>How to set up a Twitter account and optimize it.</li>
           <li><i class="fa fa-crosshairs"></i>How to come up with ideas on what to tweet about</li>
           <li><i class="fa fa-crosshairs"></i>How to get Twitter followers</li>
           <li><i class="fa fa-crosshairs"></i>How to generate more likes and engagement on your posts</li>
           <li><i class="fa fa-crosshairs"></i>Hashtag Research</li>
         </ul>
                 </div>
               </div>
             </div>
       <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus8" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span>Module 9: Twitter Marketing</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="contactus8" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Get Started with Twitter Ads</li>
           <li><i class="fa fa-crosshairs"></i>Campaign Objective.</li>
           <li><i class="fa fa-crosshairs"></i>Twitter Ad Formats.</li>
           <li><i class="fa fa-crosshairs"></i>Targeting.</li>
           <li><i class="fa fa-crosshairs"></i>Ads Best Practices.</li>
           <li><i class="fa fa-crosshairs"></i>Twitter Analytics.</li>
           <li><i class="fa fa-crosshairs"></i>Measurement.</li>
         </ul>
                 </div>
               </div>
             </div>
       <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus9" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span>Module 10: LinkedIn Optimization</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="contactus9" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Introduction to LinkedIn Optimization</li>
           <li><i class="fa fa-crosshairs"></i>Individual Page Vs Company Page</li>
           <li><i class="fa fa-crosshairs"></i>Connection</li>
           <li><i class="fa fa-crosshairs"></i>Jobs</li>
           <li><i class="fa fa-crosshairs"></i>My Network</li>
           <li><i class="fa fa-crosshairs"></i>Group</li>
           <li><i class="fa fa-crosshairs"></i>Hashtags</li>
         </ul>
                 </div>
               </div>
             </div>
       <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus10" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span>Module 11: LinkedIn Marketing</h6>
                 <i class="fa pull-right fa-chevron-down"></i>
               </div>
               <div id="contactus10" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Creating Company Page</li>
           <li><i class="fa fa-crosshairs"></i>Types of Campaigns</li>
           <li><i class="fa fa-crosshairs"></i>Audience Targeting</li>
           <li><i class="fa fa-crosshairs"></i>Bidding Strategies</li>
           <li><i class="fa fa-crosshairs"></i>Advertising in LinkedIn</li>
           <li><i class="fa fa-crosshairs"></i>Reporting</li>
         </ul>
                 </div>
               </div>
             </div>
     <div class="panel panel-success">
               <div class="panel-heading collapsed" data-toggle="collapse" data-parent=".i-accordion" href="#contactus11" aria-expanded="false">
                 <h6 class="panel-title"> <span class=" fa fa-paper-plane-o"></span>Module 12: Pinterest Optimization</h6>
                 <i class="fa fa-chevron-down pull-right"></i>
               </div>
               <div id="contactus11" class="panel-collapse collapse" aria-expanded="false">
                 <div class="panel-body">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Pinterest Introduction</li>
           <li><i class="fa fa-crosshairs"></i>Pinterest Profile Optimization</li>
           <li><i class="fa fa-crosshairs"></i>Pinterest Board Creation</li>
           <li><i class="fa fa-crosshairs"></i>Pins Posted</li>
           <li><i class="fa fa-crosshairs"></i>Pinterest Increase Followers</li>
           <li><i class="fa fa-crosshairs"></i>Website Verification</li>
           <li><i class="fa fa-crosshairs"></i>Business Account</li>
           <li><i class="fa fa-crosshairs"></i>Pinterest Analytics</li>
         </ul>
                 </div>
               </div>
             </div>
           </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>

  </section>
 