 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> JAVA Training</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">JAVA Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4> JAVA Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2> JAVA Training in chennai</h2>
                          
                           <h4>Description</h4>
                           
                     <p>Professional Java training in Chennai is provided to you by our Java experts. Our Java training bridges the gap between your college education and IT industry. Our Java course syllabus includes intensive practical-oriented training aimed at considering real-world problems. This will help you to gain industry exposure that fits into any related job requirements.</p>
                   <p>The Java training is designed to cater to the needs of both beginners and professionals who want to study at an advanced level. The Java course has adequate resources including, online classes, virtual labs, and practice tests.</p>
                   <p>Our complete Java course teaches you the syntax and core APIs of Java programming language. We also train you on the conventions and practical techniques that are required to code Java professionally.</p>
                 </div>
                     
              </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                       <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                 <h4 class="panel-title">
                                                Section 1: Introduction to Oops Concepts
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
       <li><i class="fa fa-crosshairs"></i>Benefits of Oop Programming</li>
       <li><i class="fa fa-crosshairs"></i>Comparison of Oop Programming with Structural Procedural</li>
       <li><i class="fa fa-crosshairs"></i>Oops Defnition</li>
       <li><i class="fa fa-crosshairs"></i>Application of Oop</li>
     </ul>
       </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                               <h4 class="panel-title">
                                              Section 2: Java Introduction
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                           <div class="panel-body">
                              <div class="row ">
                <ul>
     <li><i class="fa fa-crosshairs"></i>Features of Java</li>
     <li><i class="fa fa-crosshairs"></i>Java virtual Machine</li>
     <li><i class="fa fa-crosshairs"></i>Jvm Tasks</li>
     <li><i class="fa fa-crosshairs"></i>Security</li>
     <li><i class="fa fa-crosshairs"></i>Portablity</li>
     <li><i class="fa fa-crosshairs"></i>Java Applets and Application</li>
     <li><i class="fa fa-crosshairs"></i>Class Loader &amp; byte Code Verifier</li>
   </ul>
     </div>
                         </div>
                       </div>
                   </div>
                   <div class="panel panel-default panel-faq">
                     <div class="panel-heading">
                         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                             <h4 class="panel-title">
                                            Section 3: Java Fundamendals
                                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                             </h4>
                         </a>
                     </div>
                     <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                         <div class="panel-body">
                            <div class="row ">
              <ul>
   <li><i class="fa fa-crosshairs"></i>Types of Java Programs-(Application Program or Stand Alone Program)</li>
   <li><i class="fa fa-crosshairs"></i>Java Architecture.</li>
   <li><i class="fa fa-crosshairs"></i>Jdk tools ( javac, java, jdb, rmic, jar, servlet runner, applet viewer)</li>
   <li><i class="fa fa-crosshairs"></i>Java Standard Library ( jsl)</li>
   <li><i class="fa fa-crosshairs"></i>Important Packages ( java. Lang, java.util, java.io, java.awt, java.applet)</li>
   <li><i class="fa fa-crosshairs"></i>Finalizers, Use of Final,Transient,Volatile,super and this keyword</li>
  </ul>
   </div>
                       </div>
                     </div>
                 </div>
                 <div class="panel panel-default panel-faq">
                   <div class="panel-heading">
                       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                           <h4 class="panel-title">
                                          Section 4: Java Programming
                               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                           </h4>
                       </a>
                   </div>
                   <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                       <div class="panel-body">
                          <div class="row ">
            <ul>
   <li><i class="fa fa-crosshairs"></i>Compiling and Running Java Programs</li>
   <li><i class="fa fa-crosshairs"></i>Comments in a Program</li>
   <li><i class="fa fa-crosshairs"></i>Command Line Argument</li>
 </ul>
 </div>
                     </div>
                   </div>
               </div>
               <div class="panel panel-default panel-faq">
                 <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                         <h4 class="panel-title">
                                        Section 5: Data types
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                     </a>
                 </div>
                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                     <div class="panel-body">
                        <div class="row ">
          <ul>
 <li><i class="fa fa-crosshairs"></i>Tokens</li>
 <li><i class="fa fa-crosshairs"></i>Alphabets</li>
 <li><i class="fa fa-crosshairs"></i>Identifiers</li>
 <li><i class="fa fa-crosshairs"></i>Constants</li>
 <li><i class="fa fa-crosshairs"></i>Type Casting</li>
 <li><i class="fa fa-crosshairs"></i>Types of Variables.</li>
 <li><i class="fa fa-crosshairs"></i>Dynamic initialization of variables.</li>
 <li><i class="fa fa-crosshairs"></i>Static and Dynamic initialization</li>
 </ul>
 </div>
                   </div>
                 </div>
             </div>
             <div class="panel panel-default panel-faq">
               <div class="panel-heading">
                   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                       <h4 class="panel-title">
                                      Section 6: Operators
                           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                       </h4>
                   </a>
               </div>
               <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                   <div class="panel-body">
                      <div class="row ">
        <ul>
 <li><i class="fa fa-crosshairs"></i>Arithmetic Operators</li>
 <li><i class="fa fa-crosshairs"></i>Bitwise operators</li>
 <li><i class="fa fa-crosshairs"></i>Relational Operators</li>
 <li><i class="fa fa-crosshairs"></i>Boolean Logical Operators</li>
 <li><i class="fa fa-crosshairs"></i>Assignment Operators</li>
 <li><i class="fa fa-crosshairs"></i>Operator Precedence</li>
 </ul>
 </div>
                 </div>
               </div>
           </div>
           <div class="panel panel-default panel-faq">
             <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                     <h4 class="panel-title">
                                    Section 7: Programming Constructs
                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                     </h4>
                 </a>
             </div>
             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                 <div class="panel-body">
                    <div class="row ">
      <ul>
 <li><i class="fa fa-crosshairs"></i>Java's Selection Statements</li>
 <li><i class="fa fa-crosshairs"></i>Iteration statements</li>
 <li><i class="fa fa-crosshairs"></i>Jump statements</li>
 <li><i class="fa fa-crosshairs"></i>Nested Classes</li>
 <li><i class="fa fa-crosshairs"></i>Non-static Nested Class</li>
 <li><i class="fa fa-crosshairs"></i>Static Nested Class.</li>
 <li><i class="fa fa-crosshairs"></i>Looping Statements</li>
 </ul>
 </div>
               </div>
             </div>
         </div>
         <div class="panel panel-default panel-faq">
           <div class="panel-heading">
               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                   <h4 class="panel-title">
                                  Section 8: Arrays
                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                   </h4>
               </a>
           </div>
           <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
               <div class="panel-body">
                  <div class="row ">
    <ul>
 <li><i class="fa fa-crosshairs"></i>What is an Array?</li>
 <li><i class="fa fa-crosshairs"></i>How to initialize an Array?</li>
 <li><i class="fa fa-crosshairs"></i>Types of Array</li>
 <li><i class="fa fa-crosshairs"></i>Programs Related to Arrays</li>
 <li><i class="fa fa-crosshairs"></i>Copy Constructor</li>
 <li><i class="fa fa-crosshairs"></i>Copy Constructor</li>
 <li><i class="fa fa-crosshairs"></i>Constructor Overloading</li>
 <li><i class="fa fa-crosshairs"></i>Destructor</li>
 </ul>
 </div>
             </div>
           </div>
       </div>
       <div class="panel panel-default panel-faq">
         <div class="panel-heading">
             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                 <h4 class="panel-title">
                                Section 9: Classes & Objects
                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                 </h4>
             </a>
         </div>
         <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
             <div class="panel-body">
                <div class="row ">
  <ul>
 <li><i class="fa fa-crosshairs"></i>What is Classes?</li>
 <li><i class="fa fa-crosshairs"></i>Declaring a Class</li>
 <li><i class="fa fa-crosshairs"></i>Rules for Naming Class</li>
 <li><i class="fa fa-crosshairs"></i>Creating an Object</li>
 <li><i class="fa fa-crosshairs"></i>Methods</li>
 <li><i class="fa fa-crosshairs"></i>Exploring New Operators</li>
 <li><i class="fa fa-crosshairs"></i>Constructors</li>
 </ul>
 </div>
           </div>
         </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
               <h4 class="panel-title">
                              Section 10: String Class
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>String Methods</li>
 <li><i class="fa fa-crosshairs"></i>String Buffers</li>
 <li><i class="fa fa-crosshairs"></i>String Buffer Methods</li>
 <li><i class="fa fa-crosshairs"></i>String Buffer Constructors</li>
 </ul>
 </div>
         </div>
       </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
             <h4 class="panel-title">
                            Section 11: Constructors
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
     <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>What is Constructor?</li>
 <li><i class="fa fa-crosshairs"></i>what is Default Constructor?</li>
 <li><i class="fa fa-crosshairs"></i>What is Parameterized Constructor?</li>
 <li><i class="fa fa-crosshairs"></i>Function Implicitly and Explicitly</li>
 <li><i class="fa fa-crosshairs"></i>Exploring Methods</li>
 <li><i class="fa fa-crosshairs"></i>Methods</li>
 <li><i class="fa fa-crosshairs"></i>Argument Passing</li>
 <li><i class="fa fa-crosshairs"></i>Call by Reference.</li>
 <li><i class="fa fa-crosshairs"></i>Finalize() Method</li>
 </ul>
 </div>
       </div>
     </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
           <h4 class="panel-title">
                          Section 12: Inheritance
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Inheritance Basics</li>
 <li><i class="fa fa-crosshairs"></i>Types of Inheritance</li>
 <li><i class="fa fa-crosshairs"></i>Using Super Keyword</li>
 <li><i class="fa fa-crosshairs"></i>Creating Multilevel Hierachy</li>
 <li><i class="fa fa-crosshairs"></i>Method overriding</li>
 <li><i class="fa fa-crosshairs"></i>Dynamic Method Dispatch</li>
 <li><i class="fa fa-crosshairs"></i>Using Final With Inheritance</li>
 <li><i class="fa fa-crosshairs"></i>Object Class</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
           <h4 class="panel-title">
                          Section 13: Abstract &amp; Static Class
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Abstract Class</li>
 <li><i class="fa fa-crosshairs"></i>Static Class</li>
 <li><i class="fa fa-crosshairs"></i>Use of Static Class</li>
 <li><i class="fa fa-crosshairs"></i>Difference between Abstract and an Inheritance</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
           <h4 class="panel-title">
                          Section 14: Interface & packages
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Create a Package</li>
 <li><i class="fa fa-crosshairs"></i>User Defined Packages</li>
 <li><i class="fa fa-crosshairs"></i>Pre-Defined Packages</li>
 <li><i class="fa fa-crosshairs"></i>Class Member Access Protection</li>
 <li><i class="fa fa-crosshairs"></i>Class Path</li>
 <li><i class="fa fa-crosshairs"></i>Creating an Interface (using, extending).</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
           <h4 class="panel-title">
                          Section 15: Exception handling
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Syntax for Exception Handling Mechanism</li>
 <li><i class="fa fa-crosshairs"></i>Try, Catch, Multiple Catch Block</li>
 <li><i class="fa fa-crosshairs"></i>Checked and un checked exceptions</li>
 <li><i class="fa fa-crosshairs"></i>Catch Block (or) Multiple Catch</li>
 <li><i class="fa fa-crosshairs"></i>Throw</li>
 <li><i class="fa fa-crosshairs"></i>Throws</li>
 <li><i class="fa fa-crosshairs"></i>Finally Block, User Defined Exceptions</li>
 <li><i class="fa fa-crosshairs"></i>Chained Exceptions</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-16">
           <h4 class="panel-title">
                          Section 16: Streams &amp; Files
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-16" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>I/O Basics</li>
 <li><i class="fa fa-crosshairs"></i>Reading Console Input</li>
 <li><i class="fa fa-crosshairs"></i>Writing Console Output</li>
 <li><i class="fa fa-crosshairs"></i>Printwriter Class</li>
 <li><i class="fa fa-crosshairs"></i>Reading and Writing Files</li>
 <li><i class="fa fa-crosshairs"></i>Assertion</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
           <h4 class="panel-title">
                          Section 17: Applet
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-17" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Applet Life Cycle</li>
 <li><i class="fa fa-crosshairs"></i>Applet Tag</li>
 <li><i class="fa fa-crosshairs"></i>Passing Parameters to Applets</li>
 <li><i class="fa fa-crosshairs"></i>Difference Between Applets and Application Program.</li>
 <li><i class="fa fa-crosshairs"></i>Converting Applet to Application</li>
 <li><i class="fa fa-crosshairs"></i>Applet Programming with AWT and Swing Components</li>
 <li><i class="fa fa-crosshairs"></i>Without using html file to Run an Applet</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-18">
           <h4 class="panel-title">
                          Section 18: Event handling
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-18" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Two Event Handling Mechanisms</li>
 <li><i class="fa fa-crosshairs"></i>Delegation Event Model</li>
 <li><i class="fa fa-crosshairs"></i>Event Classes</li>
 <li><i class="fa fa-crosshairs"></i>Eventlistener Interface</li>
 <li><i class="fa fa-crosshairs"></i>Adapter Classes</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-19">
           <h4 class="panel-title">
                          Section 19: Java Abstract Window Tool Kit
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Working with Windows &amp; Graphics</li>
 <li><i class="fa fa-crosshairs"></i>Text</li>
 <li><i class="fa fa-crosshairs"></i>Using AWT Controls</li>
 <li><i class="fa fa-crosshairs"></i>Layout Managers and Menus</li>
 <li><i class="fa fa-crosshairs"></i>Images</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-20">
           <h4 class="panel-title">
                          Section 20: Multithreading
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-20" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Thread Model</li>
 <li><i class="fa fa-crosshairs"></i>Creating a Thread using Thread Class Runnable Interface</li>
 <li><i class="fa fa-crosshairs"></i>Creating Multiple Threads</li>
 <li><i class="fa fa-crosshairs"></i>Using alive() and join()</li>
 <li><i class="fa fa-crosshairs"></i>Thread priorities</li>
 <li><i class="fa fa-crosshairs"></i>synchronization</li>
 <li><i class="fa fa-crosshairs"></i>Interthread communication</li>
 <li><i class="fa fa-crosshairs"></i>Suspending, Resuming and Stopping Threads</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-21">
           <h4 class="panel-title">
                          Section 21: JDBC
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-21" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>ODBC</li>
 <li><i class="fa fa-crosshairs"></i>Database Basics</li>
 <li><i class="fa fa-crosshairs"></i>JDBC Driver</li>
 <li><i class="fa fa-crosshairs"></i>Database Connection in Sql and Access</li>
 </ul>
 </div>
     </div>
   </div>
 </div>
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    
  </section>