 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Web Analytics Training </h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Web Analytics Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>Web Analytics Training Content</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>Web Analytics Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>Web Analytics is a science of analysis that concentrates on Internet data. It covers the collection, analysis, data-informed decisions leading to the optimization of company's digital ecosystem and maintaining business processes. Data from websites, mobile applications, social media are commonly integrated with back-office Customer Relationship Management (CRM) and Sales systems to notify business decisions. Web Analytics has become a crucial part of core business strategies, workflow optimization, and maintaining a competitive edge.</p>
                             <p>Google Analytics is a great tool that gives insights into your digital marketing activities and is essential to creating a successful online presence. Unlock the potentials of Google Analytics and see how this tool can give more than a perception of website traffic and data, but also make results in your marketing campaigns.</p>
                            
                          
                        
                          
                         
                         
               </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                         Section 1: Web Analytics
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                    <ul>
                 <li><i class="fa fa-crosshairs"></i>What’s analysis?</li>
                 <li><i class="fa fa-crosshairs"></i>Is analysis worth the effort?</li>
                 <li><i class="fa fa-crosshairs"></i>Analysis vs intuition</li>
                 <li><i class="fa fa-crosshairs"></i>What is web analytics?</li>
                 <li><i class="fa fa-crosshairs"></i>Getting started with Web Analytics</li>
         <li><i class="fa fa-crosshairs"></i>How Web Analytics works</li>
                 </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                       Section 2: Google Analytics
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
                 <li><i class="fa fa-crosshairs"></i>Navigating Google Analytics</li>
                 <li><i class="fa fa-crosshairs"></i>Google Analytics Intergration</li>
                 <li><i class="fa fa-crosshairs"></i>Traffic Sources</li>
                 <li><i class="fa fa-crosshairs"></i>Dimonsoin and Metrics</li>
                 <li><i class="fa fa-crosshairs"></i>Visitors</li>
                 <li><i class="fa fa-crosshairs"></i>Goals &amp; Ecommerce</li>
         <li><i class="fa fa-crosshairs"></i>Actionable Insights and the Big Picture</li>
         <li><i class="fa fa-crosshairs"></i>Live Data</li>
         <li><i class="fa fa-crosshairs"></i>Demographics</li>
         <li><i class="fa fa-crosshairs"></i>Real Time</li>
         <li><i class="fa fa-crosshairs"></i>Reporting</li>
         <li><i class="fa fa-crosshairs"></i>Events</li>
                 </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                      
                        
                                     
                                        
                    
 
                                                    
 
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    
  </section>
 