 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> AWS Certified Developer Associate Training </h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">AWS Certified Developer Associate Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>AWS Certified Developer Associate Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>AWS Certified Developer Associate Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>Amazon Web Services - (AWS) Certification in Chennai is fast becoming the sought-after 
                             certificate today for any IT professional working with AWS. Zuan’s AWS certified 
                             Developer Associate course in Chennai is designed in a way to help you pass the 
                             AWS Certified Developer Associate (CDA) 2020 Exam. Here, it is not essential
                              to know any specific programming knowledge to pass the examination
                              (though knowing a language would be advantageous) and no prior AWS experience 
                              is required. So once after completion of our AWS certified developer certification 
                              course in Chennai, you will learn how to develop, deploy and debug cloud-based 
                              applications using AWS. Hence, you will have mastery and experience with all the
                               major services in AWS and you’ll be in high demand by many employers and will 
                               command a superior salary.
                         </p>
                          
                           </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                         Section 1 :Introduction
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                   <li><i class="fa fa-crosshairs"></i>Introduction to AWS</li>
                   <li><i class="fa fa-crosshairs"></i>Introduction to The Certified Developer - Associate Course</li>
                   <li><i class="fa fa-crosshairs"></i>Exam Blue Print</li>
                   <li><i class="fa fa-crosshairs"></i>The Free Alexa Skill for Amazon Echo</li>
                 </ul>
                 </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                         Section 2 : Beginners Guide to IAM
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                   <li><i class="fa fa-crosshairs"></i>IAM 101</li>
                   <li><i class="fa fa-crosshairs"></i>IAM Lab</li>
                   <li><i class="fa fa-crosshairs"></i>IAM Summary</li>
                   <li><i class="fa fa-crosshairs"></i>AWS This Week</li>
                   <li><i class="fa fa-crosshairs"></i>Identity Access Management Quiz</li>
                 </ul>
                 </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                         Section 3 : Beginners Guide to EC2
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                   <li><i class="fa fa-crosshairs"></i>EC2 101</li>
                   <li><i class="fa fa-crosshairs"></i>EC2 Lab</li>
                   <li><i class="fa fa-crosshairs"></i>Using Putty For SSH (Windows Users Only)</li>
                   <li><i class="fa fa-crosshairs"></i>Elastic Load Balancer</li>
                   <li><i class="fa fa-crosshairs"></i>Route53 Lab</li>
                   <li><i class="fa fa-crosshairs"></i>CLI Demo</li>
                   <li><i class="fa fa-crosshairs"></i>EC2 with S3 Role Lab</li>
                   <li><i class="fa fa-crosshairs"></i>RDS 101</li>
                   <li><i class="fa fa-crosshairs"></i>RDS Lab</li>
                   <li><i class="fa fa-crosshairs"></i>RDS Multi-AZ &amp; Read Replicas</li>
                   <li><i class="fa fa-crosshairs"></i>Elasticache 101</li>
                   <li><i class="fa fa-crosshairs"></i>Summary</li>
                   <li><i class="fa fa-crosshairs"></i>EC2 Quiz</li>
                 </ul>
                 </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                         Section 4 : S3
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>                      
                       <li><i class="fa fa-crosshairs"></i>S3 101</li>
                       <li><i class="fa fa-crosshairs"></i>S3 Security</li>
                       <li><i class="fa fa-crosshairs"></i>S3 Policies</li>
                       <li><i class="fa fa-crosshairs"></i>S3 Encryption</li>
                       <li><i class="fa fa-crosshairs"></i>Setup Encryption On An S3 Bucket</li>
                       <li><i class="fa fa-crosshairs"></i>CORS Configuration Lab</li>
                       <li><i class="fa fa-crosshairs"></i>CloudFront</li>
                       <li><i class="fa fa-crosshairs"></i>CloudFront Lab</li>
                       <li><i class="fa fa-crosshairs"></i>S3 Performance Optimization</li>
                       <li><i class="fa fa-crosshairs"></i>S3 Performance Update</li>
                       <li><i class="fa fa-crosshairs"></i>S3 Summary</li>
                       <li><i class="fa fa-crosshairs"></i>S3 Quiz</li>
                     </ul>				</div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                         Section 5 : Introduction to Serverless Computing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                         <li><i class="fa fa-crosshairs"></i>Serverless 101</li>
                         <li><i class="fa fa-crosshairs"></i>Lambda</li>
                         <li><i class="fa fa-crosshairs"></i>API Gateway</li>
                         <li><i class="fa fa-crosshairs"></i>Build a Simple Serverless Website with Route 53, API Gateway, Lambda and S3</li>
                         <li><i class="fa fa-crosshairs"></i>Version Control With Lambda</li>
                         <li><i class="fa fa-crosshairs"></i>Make an Alexa Skill Lab</li>
                       <li><i class="fa fa-crosshairs"></i>Step Functions</li>
                       <li><i class="fa fa-crosshairs"></i>X-Ray</li>
                       <li><i class="fa fa-crosshairs"></i>Advanced API Gateway</li>
                       <li><i class="fa fa-crosshairs"></i>Advanced API Gateway</li>
                       <li><i class="fa fa-crosshairs"></i>Serverless Summary</li>
                     </ul>				</div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                         Section 6 : DynamoDB
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                       <li><i class="fa fa-crosshairs"></i>Introduction to DynamoDB</li>
                       <li><i class="fa fa-crosshairs"></i>Creating a DynamoDB Table Lab</li>
                       <li><i class="fa fa-crosshairs"></i>Indexes Deepdive</li>
                       <li><i class="fa fa-crosshairs"></i>Scan vs Query API Call</li>
                       <li><i class="fa fa-crosshairs"></i>DynamoDB Provisioned Throughput</li>
                       <li><i class="fa fa-crosshairs"></i>DynamoDB On Demand Capacity</li>
                       <li><i class="fa fa-crosshairs"></i>DynamoDB Accelerator (DAX)</li>
                       <li><i class="fa fa-crosshairs"></i>Elasticache</li>
                       <li><i class="fa fa-crosshairs"></i>DynamoDB Transactions</li>
                       <li><i class="fa fa-crosshairs"></i>DynamoDB TTL</li>
                       <li><i class="fa fa-crosshairs"></i>DynamoDB Streams</li>
                       <li><i class="fa fa-crosshairs"></i>Provisioned Throughput Exceeded &amp; Exponential Backoff</li>
                       <li><i class="fa fa-crosshairs"></i>DynamoDB Summary</li>
                       <li><i class="fa fa-crosshairs"></i>DynamoDB Quiz</li>
 
                     </ul></div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                         Section 7: KMS &amp; Encryption on AWS
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                       <li><i class="fa fa-crosshairs"></i>KMS 101</li>
                       <li><i class="fa fa-crosshairs"></i>KMS API Calls</li>
                       <li><i class="fa fa-crosshairs"></i>KMS Envelope Encryption</li>
                       <li><i class="fa fa-crosshairs"></i>KMS Exam Tips</li> 
                       <li><i class="fa fa-crosshairs"></i>KMS Quiz</li>            
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                           Section 8: Other AWS Services
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                         <li><i class="fa fa-crosshairs"></i>SQS</li>
                         <li><i class="fa fa-crosshairs"></i>Simple Notification Service</li>
                         <li><i class="fa fa-crosshairs"></i>Simple Notification Service</li> 
                         <li><i class="fa fa-crosshairs"></i>SES vs SNS</li>
                         <li><i class="fa fa-crosshairs"></i>ElasticBeanstalk 101</li>
                         <li><i class="fa fa-crosshairs"></i>Deploying Applications Using ElasticBeanstalk</li>
                         <li><i class="fa fa-crosshairs"></i>Updating ElasticBeanstalk</li> 
                         <li><i class="fa fa-crosshairs"></i>Advanced ElasticBeanstalk</li>
                         <li><i class="fa fa-crosshairs"></i>RDS &amp; ElasticBeanstalk</li>
                         <li><i class="fa fa-crosshairs"></i>Kinesis 101</li>
                         <li><i class="fa fa-crosshairs"></i>Kinesis Lab</li> 
                         <li><i class="fa fa-crosshairs"></i>Maker Labs</li>
                         <li><i class="fa fa-crosshairs"></i>Other AWS Services Summary</li>
                         <li><i class="fa fa-crosshairs"></i>Other AWS Services Quiz</li>  
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                     <h4 class="panel-title">
                                            Section 9: Developer Theory
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                         <li><i class="fa fa-crosshairs"></i>What Is CI/CD</li>
                         <li><i class="fa fa-crosshairs"></i>CodeCommit 101</li>
                         <li><i class="fa fa-crosshairs"></i>CodeCommit Lab</li>
                         <li><i class="fa fa-crosshairs"></i>CodeDeploy 101</li>
                         <li><i class="fa fa-crosshairs"></i>CodeDeploy Lab</li>
                         <li><i class="fa fa-crosshairs"></i>CodePipeline 101</li>
                         <li><i class="fa fa-crosshairs"></i>CodePipeline Lab</li>
                         <li><i class="fa fa-crosshairs"></i>Advanced CodeDeploy the AppSpec File</li>
                         <li><i class="fa fa-crosshairs"></i>Docker and CodeBuild Lab Part 1</li>
                         <li><i class="fa fa-crosshairs"></i>Docker and CodeBuild Lab Part 2</li>
                         <li><i class="fa fa-crosshairs"></i>Docker and CodeBuild Lab Summary and Exam Tips</li>
                         <li><i class="fa fa-crosshairs"></i>CloudFormation</li>
                         <li><i class="fa fa-crosshairs"></i>CloudFormation Lab</li>
                         <li><i class="fa fa-crosshairs"></i>Serverless Application Model (SAM)</li>
                         <li><i class="fa fa-crosshairs"></i>CloudFormation &amp; SAM Lab</li>
                         <li><i class="fa fa-crosshairs"></i>CloudFormation Nested Stacks</li>
                         <li><i class="fa fa-crosshairs"></i>Developer Theory Summary</li>
                         <li><i class="fa fa-crosshairs"></i>Dev Theory Quiz</li>
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                              Section 10: Advanced IAM
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                         <li><i class="fa fa-crosshairs"></i>Web Identity Federation</li>
                         <li><i class="fa fa-crosshairs"></i>Cognito User Pools</li>
                         <li><i class="fa fa-crosshairs"></i>Cognito Lab</li>
                         <li><i class="fa fa-crosshairs"></i>Inline Policies vs Managed Policies vs Custom Policies</li>
                         <li><i class="fa fa-crosshairs"></i>STS AssumeRoleWithWebIdentity</li>
                         <li><i class="fa fa-crosshairs"></i>Advanced IAM Summary</li>
                         <li><i class="fa fa-crosshairs"></i>Advanced IAM</li>
                     </ul>					</div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                                     <h4 class="panel-title">
                                              Section 11: Monitoring
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                       <li><i class="fa fa-crosshairs"></i>Introduction To CloudWatch</li>
                       <li><i class="fa fa-crosshairs"></i>CloudWatch Lab</li>
                       <li><i class="fa fa-crosshairs"></i>CloudWatch Vs CloudTrail</li>
                       <li><i class="fa fa-crosshairs"></i>Monitoring Quiz</li>
                     </ul>					</div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
                                     <h4 class="panel-title">
                                                Section 12: Updated Services
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                       <li><i class="fa fa-crosshairs"></i>Introduction</li>
                       <li><i class="fa fa-crosshairs"></i>SQS Delay Queues & Large Messages</li>
                       <li><i class="fa fa-crosshairs"></i>AWS CLI Pagination</li>
                       <li><i class="fa fa-crosshairs"></i>IAM Policy Simulator</li>
                       <li><i class="fa fa-crosshairs"></i>Kinesis Shards &amp; Consumers</li>
                       <li><i class="fa fa-crosshairs"></i>Lambda Concurrent Executions</li>
                       <li><i class="fa fa-crosshairs"></i>Lambda Versions</li>
                       <li><i class="fa fa-crosshairs"></i>Lambda &amp; VPC Access</li>
                       <li><i class="fa fa-crosshairs"></i>X-Ray Configuration</li>
                       <li><i class="fa fa-crosshairs"></i>Docker &amp; Elastic Beanstalk</li>
                       <li><i class="fa fa-crosshairs"></i>Additional Resources to Help You Pass For The Exam</li>
                       <li><i class="fa fa-crosshairs"></i>Section Summary</li>
                     </ul></div>
                               </div>
                             </div>
                         </div>
                        
                        
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
    </section>
  
