 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> Web Designing Training </h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Web Designing Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>Web Designing Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>Web Designing Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>Our Web Designing Course in Chennai is for students and professionals who want to learn skill sets to create ergonomically viable websites and web apps. Our web designing course is structured and updated to the most recent technical aspects of designing.
 
                         </p>
                           <p>If you are on the look for an inventive and promising career then our web design training is tailored to set your foot in a web designing job or use it for your own business purposes.</p>
                           
                           </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                         Section 1: Web Template Designing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
  <ul>
                     <li><i class="fa fa-crosshairs"></i>Introduction to Designing Application</li>
                     <li><i class="fa fa-crosshairs"></i>Application Tools &amp; Layout Design</li>
                     <li><i class="fa fa-crosshairs"></i>Understanding Grid System</li>
                     <li><i class="fa fa-crosshairs"></i>Understanding Various Design Layout</li>
                     <li><i class="fa fa-crosshairs"></i>Creating Layouts using Grid System</li>
                     <li><i class="fa fa-crosshairs"></i>Understanding Color Palette</li>
                     <li><i class="fa fa-crosshairs"></i>Working with Styles</li>
                     <li><i class="fa fa-crosshairs"></i>Automation</li>
                     <li><i class="fa fa-crosshairs"></i>Gif Animation</li>
                     <li><i class="fa fa-crosshairs"></i>Slicing Layouts &amp; Preparing for HTML Conversion</li>
                 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div> 
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                         Section 2: Understanding Web Concepts & Terminologies
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
  <ul>   
                     <li><i class="fa fa-crosshairs"></i>Introduction to Web Technology &amp; Web Editors</li>
                     <li><i class="fa fa-crosshairs"></i>HTML5 / CSS3 / JavaScript - Introduction to the Core Concepts</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap / jQuery - Introduction to Frameworks</li>
                     <li><i class="fa fa-crosshairs"></i>Whats New in HTML5?</li>
                     <li><i class="fa fa-crosshairs"></i>HTML5 Doctype / HTML5 Document Structure</li>
                     <li><i class="fa fa-crosshairs"></i>UTF-8 Character Encoding</li>
                     <li><i class="fa fa-crosshairs"></i>HTML Character Entities	</li>
                     <li><i class="fa fa-crosshairs"></i>Head Tag and Elements inside the Head Tag</li>
                     <li><i class="fa fa-crosshairs"></i>Meta Tags &amp; What are they used for?</li>
                 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                         Section 3: HTML Content\ Media Tags
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
  <ul>           
                 <li><i class="fa fa-crosshairs"></i>Creating a Website Project in HTML Editor</li>
                 <li><i class="fa fa-crosshairs"></i>Understanding Basic Tags / Elements and Attributes</li>
                 <li><i class="fa fa-crosshairs"></i>Working with Basic Tags and Font Formatting Tags</li>
                 <li><i class="fa fa-crosshairs"></i>Understanding Block Level Tags, Inline Tags &amp; Empty Tags</li>
                 <li><i class="fa fa-crosshairs"></i>Introduction to CSS3 / Types of CSS and Significance</li>
                 <li><i class="fa fa-crosshairs"></i>Heading Tags</li>
                 <li><i class="fa fa-crosshairs"></i>Paragraph Tags &amp; Multiple Columns</li>
                 <li><i class="fa fa-crosshairs"></i>Adding Basic Styles using HTML Attributes and CSS Styles</li>
                 <li><i class="fa fa-crosshairs"></i>Importing External Fonts</li>
                 <li><i class="fa fa-crosshairs"></i>Inserting Images &amp; Image Attributes</li>
                 <li><i class="fa fa-crosshairs"></i>Working with Image Sprites</li>
                 <li><i class="fa fa-crosshairs"></i>Working with Links &amp; Link Attributes / Link States using Pseudo Classes	</li>
                 </ul>                                    
             </div>
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                         Section 4: Lists & Tables
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
  <ul>
                             <li><i class="fa fa-crosshairs"></i>Working with Lists &amp; List Attributes</li>
                             <li><i class="fa fa-crosshairs"></i>Understanding CSS Selector</li>
                             <li><i class="fa fa-crosshairs"></i>Creating Navigation Bars using Lists</li>
                             <li><i class="fa fa-crosshairs"></i>Working with Tables &amp; Table Attributes</li>
                             <li><i class="fa fa-crosshairs"></i>HTML5 Table Elements</li>
                             <li><i class="fa fa-crosshairs"></i>Styling Tables using CSS &amp; CSS Selectors</li>
                         </ul>                                    
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                         Section 5: Section Tags
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
  <ul>
                     <li><i class="fa fa-crosshairs"></i>Understanding Blocks - Div Block</li>
                     <li><i class="fa fa-crosshairs"></i>Styling Div Blocks</li>
                     <li><i class="fa fa-crosshairs"></i>Understanding Box Model - Margins / Paddings / Borders / Border-Radius / Outlines</li>
                     <li><i class="fa fa-crosshairs"></i>Positioning Div Blocks &amp; HTML Elements</li>
                     <li><i class="fa fa-crosshairs"></i>Adding Box Shadows / Text Shadows</li>
                     <li><i class="fa fa-crosshairs"></i>Adding Background Colors / Gradients / Background Images</li>
                     <li><i class="fa fa-crosshairs"></i>CSS Overflow Property</li>
                 </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                         Section 6: HTML5 Semantic Tags
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Understanding Document Outline in HTML5</li>
                     <li><i class="fa fa-crosshairs"></i>HTML5 Semantic Tags</li>
                     <li><i class="fa fa-crosshairs"></i>Semantic Elements for Document Outlining</li>
                     <li><i class="fa fa-crosshairs"></i>Keypoints about Document Outlining</li>
                 </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                         Section 7: Media Queries
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>        
                     <li><i class="fa fa-crosshairs"></i>Media Queries Common Device Breakpoints</li>
                     <li><i class="fa fa-crosshairs"></i>Meta Viewport Tag</li>
                     <li><i class="fa fa-crosshairs"></i>Better Understanding the Grid System to Design Responsive Websites</li>
                     <li><i class="fa fa-crosshairs"></i>Apply Media Queries Based on Viewport Sizes</li>
                     <li><i class="fa fa-crosshairs"></i>Adjusting Layout Based on Orientation</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                         Section 8: CSS3 Flexbox
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>                 
                     <li><i class="fa fa-crosshairs"></i>Flex Display Type</li>
                     <li><i class="fa fa-crosshairs"></i>Order</li>
                     <li><i class="fa fa-crosshairs"></i>Flex Direction</li>
                     <li><i class="fa fa-crosshairs"></i>Flex Grow</li>
                     <li><i class="fa fa-crosshairs"></i>Flex Wrap</li>
                     <li><i class="fa fa-crosshairs"></i>Flex Shrink</li>
                     <li><i class="fa fa-crosshairs"></i>Align Flex Content</li>
                 </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                     <h4 class="panel-title">
                                         Section 9: CSS3 Animations
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul> 
                     <li><i class="fa fa-crosshairs"></i>Keyframes & Animation Property</li>
                     <li><i class="fa fa-crosshairs"></i>Animation Timing Functions</li>
                     <li><i class="fa fa-crosshairs"></i>Animation Delay</li>
                     <li><i class="fa fa-crosshairs"></i>Multi Step Transitions</li>
                     <li><i class="fa fa-crosshairs"></i>Animation Iteration Count</li>
                     <li><i class="fa fa-crosshairs"></i>Animation Direction</li>
                     <li><i class="fa fa-crosshairs"></i>Cross Browser Animation Support</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                         Section 10: CSS3 Transforms
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>       
                     <li><i class="fa fa-crosshairs"></i>2D Transforms</li>
                     <li><i class="fa fa-crosshairs"></i>3D Transforms</li>
                     <li><i class="fa fa-crosshairs"></i>Perspective</li>
                     <li><i class="fa fa-crosshairs"></i>3D Transform Functions</li>
                     <li><i class="fa fa-crosshairs"></i>Filp Cards</li>
                     <li><i class="fa fa-crosshairs"></i>Backface Visibility</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                                     <h4 class="panel-title">
                                         Section 11: Forms
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>  
                     <li><i class="fa fa-crosshairs"></i> HTML5 Form Elements	</li>
                     <li><i class="fa fa-crosshairs"></i> HTML5 Form Attributes</li>
                     <li><i class="fa fa-crosshairs"></i> HTML5 Form Validation Attributes</li>
                     <li><i class="fa fa-crosshairs"></i> Patterns for Form Validation in HTML5</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
                                     <h4 class="panel-title">
                                         Section 12: iFrames & Media Tags
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>    
                     <li><i class="fa fa-crosshairs"></i>Embedding Google Maps</li>
                     <li><i class="fa fa-crosshairs"></i>Audio / Video Elements</li>
                     <li><i class="fa fa-crosshairs"></i>Audio &amp; Video Attributes</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
                                     <h4 class="panel-title">
                                         Section 13: Mobile Framework
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Introduction to Bootstrap</li>
                     <li><i class="fa fa-crosshairs"></i>Working with CDN Links &amp; Advantages</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Grid Systems &amp; Terminologies</li>
                     <li><i class="fa fa-crosshairs"></i>Glyphicons &amp; Font Awesome</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Classes</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Image Classes</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
                                     <h4 class="panel-title">
                                         Section 14 : Bootstrap Interactive Elements
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>   
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Forms & Modals</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Scrollspy</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Navigation</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Carousel</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
                                     <h4 class="panel-title">
                                         Section 15 : Understanding javascript
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>JavaScript Introduction & Role as Client Scripting Language</li>
                     <li><i class="fa fa-crosshairs"></i>Variables, Loops &amp; Control Statements</li>
                     <li><i class="fa fa-crosshairs"></i>Arrays / Array Sorting Methods</li>
                     <li><i class="fa fa-crosshairs"></i>Creating Functions / Working with JavaScript Inbuilt Functions</li>
                     <li><i class="fa fa-crosshairs"></i>Scope</li>
                     <li><i class="fa fa-crosshairs"></i>Closures</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-16">
                                     <h4 class="panel-title">
                                         Section 16 : Document Object Model in Javascript
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-16" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Regular Expression</li>
                     <li><i class="fa fa-crosshairs"></i>Form Validation</li>
                     <li><i class="fa fa-crosshairs"></i>Events</li>
                     <li><i class="fa fa-crosshairs"></i>DOM Methods</li>
                     <li><i class="fa fa-crosshairs"></i>Manipulating HTML Elements using DOM</li>
                     <li><i class="fa fa-crosshairs"></i>DOM Styling</li>
                     <li><i class="fa fa-crosshairs"></i>Creating HTML Elements using DOM</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
                                     <h4 class="panel-title">
                                         Section 17 : HTML5 API
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-17" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Google Maps</li>
                     <li><i class="fa fa-crosshairs"></i>Geolocation</li>
                     <li><i class="fa fa-crosshairs"></i>Drag & Drop</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-18">
                                     <h4 class="panel-title">
                                         Section 18 : Understanding jQuery Framework
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-18" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>  
                     <li><i class="fa fa-crosshairs"></i>jQuery Introduction</li>
                     <li><i class="fa fa-crosshairs"></i>jQuery Effects</li>
                     <li><i class="fa fa-crosshairs"></i>jQuery Animate Function</li>
                     <li><i class="fa fa-crosshairs"></i>jQuery Chaining</li>
                     <li><i class="fa fa-crosshairs"></i>jQuery Callback Functions</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-19">
                                     <h4 class="panel-title">
                                         Section 19 : jQuery DOM Manipulation
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Add Elements</li>
                     <li><i class="fa fa-crosshairs"></i>Insert Elements</li>
                     <li><i class="fa fa-crosshairs"></i>Remove Elements</li>
                     <li><i class="fa fa-crosshairs"></i>Append Elements</li>
                     <li><i class="fa fa-crosshairs"></i>Add Class</li>
                     <li><i class="fa fa-crosshairs"></i>Toggle Class</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-20">
                                     <h4 class="panel-title">
                                         Section 20 : jQuery Events
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-20" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i> Events Types & Event Handlers</li>
                     <li><i class="fa fa-crosshairs"></i> Window Events</li>
                     <li><i class="fa fa-crosshairs"></i> Form Events</li>
                     <li><i class="fa fa-crosshairs"></i> Mouse Events</li>
                     <li><i class="fa fa-crosshairs"></i> Keyboard Events</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-21">
                                     <h4 class="panel-title">
                                         Section 21 : jQuery UI Components
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-21" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Accordion</li>
                     <li><i class="fa fa-crosshairs"></i>Datepicker</li>
                     <li><i class="fa fa-crosshairs"></i>Tabs</li>
                     <li><i class="fa fa-crosshairs"></i>Slider</li>
                     <li><i class="fa fa-crosshairs"></i>Progressbar</li>
                     <li><i class="fa fa-crosshairs"></i>Autocomplete</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
  </section>
 