 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>REACT JS TRAINING</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">React JS Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>REACT JS TRAINING CONTENT</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>React JS Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>React JS is a popular, open-source frontend JavaScript Library used for creating reusable UI components. The React JS users are top MNC giants like Facebook, Uber, Netflix and the list goes on and on. Credo Systemz is the Best React JS Training Institute in Chennai Velachery and OMR which will transform your skills into an Expert Front end engineer. React JS is all about reusable components which are focused mainly in a practical way in our React JS course. On the other hand, Credo Sytemz offers the React JS Course Online with placements.</p>
                            <p>Our React JS classes in Chennai exclusively framed a course content which covers all the important and latest concepts from scratch to advance level which is prepared by our React professional expert trainers to make it suitable for beginners as well. Our React JS course content ensures to cover all the skill set up to industrial standard to lead a successful career path. Let’s take a look below before start learning,</p>
                         
                         
               </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                        Section 1: What is React JS?
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                    <ul>
                                                 <li>React JS Introduction</li>
   <li>Advantages of React JS</li>
   <li>Work flow of React JS</li>
          <li>Scope of React JS</li>
                                             </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                    Section 2: Overview of JSX
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
                                            <li>Introduction of Virtual DOM.</li>
   <li>Difference between JS and JSX.</li>
   <li>React Components overview</li>
   <li>Containers and components</li>
   <li>What is Child Components?</li>
         <li>What is Namespaced components?</li>
   <li>What are the JavaScript expressions available in JSX?</li>
                                         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                      Section 3: React JS Environment Setups
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                <ul>
                                             <li>Node setup</li>
   <li>How to use NPM?</li>
         <li>How to create package.json and purpose of it?</li>
   <li>ES6 Introduction and features.</li>
         <li>Webpack Overview</li>
   <li>Best IDE for React JS and How to write optimized code in React JS?</li>
   <li>React JS browser plugins overview.</li>
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                     Section 4: A Real-Time Application by using React JS
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                             <ul>
                                             <li>Create a React component with JSX template.</li>
   <li>How to create Nested Components?</li>
   <li>What is React JS render?</li>
   <li>React Props overview.</li>
   <li>Introduction of Props validation with data types.</li>
   <li>Flow of States, Initialize states and update states.</li>
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                     Section 5: React JS forms and UI
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                           <ul>
                                             <li>Lists of Form components.</li>
   <li>Setup Controlled and Uncontrolled form components.</li>
   <li>Control Input elements.</li>
   <li>How to set default values on all formats of Input elements.</li>
   <li>React JS Form validations.</li>
   <li>How to write Styles?</li>
   <li>Animations overview</li>
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                       Section 6: React JS Component Life Cycles Overview
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                         <ul>
                                            <li>Initial Render</li>
   <li>Props Change</li>
   <li>Stage Change</li>
         <li>Component willMount</li>
         <li>Component didMount</li> 
   <li>Component Unmount</li>
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                            <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                       Section 7: Routing in React JS and Other JS concepts
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                   <ul>
                                             <li>Single Page Application Overview.</li>
   <li>How to configure React Router?</li>
   <li>History of Router</li>
   <li>How to Handle Conditional statement in JSX?</li>
   <li>IIFE in JSX for complex logic overview.</li>
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                     Section 8: Event Handling in JSX
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
                                            
                                             <li>onBlur, onKeyUp, onChange and other useful primary events in React JS.</li>
   <li>How to Sharing events between the components?</li>
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                     <h4 class="panel-title">
                                     Section 9: How to write Styles in React JS?
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
                                             
                                            <li>CSS and inline styles in React JS overview.</li>
   <li>Introduction to styled components</li>
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                     Section 10: React Router with Navigation
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
                                             
                                             <li>How to Load the router library?</li>
   <li>Configure the React Router?</li>
   <li>How to Pass and receive parameters?</li>
   <li>Integration of React-cookie overview.</li>
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                                     <h4 class="panel-title">
                                      Section 11: Flux, Redux overview
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
              <ul>
   <li>What is Flux Architecture?</li>
   <li>What are the Flux Components available?
 <ol>
   <li>Stores.</li>
   <li>Dispatchers.</li>
   <li>View Controllers.</li>
   <li>Actions.</li>
   <li>Views.</li>
 </ol>
 </li>
   <li>How Flux works?</li>
   <li>Flux and React works together.</li>
                                           <li>Introduction to One Store.</li>
   <li>Provider Component</li>
   <li>Actions.</li>
   <li>Reducers.</li>
         <li>sagas</li>
        <li>Dispatchers</li>
       <li>View Controllers</li>
        <li>Selectors</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                  
                            <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
                                     <h4 class="panel-title">
                                      Section 12: Unit Testing Overview
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
                                            
                                              <li>What are the necessary Tools required for Unit Testing?</li>
   <li>React Unit Testing overview</li>
   <li>Introduction to JEST.</li>
   <li>How to Test React Component?</li>
   <li>How to Test React Router?</li>
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
                                     <h4 class="panel-title">
                                      Section 13: Integration with other libraries
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
                                           <li> Gulp &amp; Browserify </li>
 <li>React with jQuery </li>
 <li>React &amp; AJAX </li>
 
                                             </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
                                     <h4 class="panel-title">
                                      Section 14: React Server Integration with Deployment
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
              <ul>
                                           <li>https</li>
                                           <li>httpster </li>
                                           <li>npm </li>
  </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
                                     <h4 class="panel-title">
                                      Section 15: Hooks
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
            <ul>
                                           <li>Understanding Hooks </li>
                                           <li>The useState hook   </li>
                                           <li>Side effects using the useEffect hook </li>
                                           <li>The useContext hook </li>
                                           <li>The useReducer hook   </li>
                                           <li>Writing your own hook  </li>
 
                                            </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-16">
                                     <h4 class="panel-title">
                                      Section 16: Code Spliting
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-16" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
                                           <li>Code splitting &amp; Suspense </li>
                                           <li>Route Based Code Splitting </li>
                                           <li>Lazy Loading </li>
                                            </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
                                     <h4 class="panel-title">
                                      Section 17: Isomorphic React
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-17" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
                                           <li>  Server Side Rendering </li>
                                           <li>SSR with React - Setup &amp; Server </li>
                                           <li>SSR with React - The Toolchain </li>
  </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-18">
                                     <h4 class="panel-title">
                                      Section 18: Testing Component
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-18" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
              <ul>
                                           <li>Using Jest with Test Utils from React-DOM </li>
                                           <li>Using Jest with the React Testing Library </li>
                                           <li>Using Jest with Enzyme </li>
 
                                            </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>           <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-19">
                                     <h4 class="panel-title">
                                      Section 19: Epilogue
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
   <li>The React ecosystem</li>
  
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
 
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-20">
                                     <h4 class="panel-title">
                                      Section 20: New Features of React 16
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-20" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
                                           <li>Handling exceptions in components </li>
                                           <li>Error boundaries </li>
 
                                            </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-21">
                                     <h4 class="panel-title">
                                      Section 21: Webpack Primer and Isomorphic React
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-21" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
                                           <li>Webpack and its use </li>
 <li>Setting up and installing Webpack</li>
 <li>Working with the configuration file of Webpack</li>
 <li>Working with loaders</li>
 <li>Quick word on lazy loading, code splitting, and tree shaking</li>
 <li>Setting up a hot module replacement</li>
 <li>Server-side rendering (SSR)</li>
 <li>Working with renderToStaticMarkup and renderToString methods</li>
 
                                            </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>                <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-22">
                                     <h4 class="panel-title">
                                      Section 22: Fetch data using GraphQL
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-22" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
                                           <li>What is GraphQL?</li>
 <li>Cons of Rest API</li>
 <li>Pros of GraphQL</li>
 <li>Frontend backend communication using GraphQL</li>
 <li>Type system</li>
 <li>GraphQL datatypes</li>
 <li>Modifiers</li>
 <li>Schemas</li>
 <li>GraphiQL tool</li>
 <li>Express framework</li>
 <li>NPM libraries to build server side of GraphQL</li>
 <li>Build a GraphQL API</li>
 <li>Apollo client</li>
 <li>NPM libraries to build client side of GraphQL</li>
 <li>How to setup Apollo client</li>
 
                                         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>                   
 <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>

  </section>
 