 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> AWS Certified Solutions Architect Training </h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">AWS Certified Solutions Architect Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>AWS Certified Solutions Architect Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>AWS Certified Solutions Architect Training in chennai</h2>
                          
                           <h4>Description</h4>
                           <p>AWS Certified Solutions Architect is one among the most sought after cloud computing certifications in the world today. Knowing this, Zuan designed an AWS cloud architect certification training in Chennai for anyone who is seeking to learn the major components of Amazon Web Services (AWS). By the end of the AWS course in Chennai, you'll be well-trained to pass the associate-level AWS Certified Solutions Architect certification exam. Do you know? The AWS certification is the in-demand for any IT professional, with average salaries above $100,000 USD. Getting trained in the AWS cloud technology can boost your salary up to 26 percent,
                              and the average salary for certified IT professionals is, on average, 11.7 percent higher than those without.
                         </p>
                          
                           </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                                Section 1: Introduction
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
      <li><i class="fa fa-crosshairs"></i>Introduction to AWS</li>
      <li><i class="fa fa-crosshairs"></i>The Exam Blueprint</li>
 </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                                Section 2: AWS Overview
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                 <li><i class="fa fa-crosshairs"></i>The History of AWS</li>
                 <li><i class="fa fa-crosshairs"></i>AWS – Complete Overview</li>
                 <li><i class="fa fa-crosshairs"></i>Signup to AWS</li>
                 <li><i class="fa fa-crosshairs"></i>Quiz 1</li>                
                 </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                                  Section 3: Identity Access Management 
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                   <li><i class="fa fa-crosshairs"></i>IAM 101</li>
                   <li><i class="fa fa-crosshairs"></i>IAM Lab</li>
                   <li><i class="fa fa-crosshairs"></i>Create a Billing Alarm</li>
                   <li><i class="fa fa-crosshairs"></i>S3 101</li>
                   <li><i class="fa fa-crosshairs"></i>Let’s Create an S3 bucket</li>
                   <li><i class="fa fa-crosshairs"></i>S3 Security and Encryption</li>
                   <li><i class="fa fa-crosshairs"></i>S3 Version Control</li>
                   <li><i class="fa fa-crosshairs"></i>S3 Lifecycle Management and Glacier</li>
                   <li><i class="fa fa-crosshairs"></i>Cross Region Replication</li>
                   <li><i class="fa fa-crosshairs"></i>Transfer Acceleration</li>
                   <li><i class="fa fa-crosshairs"></i>CloudFront Overview</li>
                   <li><i class="fa fa-crosshairs"></i>CloudFront Lab</li>
                   <li><i class="fa fa-crosshairs"></i>Snowball Overview</li>
                   <li><i class="fa fa-crosshairs"></i>Snowball Lab</li>
                   <li><i class="fa fa-crosshairs"></i>Storage Gateway</li>
                   <li><i class="fa fa-crosshairs"></i>Identity Access Management &amp; S3 Summary</li>
                   <li><i class="fa fa-crosshairs"></i>Identity Access Management &amp; S3 Quiz 2</li>
                 </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                                  Section 4: EC2 
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                       <li><i class="fa fa-crosshairs"></i>EC2 101</li>
                       <li><i class="fa fa-crosshairs"></i>Let's Get Our Hands Dirty with EC2 - Part 1</li>
                       <li><i class="fa fa-crosshairs"></i>Let's Get Our Hands Dirty with EC2 - Part 2</li>
                       <li><i class="fa fa-crosshairs"></i>Security Groups Basics</li>
                       <li><i class="fa fa-crosshairs"></i>EBS 101</li>
                       <li><i class="fa fa-crosshairs"></i>Volumes &amp; Snapshots</li>
                       <li><i class="fa fa-crosshairs"></i>AMI Types (EBS vs Instance Store)</li>
                       <li><i class="fa fa-crosshairs"></i>Encrypted Root Device Volumes &amp; Snapshots</li>
                       <li><i class="fa fa-crosshairs"></i>AWS This Week</li>
                       <li><i class="fa fa-crosshairs"></i>CloudWatch 101</li>
                       <li><i class="fa fa-crosshairs"></i>CloudWatch Lab</li>
                       <li><i class="fa fa-crosshairs"></i>The AWS Command Line</li>
                       <li><i class="fa fa-crosshairs"></i>Using IAM Roles with EC2</li>
                       <li><i class="fa fa-crosshairs"></i>Using BootStrap Scripts</li>
                       <li><i class="fa fa-crosshairs"></i>EC2 Instance Meta Data</li>
                       <li><i class="fa fa-crosshairs"></i>Elastic File System</li>
                       <li><i class="fa fa-crosshairs"></i>EC2 Placement Groups</li>
                       <li><i class="fa fa-crosshairs"></i>EC2 Summary</li>
                       <li><i class="fa fa-crosshairs"></i>EC2 Quiz 3</li>
                     </ul>					</div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                                  Section 5: Databases on AWS
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                       <ul>
                       <li><i class="fa fa-crosshairs"></i>Databases 101</li>
                       <li><i class="fa fa-crosshairs"></i>Let's Create an RDS Instance</li>
                       <li><i class="fa fa-crosshairs"></i>RDS Backups, Multi-AZ &amp; Read Replicas</li>
                       <li><i class="fa fa-crosshairs"></i>RDS Backups, Multi-AZ &amp; Read Replicas - Lab</li>
                       <li><i class="fa fa-crosshairs"></i>DynamoDB</li>
                       <li><i class="fa fa-crosshairs"></i>Redshift</li>
                       <li><i class="fa fa-crosshairs"></i>Aurora</li>
                       <li><i class="fa fa-crosshairs"></i>ElastiCache</li>
                       <li><i class="fa fa-crosshairs"></i>Databases Summary</li>
                       <li><i class="fa fa-crosshairs"></i>Guru of The Week</li>
                       <li><i class="fa fa-crosshairs"></i>Databases on AWS Quiz 4</li>                      
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                                  Section 6: Route53
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                       <ul>
                       <li><i class="fa fa-crosshairs"></i>DNS 101</li>
                       <li><i class="fa fa-crosshairs"></i>Route53 - Register A Domain Name Lab</li>
                       <li><i class="fa fa-crosshairs"></i>Route53 Routing Policies Available On AWS</li>
                       <li><i class="fa fa-crosshairs"></i>Simple Routing Policy Lab</li>
                       <li><i class="fa fa-crosshairs"></i>Weighted Routing Policy Lab</li>
                       <li><i class="fa fa-crosshairs"></i>Latency Routing Policy</li>
                       <li><i class="fa fa-crosshairs"></i>Failover Routing Policy</li>
                       <li><i class="fa fa-crosshairs"></i>Geolocation Routing Policy</li>
                       <li><i class="fa fa-crosshairs"></i>Geoproximity Routing Policy (Traffic Flow Only)</li>
                       <li><i class="fa fa-crosshairs"></i>Multivalue Answer</li>
                       <li><i class="fa fa-crosshairs"></i>Route53 Summary</li>
                       <li><i class="fa fa-crosshairs"></i>Route53 Quiz 5</li>
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                                  Section 7: VPC's
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                       <ul>
                       <li><i class="fa fa-crosshairs"></i>Introduction to VPCs</li>
                       <li><i class="fa fa-crosshairs"></i>Build A Custom VPC - Part 1</li>
                       <li><i class="fa fa-crosshairs"></i>Build A Custom VPC - Part 2</li>
                       <li><i class="fa fa-crosshairs"></i>Network Address Translation (NAT)</li>
                       <li><i class="fa fa-crosshairs"></i>Access Control Lists (ACL)</li>
                       <li><i class="fa fa-crosshairs"></i>Custom VPCs and ELBs</li>
                       <li><i class="fa fa-crosshairs"></i>VPC Flow Logs</li>
                       <li><i class="fa fa-crosshairs"></i>Bastions</li>
                       <li><i class="fa fa-crosshairs"></i>Direct Connect</li>
                       <li><i class="fa fa-crosshairs"></i>VPC End Points</li>
                       <li><i class="fa fa-crosshairs"></i>Summary</li>
                       <li><i class="fa fa-crosshairs"></i>VPCs Quiz 6</li>                      
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                                    Section 8: HA Architecture
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                       <ul>
                       <li><i class="fa fa-crosshairs"></i>Load Balancers Theory</li>
                       <li><i class="fa fa-crosshairs"></i>Load Balancers and Health Checks Lab</li>
                       <li><i class="fa fa-crosshairs"></i>Advanced Load Balancer Theory</li>
                       <li><i class="fa fa-crosshairs"></i>Autoscaling Groups Lab</li>
                       <li><i class="fa fa-crosshairs"></i>HA Architecture</li>
                       <li><i class="fa fa-crosshairs"></i>HA Word Press Site</li>
                       <li><i class="fa fa-crosshairs"></i>Setting Up EC2</li>
                       <li><i class="fa fa-crosshairs"></i>Adding Resilience and Autoscaling</li>
                       <li><i class="fa fa-crosshairs"></i>Cleaning Up</li>
                       <li><i class="fa fa-crosshairs"></i>CloudFormation</li>
                       <li><i class="fa fa-crosshairs"></i>Elastic Beanstalk</li>
                       <li><i class="fa fa-crosshairs"></i>Summary</li>
                       <li><i class="fa fa-crosshairs"></i>HA Architecture Quiz 7</li>
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                     <h4 class="panel-title">
                                                    Section 9: Applications
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                       <ul>
                       <li><i class="fa fa-crosshairs"></i>SQS</li>
                       <li><i class="fa fa-crosshairs"></i>SWF</li>
                       <li><i class="fa fa-crosshairs"></i>SNS</li>
                       <li><i class="fa fa-crosshairs"></i>Elastic Transcoder</li>
                       <li><i class="fa fa-crosshairs"></i>API Gateway</li>
                       <li><i class="fa fa-crosshairs"></i>Kinesis</li>
                       <li><i class="fa fa-crosshairs"></i>Web Identity Federation - Cognito</li>
                       <li><i class="fa fa-crosshairs"></i>Summary</li>
                       <li><i class="fa fa-crosshairs"></i>Applications Quiz 8</li>
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                                    Section 10: Serverless
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                       <ul>
                       <li><i class="fa fa-crosshairs"></i>Lambda Concepts</li>
                       <li><i class="fa fa-crosshairs"></i>Let's Build a Serverless Webpage</li>
                       <li><i class="fa fa-crosshairs"></i>Let's Build an Alexa Skill</li>
                       <li><i class="fa fa-crosshairs"></i>Summary</li>
                       <li><i class="fa fa-crosshairs"></i>Serverless Quiz 9</li>
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                                     <h4 class="panel-title">
                                                    Section 11: What's Next
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                      <ul>
                       <li><i class="fa fa-crosshairs"></i>How to Book Your Exam!</li>
                       <li><i class="fa fa-crosshairs"></i>Practice Exam 1</li>
                       <li><i class="fa fa-crosshairs"></i>Practice Exam 2</li>
                     </ul>
                     </div>
                               </div>
                             </div>
                         </div>  
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    
  </section>
