<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Digital Marketing Training</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Digital Marketing Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>Digital Marketing Training Content</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>Digital Marketing  Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <>Skifter Education is one of the leading digital marketing training institutes in Chennai. Our focus is to deliver overall understanding of digital marketing aspects to students more clearly. The advanced digital marketing course includes:
                           <ul>
   <li><strong>Search engine optimization</strong> - This helps to rank websites better in SERPs and implement on page SEO techniques to drive users.</li>
   <li><strong>Search engine marketing</strong> - Learn how to create and run responsive google display ads. This helps to connect with audiences on demographics and interests.</li>
   <li><strong>Email marketing</strong> - Never let your emails land in spam folders. Our course will give hands-on experience to strategize your email marketing better.</li>
   <li><strong>Social media marketing</strong> - You’ll Learn to build your business networks and provoke audiences towards your brand. This helps to convert website visitors into potential customers.</li>
   <li><strong>Inbound marketing</strong> - Learn step by step strategies to nurture your leads. Our course will give insights to build effective landing pages and multiply your reach.</li>
   <li><strong>web analytics</strong> - At the end of our course, you’ll get to know how to present data in storytelling formats. Also, you will get expertise in planning outreach campaigns, google analytical measurements, and many more.</li>
 </ul>
                          
                           <p>The comprehensive digital marketing course will teach you everything right from how to create your own Google Ads Campaign to driving more traffic to your landing page. Also, Digital marketing Course enables you to get practical exposure on Display Ad and retargeting techniques to gain more leads. You can even become an affiliate marketer and start making more money from internet marketing by learning Digital Marketing Courses.</p>
                           <p>This digital marketing course training is Suitable for Students who wish to kick start their career, Sales Managers, Freelancers, web designers, Business Owners to excel in the Digital Marketing field. Anyone can learn Digital Marketing Course without prior experience and knowledge. Also, our course helps students to get placed in top companies. Our digital marketing course training is provided by Certified Professionals and we assist 100% Placements.</p>
                           <p>We offer both Live In-class and Online Training for this Digital Marketing Course to our students. You will get most updated course materials to upskill your knowledge along with this digital marketing training.</p>
                         
                         
               </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                        Section 1: Fundamental of Digital Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                    <ul>
   <li>Introduction to Online Digital Marketing</li>
   <li>Importance of Digital Marketing</li>
   <li>How Does Internet Marketing Work</li>
   <li>Traditional Vs Digital Marketing</li>
   <li>The Significance of Online Marketing in Real World</li>
   <li>Increasing Visibility</li>
   <li>Visitors’ Engagement</li>
   <li>Bringing Targeted Traffic</li>
   <li>Lead Generation</li>
   <li>Converting Leads</li>
   <li>Performance Evaluation</li>
 </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                    Section 2 : Trend and Keyword Research
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
   <li>Market Research</li>
   <li>Keyword Research and Analysis</li>
   <li>SWOT Analysis of a Website</li>
   <li>Information Keyword</li>
   <li>Navigation Keyword</li>
   <li>Transaction Keyword</li>
   <li>LSI Keywords</li>
   <li>Tools Used for Keyword Research</li>
   <li>Localized Keyword Research</li>
   <li>Competitor Website Analysis</li>
   <li>Choosing Right Keywords to the Project</li>
 </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                      Section 3: Google Algorithms and Update
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                <ul>
   <li>Panda Algorithm</li>
   <li>Penguin Algorithm</li>
   <li>Hummingbird Algorithm </li>
   <li>Pirate Algorithm</li>
   <li>Rankbrain Algorithm</li>
   <li>Fred Algorithm</li>
   <li>Bert Algorithm</li>
   <li>Broadcore Algorithm Update</li>
   <li>How to Recover Website from Google Penalties</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                     Section 4 : Content Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                             <ul>
   <li><i class="fa fa-crosshairs"></i>Introduction to Blogging</li>
   <li><i class="fa fa-crosshairs"></i>Setting Up Your Own Blog</li>
   <li><i class="fa fa-crosshairs"></i>Create Blog Content </li>
   <li><i class="fa fa-crosshairs"></i>The Importance of SEOs</li>
   <li><i class="fa fa-crosshairs"></i>Content Curation &amp; The Art of Content Planning</li>
   <li><i class="fa fa-crosshairs"></i>Creating a Compelling Personality for Your Content</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                     Section 5 : Building Website using WordPress
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                          <ul>
   <li>Web Platform</li>
   <li>Landing Pages</li>
   <li>Keyword Mapping</li>
   <li>Learn How to Navigate Through Tools Inside the WordPress Dashboard</li>
   <li>How to Find the Right Theme and Plugins for Building a WordPress Website</li>
   <li>Elementor Page Builder</li>
   <li>How to Customize Themes to Build Websites</li>
   <li>How to Use Custom Post Types and Advanced Custom Fields in WordPress</li>
   <li>Understand the Architecture of Website</li>
   <li>Design Elements of Website</li>
   <li>Spacing &amp; Readability Concept</li>
   <li>All About Domain and Hosting</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                       Section 6: Search Engine Optimization (SEO)
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                        <ul>
     <li>SEO Fundamentals &amp; Concepts
 </li>
     <li>How Does Search Engine Work</li>
     <li>Search Engine Results Page (SERP)</li>
    </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                            <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                       Section 7: On-Page Optimization
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                    <ul>
   <li>Domain Selection</li>
   <li>Hosting Selection</li>
   <li>Meta Title Optimization</li>
   <li>Meta Description Optimization</li>
   <li>URL Optimization</li>
   <li>Internal and External Linking</li>
   <li>301 Redirection</li>
   <li>404 Error Pages</li>
   <li>Canonical Implementation</li>
   <li>H1, H2, H3 Tags Optimization</li>
   <li>Image Optimization</li>
   <li>Optimize SEO Content</li>
   <li>Check for Copyscape Content</li>
   <li>Landing Page Optimization</li>
   <li>No-Follow and Do-Follow</li>
   <li>Indexing and Caching</li>
   <li>Creating XML Sitemap</li>
   <li>Creating Robot.Txt</li>
   <li>HTML Validation Using W3C</li>
   <li>Bounce Rate</li>
   <li>CTR</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                      Section 8: Technical SEO
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
   <li>URL Structure and Length</li>
   <li>Analysis of Page Speed</li>
   <li>Schema.org</li>
   <li>301 Redirects</li>
   <li>Robots. TXT</li>
   <li>Internal Linking (High Priority to Low Priority) </li>
   <li>Sitemaps.XML</li>
   <li>Essential Schemas to Implement</li>
   <li>AMP</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                     <h4 class="panel-title">
                                      Section 9: Off-Page Optimization
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
   <li><i class="fa fa-crosshairs"></i>Link Building Tips &amp; Techniques</li>
   <li><i class="fa fa-crosshairs"></i>Difference Between White Hat and Black Hat SEO</li>
   <li><i class="fa fa-crosshairs"></i>Alexa Rank, Domain, Authority, Backlinks</li>
   <li><i class="fa fa-crosshairs"></i>Do’s &amp; Don’ts in Link Building</li>
   <li><i class="fa fa-crosshairs"></i>Directory Submission</li>
   <li><i class="fa fa-crosshairs"></i>Social Bookmarking Submission</li>
   <li>Search Engine Submission</li>
   <li>Article Submission</li>
   <li>Press Release Submission</li>
   <li>Forum Submission</li>
   <li>PPT Submission</li>
   <li>PDF Submission</li>
   <li>Classified Submission</li>
   <li>Blog Commenting</li>
   <li>Guest Blogging</li>
   <li>Outreach</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                     Section 10 : Google My Business (or) Local Business and Listing (or) Google Map
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
   <li>Google Places Optimization</li>
   <li>NAP (Name, Address, Place)</li>
   <li>Citations</li>
   <li>Artificial Intelligence Keywords (AI)</li>
   <li>Business Listing</li>
   <li>Local SEO</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                                     <h4 class="panel-title">
                                      Section 11 : Google Ads (or) Pay Per Click Marketing (SEM)
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
               <ul>
   <li>Introduction to Online Advertising and Ads</li>
   <li>Ads Account and Campaign Basics</li>
   <li>Ads Targeting and Placement</li>
   <li>Ads Bidding and Budgeting</li>
   <li>Ads Tools</li>
   <li>Opportunities</li>
   <li>Optimizing Performance</li>
   <li>Ads Types
   <ul>
   <li>Search Network</li>
   <li>Display Network</li>
   <li>Shopping Ads</li>
   <li>Video Ads</li>
   <li>Universal App Ads</li>
   </ul>
   </li>
   <li>UTM Generation </li>
   <li>Bidding Strategies</li>
   <li>Remarketing</li>
   <li>Performance Monitoring and Conversion Tracking</li>
   <li>Reports</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                  
                            <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
                                     <h4 class="panel-title">
                                      Secton 12 : Mobile Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
   <li>Fundaments of Mobile Marketing</li>
   <li>Importance of Mobile Marketing in the Current Scenario</li>
   <li>Forms of Mobile Marketing</li>
   <li>Geo-Targeting Campaigns for Mobile Users</li>
   <li>Measuring and Managing Campaign</li>
   <li>App &amp; Web Mobile Advertising</li>
   <li>Content Promotion</li>
   <li>Mobile Targeting and Segmentation</li>
   <li>SMS Marketing</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
                                     <h4 class="panel-title">
                                      Secton 13: Google Analytics
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                <ul>
   <li>Getting Started with Google Analytics</li>
   <li>Navigating Google Analytics</li>
   <li>Real-Time Analytics </li>
   <li>Audience </li>
   <li>Acquisition </li>
   <li>Behavior</li>
   <li>Conversion</li>
   <li>Traffic Sources</li>
   <li>Top Performing Pages </li>
   <li>Visitors</li>
   <li>Goals &amp; E-Commerce</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                   <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
                                     <h4 class="panel-title">
                                      Sectoin 14: Search Console (Beta)
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
               <ul>
   <li>URL Inspection</li>
   <li>Performance</li>
   <li>Desktop Coverage</li>
   <li>Mobile Coverage</li>
   <li>Discover</li>
   <li>Page Experience</li>
   <li>Core Web Vitals</li>
   <li>Security Issues</li>
   <li>Links</li>
   <li>Rich Snippet Tools</li>
   <li>Amp</li>
   <li>Crawling Frequency</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
                                     <h4 class="panel-title">
                                      Section 15 : Social Media Optimization (SMO)
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
            <ul>
   <li>Introduction to Social Media Networks</li>
   <li>Types of Social Media Websites</li>
   <li>Social Media Optimization Concepts</li>
   <li>Hashtags and Mentions</li>
   <li>Image Optimization and Networking</li>
   <li>Micro Blogs for Businesses</li>
   <li>Social Media Algorithm</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                     <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-16">
                                     <h4 class="panel-title">
                                      Section 16 : Facebook Optimization
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-16" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
            <ul>
   <li>Community Page Vs Profile Vs Group</li>
   <li>Creating Facebook Page for Business</li>
   <li>Increasing Followers and Doing Marketing</li>
   <li>Connecting Apps With Pages</li>
   <li>Facebook Analytics</li>
   <li>Using Third Party Applications on Facebook</li>
   <li>Event Optimization</li>
   <li>Offer Optimization </li>
   <li>Competitor Analysis</li>
   <li>Target Audience Finding</li>
   <li>Strengthen Your Brand</li>
   <li>Get More Visibility Online</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
 
                                     <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
                                     <h4 class="panel-title">
                                      Section 17 : Instagram Optimization
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-17" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Business Account Creation</li>
   <li>Hashtags Research</li>
   <li>Instagram Tracker</li>
   <li>Create Story and Decide on a Visual Theme </li>
   <li>Create Content.</li>
   <li>Nurture a Following</li>
   <li>Engage with Your Followers</li>
   <li>Watch it Growth</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-18">
                                     <h4 class="panel-title">
                                      Section 18 : Twitter Optimization
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-18" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Introduction to Twitter</li>
   <li>Creating Strong Profiles on Twitter</li>
   <li>Followers, Retweets, Clicks</li>
   <li>Competitor Analysis</li>
   <li>Twitter Analytics</li>
   <li>Hashtag Tools</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                    <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-19">
                                     <h4 class="panel-title">
                                      Section 19 : LinkedIn Optimization
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>LinkedIn Introduction</li>
   <li>Individual Profile Vs. Company Page</li>
   <li>Write an Article</li>
   <li>Audience Group Finding</li>
   <li>LinkedIn Analytics</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>  
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-20">
                                     <h4 class="panel-title">
                                      Section 20 : Pinterest Optimization
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-20" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Pinterest Introduction</li>
   <li>How Brands Use Pinterest</li>
   <li>Creating a Pinterest Account</li>
   <li>Customizing the Profile</li>
   <li>Pinterest Strategy</li>
   <li>Boards in Pinterest</li>
   <li>Pins and Links</li>
   <li>Generating Engagements</li>
   <li>Using Infographics</li>
   <li>Integrating Pinterest in Site</li>
   <li>Engagement Metrics for Pins</li>
   <li>Pinterest Analytics</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>  
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-21">
                                     <h4 class="panel-title">
                                      Section 21 : YouTube Optimization
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
          <ul>
   <li>YouTube SEO</li>
   <li>YouTube Keyword Research</li>
   <li>Channel Optimization Tools</li>
   <li>Channel Creation</li>
   <li>Channel Art Optimization</li>
   <li>Channel Icon Optimization</li>
   <li>Channel Homepage Optimization</li>
   <li>Channel Intro Video Optimization</li>
   <li>Playlist Video Optimization</li>
   <li>Playlist Title Optimization</li>
   <li>Video Creation and Optimization</li>
   <li>Video Ranking Optimization</li>
   <li>YouTube Studio</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div> 
 
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-22">
                                     <h4 class="panel-title">
                                      Section 22 : Social Media Marketing (SMM)
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-22" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
          <ul>
   <li>Introduction to Social Media Marketing</li>
   <li>Understanding Buyer Persona </li>
   <li>How Social Media Influences Marketing Strategies</li>
   <li>Viral Marketing and Its Significance</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>   
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-23">
                                     <h4 class="panel-title">
                                      Section 23 : Facebook Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-23" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Boost Post Vs Promote </li>
   <li>Types of Promotions</li>
   <li>Audience Targeting</li>
   <li>Bidding Strategies</li>
   <li>Ad Formats</li>
   <li>Ad Dimensions and Rules</li>
   <li>Remarketing Strategy (Pixel)</li>
   <li>Conversion Tracking (Pixel)</li>
   <li>Ads Manager</li>
   <li>Lead Generation</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div> 
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-24">
                                     <h4 class="panel-title">
                                      Section 24 :  Instagram Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-24" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Instagram Business Profile Optimization</li>
   <li>Instagram Marketing Influencer</li>
   <li>Instagram Paid Marketing in Feeds and Stories</li>
   <li>Business Account Promotion</li>
   <li>Bidding Strategy</li>
   <li>Budgeting Strategy</li>
   <li>Creation of Instagram Content Strategy</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>   
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-25">
                                     <h4 class="panel-title">
                                      Section 25 : Twitter Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-25" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Twitter Ads Analytics</li>
   <li>Types of Campaigns</li>
   <li>Audience Targeting</li>
   <li>Bidding Strategies</li>
   <li>Reporting</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-26">
                                     <h4 class="panel-title">
                                      Section 26 : LinkedIn Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-26" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Creating Company Page</li>
   <li>Types of Campaigns</li>
   <li>Audience Targeting</li>
   <li>Bidding Strategies</li>
   <li>Advertising in LinkedIn</li>
   <li>Reporting</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                          <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-27">
                                     <h4 class="panel-title">
                                      Section 27 : YouTube Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-27" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
          <ul>
   <li>Importance of Video Marketing</li>
   <li>Understanding Video Campaigns</li>
   <li>Types of YouTube Ads
   <ul>
   <li>In-Stream and Out-Stream Ads</li>
   <li>Bumper Ads</li>
   <li>Skipable and Non-Skipable Ads</li>
   <li>Ad Sequence</li>
   <li>Discovery Ad</li>
 </ul>
   </li>
   <li>Developing YouTube Marketing Strategies</li>
   <li>Video Ad Groups</li>
   <li>Targeting Options</li>
   <li>Understanding Bid Strategies</li>
   <li>Bringing Visitors to Your Website Through YouTube Videos</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
 
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
                                     <h4 class="panel-title">
                                      Section 28 : Online Reputation Management (ORM)
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-28" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Manage Negative Business Reviews</li>
   <li>Online Reputation Works for Business and Individuals</li>
   <li>Creating and Optimizing Positive Online Content to Eliminate Negative Reviews</li>
   <li>How to Negative Reviews on Various Platforms</li>
   <li>How to Create a Brand Management Strategies</li>
   <li>How to Get Positive Reviews and Testimonials</li>
   <li>Recognizing Potential Risks</li>
   <li>Brand Monitoring Tools</li>
   <li>ORM And SERM</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-29">
                                     <h4 class="panel-title">
                                      Section 29 : Email Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-29" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Getting to Know About the Functioning of Email Marketing</li>
   <li>Various Kinds of Email Marketing</li>
   <li>Email Marketing Strategies</li>
   <li>Mail Campaign Optimization </li>
   <li>Mail Template Creation </li>
   <li>Setting Up of Account for Email Marketing</li>
   <li>List Setup</li>
   <li>Web Form</li>
   <li>Creation of Email Broadcast</li>
   <li>Setting Up of Auto Responder</li>
   <li>Optimize the Increase Inbox Percentage</li>
   <li>Selecting the Best Email Marketing Tool Like Mailchimp</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-30">
                                     <h4 class="panel-title">
                                      Section 30 : Affiliate Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-30" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Getting to Know About the Affiliate Marketing</li>
   <li>Affiliate Marketing Strategy Planning</li>
   <li>Familiar With Affiliate Programs</li>
   <li>Legal Policies</li>
   <li>Obtaining Approval</li>
   <li>Tracking the Affiliation Codes</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-31">
                                     <h4 class="panel-title">
                                      Section 31 : App Store Optimization (ASO)
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-31" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
           <ul>
   <li>Optimize App for Better Ranking on App Store</li>
   <li>Find the Best Keywords that Will Increase Your Search Ranking</li>
   <li>How to Increase Organic Downloads of Your App</li>
   <li>How to Increase Reviews for Your App</li>
   <li>Understand the Difference Between SEO &amp; ASO</li>
   <li>Google Play Console</li>
 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>                         
 <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <li><a href="">Data Science</a></li>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
</section>
  
 