<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Php Training</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Php Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>Php Training </h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>Php Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>Sifter Education provides PHP course in Chennai, giving real-time training from beginner to advanced level programs with project-based training. The PHP course syllabus is hand-crafted by industry experts, and we adhere to the syllabus with latest technologies based on current industry demands across various disciplines. We provide in-depth training on PHP right from the fundamentals, enabling our candidates to design and create the database-driven, ‘dynamic web applications’. We help our candidates to become masters in the field through our advanced PHP training.</p>
                           
 
 
                            
                            
                          
                        
                          
                         
                         
               </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                         Section 1: Setting up PHP Server (LAMP / WAMP / XAMP)
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                  <ul>
           <li><i class="fa fa-crosshairs"></i>Installing Webserver</li>
           <li><i class="fa fa-crosshairs"></i>Changing default Server configuraiton</li>
           <li><i class="fa fa-crosshairs"></i>Changing default PHP configuration</li>
           <li><i class="fa fa-crosshairs"></i>Changing default Mysql configuration</li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
 
                           <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                         Section 2: Introduction to PHP
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                   <ul>
           <li><i class="fa fa-crosshairs"></i>Why PHP</li>
           <li><i class="fa fa-crosshairs"></i>Usage of PHP</li>
           <li><i class="fa fa-crosshairs"></i>PHP Syntax</li>
           <li><i class="fa fa-crosshairs"></i>PHP Data Types</li>
           <li><i class="fa fa-crosshairs"></i>Variable</li>
           <li><i class="fa fa-crosshairs"></i>Constant</li>
           <li><i class="fa fa-crosshairs"></i>String usage</li>
           <li><i class="fa fa-crosshairs"></i>Heredoc syntax</li>
           <li><i class="fa fa-crosshairs"></i>String functions</li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                         Section 3: Regex
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                  <ul>
           <li><i class="fa fa-crosshairs"></i>Delimiters</li>
           <li><i class="fa fa-crosshairs"></i>Metacharacters</li>
           <li><i class="fa fa-crosshairs"></i>Quantifiers</li>
           <li><i class="fa fa-crosshairs"></i>Matching and Extracting Strings</li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                         Section 4: Array
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                 <ul>
               <li><i class="fa fa-crosshairs"></i>Indexed Array</li>
               <li><i class="fa fa-crosshairs"></i>Associative array</li>
               <li><i class="fa fa-crosshairs"></i>Multidimensional array</li>
               <li><i class="fa fa-crosshairs"></i>Array functions (sorting, in_array)</li>
               <li><i class="fa fa-crosshairs"></i>Merging array</li>
               <li><i class="fa fa-crosshairs"></i>Split array</li>
               <li><i class="fa fa-crosshairs"></i>Array differencce</li>
             </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
 
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                         Section 5: Operators
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                <ul>
               <li><i class="fa fa-crosshairs"></i>Arithmetic Operators</li>
               <li><i class="fa fa-crosshairs"></i>Comparison Operators</li>
               <li><i class="fa fa-crosshairs"></i>Logical (or Relational) Operators</li>
               <li><i class="fa fa-crosshairs"></i>Assignment Operators</li>
               <li><i class="fa fa-crosshairs"></i>Conditional (or ternary) Operators</li>
             </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                          <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                         Section 6: PHP - Decision Making
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                 <ul>
               <li><i class="fa fa-crosshairs"></i>Using if...else statement</li>
               <li><i class="fa fa-crosshairs"></i>Using elseif statement</li>
               <li><i class="fa fa-crosshairs"></i>Using switch statement</li>
             </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                          <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                         Section 7: PHP – Control Structure
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                <ul>
               <li><i class="fa fa-crosshairs"></i>For Loop</li>
               <li><i class="fa fa-crosshairs"></i>While Loop</li>
               <li><i class="fa fa-crosshairs"></i>Do-while Loop</li>
               <li><i class="fa fa-crosshairs"></i>Foreach Loop</li>
               <li><i class="fa fa-crosshairs"></i>Usage of Break and Continue</li>
               <li><i class="fa fa-crosshairs"></i>Iterate an array with all loops</li>
               <li><i class="fa fa-crosshairs"></i>Populating array of data in select dropdown</li>
               <li><i class="fa fa-crosshairs"></i>Calculate the sum and maximum number of array</li>
               <li><i class="fa fa-crosshairs"></i>Printing Multidimensional array of user data in table</li>
             </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                         Section 8: Functions in PHP
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
           <li><i class="fa fa-crosshairs"></i>Built-in Functions</li>
           <li><i class="fa fa-crosshairs"></i>User - Defined Functions</li>
           <li><i class="fa fa-crosshairs"></i>Returning Values</li>
           <li><i class="fa fa-crosshairs"></i>Default Values to parameters</li>
           <li><i class="fa fa-crosshairs"></i>Scope of the variables in PHP</li>
           <li><i class="fa fa-crosshairs"></i>Pass By Value vs Reference</li>
           <li><i class="fa fa-crosshairs"></i>Dynamic Function Calls</li>
           <li><i class="fa fa-crosshairs"></i>Conditional functions</li>
           <li><i class="fa fa-crosshairs"></i>Functions within functions</li>
           <li><i class="fa fa-crosshairs"></i>Anonymous functions</li>
           <li><i class="fa fa-crosshairs"></i>Using date and time function</li>
           <li><i class="fa fa-crosshairs"></i>Using implode / explode</li>
           <li><i class="fa fa-crosshairs"></i>Swapping Two variables using references</li>
           <li><i class="fa fa-crosshairs"></i>Factorial recursion program</li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                     <h4 class="panel-title">
                                         Section 9: File Handling
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
           <li><i class="fa fa-crosshairs"></i>Creating Files, Directories</li>
           <li><i class="fa fa-crosshairs"></i>File Modes</li>
           <li><i class="fa fa-crosshairs"></i>Reading, Writing to Files</li>
           <li><i class="fa fa-crosshairs"></i>Closing, Deleting Files</li>
           <li><i class="fa fa-crosshairs"></i>Checking if File Exists</li>
           <li><i class="fa fa-crosshairs"></i>File Operations</li>
           <li><i class="fa fa-crosshairs"></i>Upload a csv file and parse it and display in table</li>
           <li><i class="fa fa-crosshairs"></i>Bulk directory Creation </li>
           <li><i class="fa fa-crosshairs"></i>Website Counter - Each visitor increments the counter written to a file.Show the counter in table cells</li>
           <li><i class="fa fa-crosshairs"></i>Program to store contact form collected information in csv file</li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                          <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                         Section 10: Form Handling
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
               <li><i class="fa fa-crosshairs"></i>GET vs POST</li>
               <li><i class="fa fa-crosshairs"></i>REQUEST method</li>
               <li><i class="fa fa-crosshairs"></i>Forms and action</li>
               <li><i class="fa fa-crosshairs"></i>Multi Input Fields</li>
               <li><i class="fa fa-crosshairs"></i>Error handling mechanisms</li>
               <li><i class="fa fa-crosshairs"></i>Handling File Uploads</li>
               <li><i class="fa fa-crosshairs"></i>Include / Require</li>
               <li><i class="fa fa-crosshairs"></i>Redirection</li>
             </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                          <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                                     <h4 class="panel-title">
                                         Section 11: Form Handling Assignments
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
           <li><i class="fa fa-crosshairs"></i>$_GET , $_POST and $_REQUEST for two forms sent using GET and POST</li>
           <li><i class="fa fa-crosshairs"></i>Calculator program to add two input box and show the value in third box</li>
           <li><i class="fa fa-crosshairs"></i>Upload a file and move the file by renaming it using uniqid to create dynamic unique files</li>
           <li><i class="fa fa-crosshairs"></i>Check if the uploaded image file is within size limit and  extensions</li>
           <li><i class="fa fa-crosshairs"></i>Program to login admin user with username admin and password redhat</li>
           <li><i class="fa fa-crosshairs"></i>Create a Photogallery where photos are uploaded to selected albums and link to albums</li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                          <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
                                     <h4 class="panel-title">
                                         Section 12: Cookies and Sessions
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
           <li><i class="fa fa-crosshairs"></i>Setting Cookies with PHP</li>
           <li><i class="fa fa-crosshairs"></i>Accessing Cookies with PHP</li>
           <li><i class="fa fa-crosshairs"></i>Deleting Cookie with PHP</li>
           <li><i class="fa fa-crosshairs"></i>Create a cookie which expires in 10 seconds</li>
           <li><i class="fa fa-crosshairs"></i>Language Preference - Storing user selected langugage preference in cookie</li>
           <li><i class="fa fa-crosshairs"></i>To Implement Remember Password</li>
           <li><i class="fa fa-crosshairs"></i>Server Session Storage </li>
           <li><i class="fa fa-crosshairs"></i>Setting and Reading Session Data </li>
           <li><i class="fa fa-crosshairs"></i>Shopping Cart - Storing an array of product ids in cart </li>
           <li><i class="fa fa-crosshairs"></i>Authenticate pages with login using session </li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
 
                                    <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
                                     <h4 class="panel-title">
                                         Section 13: PHP & jQuery
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
         <ul>
           <li><i class="fa fa-crosshairs"></i>Introduction to javascript</li>
           <li><i class="fa fa-crosshairs"></i>Introduction to jQuery ( javascript library ) </li>
           <li><i class="fa fa-crosshairs"></i>Basic DOM handling with jQuery </li>
           <li><i class="fa fa-crosshairs"></i>AJAX concept </li>
           <li><i class="fa fa-crosshairs"></i>Implementing AJAX with jQuery  </li>
           <li><i class="fa fa-crosshairs"></i>JSON handling with jQuery  </li>
           <li><i class="fa fa-crosshairs"></i>Form Validation </li>
           <li><i class="fa fa-crosshairs"></i>Using third party library </li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
                                   <h4 class="panel-title">
                                       Section 14: Object-Oriented PHP
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
                               <div class="panel-body">
                                  <div class="row ">
                            <ul>
             <li><i class="fa fa-crosshairs"></i>Understanding Object-Oriented Programming</li>
             <li><i class="fa fa-crosshairs"></i>Understanding Objects and Classes</li>
             <li><i class="fa fa-crosshairs"></i>Structuring Classes</li>
             <li><i class="fa fa-crosshairs"></i>Defining Class Properties</li>
             <li><i class="fa fa-crosshairs"></i>Defining Class Methods</li>
             <li><i class="fa fa-crosshairs"></i>Magic Methods in OOP</li>
             <li><i class="fa fa-crosshairs"></i>Using Constructors and Destructors</li>
             <li><i class="fa fa-crosshairs"></i>Using Class Inheritance</li>
             <li><i class="fa fa-crosshairs"></i>Visibility of Properties and Methods (Public, Private Protected, Static)</li>			
             <li><i class="fa fa-crosshairs"></i>Object-Oriented vs Procedural Code</li>
             <li><i class="fa fa-crosshairs"></i>Simple Multilevel Inheritance</li>
             <li><i class="fa fa-crosshairs"></i>Method Overloading and Overriding (Polymorphism)</li>
             <li><i class="fa fa-crosshairs"></i>Exception Handling with Try Catch and Finally</li>
             <li><i class="fa fa-crosshairs"></i>Design Simple class to show understood concepts of OOPs.</li>
             <li><i class="fa fa-crosshairs"></i>Interfaces and Abstract Class</li>
             <li><i class="fa fa-crosshairs"></i>Namespaces</li>
             <li><i class="fa fa-crosshairs"></i>Lazy Loading</li>		
           </ul>
                                       
                                    </div>
                                    
                            
            
                                 
            
                                   
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
                                 <h4 class="panel-title">
                                     Section 15: Sending Email
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                         <ul>
           <li><i class="fa fa-crosshairs"></i>Send email using mail() function</li>
           <li><i class="fa fa-crosshairs"></i>Send email using SMTP</li>
           <li><i class="fa fa-crosshairs"></i>Collecting form data and send in email</li>
           <li><i class="fa fa-crosshairs"></i>Sending file Attachments</li>
         </ul>
                                     
                                  </div>
                                  
                          
          
                               
          
                                 
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-16">
                               <h4 class="panel-title">
                                   Section 16: Database Handling
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-2-sub-16" class="panel-collapse collapse course-content">
                           <div class="panel-body">
                              <div class="row ">
                      <ul>
         <li><i class="fa fa-crosshairs"></i>Introduction to MySQL</li>
         <li><i class="fa fa-crosshairs"></i>Getting started with PHPMyAdmin Panel</li>
         <li><i class="fa fa-crosshairs"></i>MySQLi Library</li>
         <li><i class="fa fa-crosshairs"></i>Connecting to Database in PHP </li>
         <li><i class="fa fa-crosshairs"></i>Basic CRUD with database </li>
         <li><i class="fa fa-crosshairs"></i>Database -  OOPS way</li>
         <li><i class="fa fa-crosshairs"></i>Program </li>
         <li><i class="fa fa-crosshairs"></i>Inserting the value of form to table</li>
         <li><i class="fa fa-crosshairs"></i>Reading the created / inserted value in list</li>			
         <li><i class="fa fa-crosshairs"></i>Reading the value individually</li>
         <li><i class="fa fa-crosshairs"></i>Update / Editing the item</li>
         <li><i class="fa fa-crosshairs"></i>Delete the value</li>
         <li><i class="fa fa-crosshairs"></i>Inner, Outer Joins</li>
       </ul>
                                   
                                </div>
                                
                        
        
                             
        
                               
                           </div>
                       </div>
                   </div>
                   <div class="panel panel-default panel-faq">
                     <div class="panel-heading">
                         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
                             <h4 class="panel-title">
                                 Section 17: Image Processing using Library
                                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                             </h4>
                         </a>
                     </div>
                     <div id="faq-cat-2-sub-17" class="panel-collapse collapse course-content">
                         <div class="panel-body">
                            <div class="row ">
                   <ul>
       <li><i class="fa fa-crosshairs"></i>Image GD / Imagick Extensions</li>
       <li><i class="fa fa-crosshairs"></i>Upload image and resize / thumbnail</li>
       <li><i class="fa fa-crosshairs"></i>Adding Text on Images</li>
       <li><i class="fa fa-crosshairs"></i>Applying Watermark to Images</li>							
     </ul>
                                 
                              </div>
                              
                      
      
                           
      
                             
                         </div>
                     </div>
                 </div>
                 <div class="panel panel-default panel-faq">
                   <div class="panel-heading">
                       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-18">
                           <h4 class="panel-title">
                               Section 18: PDF Generation using Library
                               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                           </h4>
                       </a>
                   </div>
                   <div id="faq-cat-2-sub-18" class="panel-collapse collapse course-content">
                       <div class="panel-body">
                          <div class="row ">
                <ul>
     <li><i class="fa fa-crosshairs"></i>Creating PDF from html</li>	
   </ul>
                               
                            </div>
                            
                    
    
                         
    
                           
                       </div>
                   </div>
               </div>
               <div class="panel panel-default panel-faq">
                 <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-19">
                         <h4 class="panel-title">
                             Section 19: API Handling
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                     </a>
                 </div>
                 <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
                     <div class="panel-body">
                        <div class="row ">
             <ul>
   <li><i class="fa fa-crosshairs"></i>What is API</li>
   <li><i class="fa fa-crosshairs"></i>Paypal Payment Gateway Integration</li>
   <li><i class="fa fa-crosshairs"></i>Facebook API Integration</li>
 </ul>          
                          </div>
                          
                  
  
                       
  
                         
                     </div>
                 </div>
             </div>
             <div class="panel panel-default panel-faq">
               <div class="panel-heading">
                   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-20">
                       <h4 class="panel-title">
                           Section 20: MVC
                           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                       </h4>
                   </a>
               </div>
               <div id="faq-cat-2-sub-20" class="panel-collapse collapse course-content">
                   <div class="panel-body">
                      <div class="row ">
         <ul>
 <li><i class="fa fa-crosshairs"></i>MVC Concept</li>
 <li><i class="fa fa-crosshairs"></i>MVC in PHP </li>
 <li><i class="fa fa-crosshairs"></i>What is Yii / Cakephp / Codeigniter</li>
 </ul>       
                        </div>
                        
                
 
                     
 
                       
                   </div>
               </div>
           </div>
           <div class="panel panel-default panel-faq">
             <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-21">
                     <h4 class="panel-title">
                         Section 21: Mini Project using Framework
                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                     </h4>
                 </a>
             </div>
             <div id="faq-cat-2-sub-21" class="panel-collapse collapse course-content">
                 <div class="panel-body">
                    <div class="row ">
       <ul>
 <li><i class="fa fa-crosshairs"></i>Admin panel – Login, Add / Edit/ Delete</li>
 <li><i class="fa fa-crosshairs"></i>Display data in front end</li>
 </ul>      
                      </div>
                      
              
 
                   
 
                     
                 </div>
             </div>
         </div>
         <div class="panel panel-default panel-faq">
           <div class="panel-heading">
               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-22">
                   <h4 class="panel-title">
                       Section 22: Project Hosting in Internet
                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                   </h4>
               </a>
           </div>
           <div id="faq-cat-2-sub-22" class="panel-collapse collapse course-content">
               <div class="panel-body">
                  <div class="row ">
    <ul>
 <li><i class="fa fa-crosshairs"></i>Uploading local application to live server</li>
 <li><i class="fa fa-crosshairs"></i>Handling Cpanel</li>
 <li><i class="fa fa-crosshairs"></i>Handling Filezilla</li>
 </ul>     
                    </div>
                    
            
 
                 
 
                   
               </div>
           </div>
       </div>
                       
                       
                       
                       
                    
 
                                                    
 
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    
  </section>