 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Pay Per Click Training</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Pay Per Click Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>Pay Per Click Training Content</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>Pay Per Click Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>Pay Per click (PPC) is one of the main strategies used in Search Engine Marketing (SEM). It is used by marketers who want to advertise their products/services online. Google Adwords & Bing Ads reaches more than 90% of the internet users who search for information in Google and Bing.</p>
                          
                           <p>Our PPC Training Course focuses on the top three search engines such as Yahoo, Bing (MSN), and Google. This PPC training program will cover all the practical features of Google Adwords, targeting best practices for Adwords campaign - keyword selection, structure, ads position preferences, and creative optimization. Our courses are challenging even for experienced marketers. Pay Per Click training course provides a detailed and practical approach to developing and managing a successful and profitable SEM advertising campaign.</p>
                         
                         
               </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                         Section 1: Introduction
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                    <ul>
           <li><i class="fa fa-crosshairs"></i>Introduction to Google Ads</li>
           <li><i class="fa fa-crosshairs"></i>Understanding the Google Network</li>
           <li><i class="fa fa-crosshairs"></i>How Does Google Ads Work?</li>
         
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                       Section 2: Google Ads Keyword Research
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                <ul>
           <li><i class="fa fa-crosshairs"></i>What is a Keyword?</li>
           <li><i class="fa fa-crosshairs"></i>Different Types of Keywords</li>
           <li><i class="fa fa-crosshairs"></i>What is Keyword Research </li>
           <li><i class="fa fa-crosshairs"></i>Keyword Research Methodology</li>
           <li><i class="fa fa-crosshairs"></i>How to Choose the Right Keywords to Target</li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                      Section 3: Creating a Google Ads Account
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
           <li><i class="fa fa-crosshairs"></i>What is a Campaign?</li>
           <li><i class="fa fa-crosshairs"></i>Campaign Objectives</li>
           <li><i class="fa fa-crosshairs"></i>Choosing Campaign Types</li>
           <li><i class="fa fa-crosshairs"></i>Bidding</li>
           <li><i class="fa fa-crosshairs"></i>Networks</li>
           <li><i class="fa fa-crosshairs"></i>Location Targeting</li>
           <li><i class="fa fa-crosshairs"></i>Languages</li>
           <li><i class="fa fa-crosshairs"></i>Audience Segment</li>
           <li><i class="fa fa-crosshairs"></i>Budget Delivery Method</li>
           <li><i class="fa fa-crosshairs"></i>Bid Strategies: Manual vs Automated</li>
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                      Section 4: Keyword Match Types
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                            <ul>
           <li><i class="fa fa-crosshairs"></i>What are Keyword match types?</li>
           <li><i class="fa fa-crosshairs"></i>How to use match types</li>
           <li><i class="fa fa-crosshairs"></i>Broad Match</li>
           <li><i class="fa fa-crosshairs"></i>Phrase Match</li>
           <li><i class="fa fa-crosshairs"></i>Exact Match</li>
           <li><i class="fa fa-crosshairs"></i>Negative Match</li>
           <li><i class="fa fa-crosshairs"></i>Keyword Planner Tool</li>
           <li><i class="fa fa-crosshairs"></i>Creating a Plan with Estimations</li>
           <li><i class="fa fa-crosshairs"></i>Adding Keywords to Ad Groups</li>
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                      Section 5: Search Ad Campaign
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                             <ul>
           <li><i class="fa fa-crosshairs"></i>Types of Campaigns</li>
           <li><i class="fa fa-crosshairs"></i>Defining the objective of the campaign</li>
           <li><i class="fa fa-crosshairs"></i>Location Targeting</li>
           <li><i class="fa fa-crosshairs"></i>Language Settings</li>
           <li><i class="fa fa-crosshairs"></i>Google Partners</li>
           <li><i class="fa fa-crosshairs"></i>Bidding Strategies</li>
           <li><i class="fa fa-crosshairs"></i>How to choose the Budget</li>
           <li><i class="fa fa-crosshairs"></i>Ad Scheduling</li>
           <li><i class="fa fa-crosshairs"></i>Ad delivery and Ad Rotation</li>
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                       Section 6: Display Advertising
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                          <ul>
           <li><i class="fa fa-crosshairs"></i>What is Display Ads</li>
           <li><i class="fa fa-crosshairs"></i>Objectives of Display Campaign</li>
           <li><i class="fa fa-crosshairs"></i>Bidding Strategies</li>
           <li><i class="fa fa-crosshairs"></i>Budget Settings</li>
           <li><i class="fa fa-crosshairs"></i>Audience Targeting Methods</li>
           <li><i class="fa fa-crosshairs"></i>Demographic Targeting</li>
           <li><i class="fa fa-crosshairs"></i>Content-based Targeting</li>
           <li><i class="fa fa-crosshairs"></i>Automated Targeting</li>
           <li><i class="fa fa-crosshairs"></i>Types of Ad Formats</li>
           <li><i class="fa fa-crosshairs"></i>Creating Custom Ads</li>
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                            <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                       Section 7: YouTube Video Ads
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                    <ul>
           <li><i class="fa fa-crosshairs"></i>The objective of Video marketing</li>
           <li><i class="fa fa-crosshairs"></i>Types of YouTube Ads</li>
           <li><i class="fa fa-crosshairs"></i>Skippable in-stream ads.</li>
           <li><i class="fa fa-crosshairs"></i>Non-skippable in-stream ads.</li>
           <li><i class="fa fa-crosshairs"></i>In-feed video ads.</li>
           <li><i class="fa fa-crosshairs"></i>Bumper ads.</li>
           <li><i class="fa fa-crosshairs"></i>Ad Sequence.</li>
           <li><i class="fa fa-crosshairs"></i>YouTube Targeting options</li>
           <li><i class="fa fa-crosshairs"></i>Bidding Types</li>
           <li><i class="fa fa-crosshairs"></i>Reports &amp; Analysis
 </li>
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
 
                                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                       Section 8: Quality Score & Ad Rank
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                    <ul>
           <li><i class="fa fa-crosshairs"></i>What is Quality Score?</li>
           <li><i class="fa fa-crosshairs"></i>How Quality Score Affects Your Campaigns</li>
           <li><i class="fa fa-crosshairs"></i>Quality Score Factors</li>
           <li><i class="fa fa-crosshairs"></i>Understanding the Ads Auction</li>
           <li><i class="fa fa-crosshairs"></i>What is Ad Rank?</li>
           <li><i class="fa fa-crosshairs"></i>How Ad Rank Works</li>
          
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                            <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                     <h4 class="panel-title">
                                       Section 9: Conversion Tracking
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                   <ul>
           <li><i class="fa fa-crosshairs"></i>What is a Conversion?</li>
           <li><i class="fa fa-crosshairs"></i>What is Conversion Tracking?</li>
           <li><i class="fa fa-crosshairs"></i>Types of Conversions</li>
           <li><i class="fa fa-crosshairs"></i>Website Conversion</li>
           <li><i class="fa fa-crosshairs"></i>App Conversion</li>
           <li><i class="fa fa-crosshairs"></i>Call Conversion</li>
           <li><i class="fa fa-crosshairs"></i>Steps to Setting Up Conversion Tracking</li>
           
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div> 
 
                                                <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                       Section 10: Remarketing Campaign
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                  <ul>
           <li><i class="fa fa-crosshairs"></i>What is Remarketing</li>
           <li><i class="fa fa-crosshairs"></i>How to build audience list</li>
           <li><i class="fa fa-crosshairs"></i>Types of Remarketing Audience</li>
           <li><i class="fa fa-crosshairs"></i>Website audience</li>
           <li><i class="fa fa-crosshairs"></i>App Audience</li>
           <li><i class="fa fa-crosshairs"></i>Customer List</li>
           <li><i class="fa fa-crosshairs"></i>Custom Remarketing List</li>
           <li><i class="fa fa-crosshairs"></i>Create a Remarketing Campaign</li>
           <li><i class="fa fa-crosshairs"></i>Remarketing Ads</li>
           <li><i class="fa fa-crosshairs"></i>Conversion Tracking</li>
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div> 
                                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                       Section 11: Campaign Optimization
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                 <ul>
           <li><i class="fa fa-crosshairs"></i>How to segment your data</li>
           <li><i class="fa fa-crosshairs"></i>Bid Adjustments</li>
           <li><i class="fa fa-crosshairs"></i>Time of Day Reports </li>
           <li><i class="fa fa-crosshairs"></i>Location Reports</li>
           
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div> 
                                                      
 
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>

  </section>
 