 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> Blockchain Training in Chennai</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Blockchain Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4> Blockchain Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2> Blockchain Training in chennai</h2>
                          
                           <h4>Description</h4>
                           
                     <p>Blockchain training for graduates and professionals by Zuan Education, a leading Blockchain training institute in Chennai, teaches you how to implement the blockchain technology on a real-time basis. We offer the best Blockchain Course in Chennai with practical and job-oriented training. We impart knowledge which is both accurate and relevant to all candidates. Our trainers are working professionals and are experts in the field.</p>   
                </div>
                     
              </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                       <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                 <h4 class="panel-title">
                                                Section 1: Introduction to Blockchain and Cryptocurency
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                  <ul>
                 <li><i class="fa fa-crosshairs"></i>What is Blockchain? </li>
       <li><i class="fa fa-crosshairs"></i>History of Blockchain </li>
       <li><i class="fa fa-crosshairs"></i>Blockchain Architecture</li>
       <li><i class="fa fa-crosshairs"></i>Blockchain Ecosystem </li>
       <li><i class="fa fa-crosshairs"></i>Explaining Distributed Ledger </li>
       <li><i class="fa fa-crosshairs"></i>Understanding Hash</li>
       <li><i class="fa fa-crosshairs"></i>Cryptography: Consensus Verification, Proof of Work</li>
             </ul>
       </div>
                           </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                               <h4 class="panel-title">
                                              Section 2: Types of Blockchain
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                           <div class="panel-body">
                              <div class="row ">
                <ul>   
               <li><i class="fa fa-crosshairs"></i>Public Blockchain</li>
     <li><i class="fa fa-crosshairs"></i>Private Blockchain</li>
     <li><i class="fa fa-crosshairs"></i>Hybrid Blockchain</li>
     <li><i class="fa fa-crosshairs"></i>Companies currently using Blockchain</li>
           </ul>
     </div>
                         </div>
                       </div>
                   </div>
                   <div class="panel panel-default panel-faq">
                     <div class="panel-heading">
                         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                             <h4 class="panel-title">
                                            Section 3: Bitcoin Blockchain
                                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                             </h4>
                         </a>
                     </div>
                     <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                         <div class="panel-body">
                            <div class="row ">
              <ul>           
         <li><i class="fa fa-crosshairs"></i>What is Bitcoin</li>
 <li><i class="fa fa-crosshairs"></i>Transaction in Bitcoin System</li>
 <li><i class="fa fa-crosshairs"></i>Bitcoin Address</li>
 <li><i class="fa fa-crosshairs"></i>Bitcoin Transactions</li>
 <li><i class="fa fa-crosshairs"></i>Bitcoin Script Construction</li>
 <li><i class="fa fa-crosshairs"></i>Bitcoin Script Instructions</li>
 <li><i class="fa fa-crosshairs"></i>Bitcoin Network Node</li>
 <li><i class="fa fa-crosshairs"></i>Joining Bitcoin Network</li>
 <li><i class="fa fa-crosshairs"></i>Mining in Bitcoin Blockchain</li>
         </ul>
   </div>
                       </div>
                     </div>
                 </div>
                 <div class="panel panel-default panel-faq">
                   <div class="panel-heading">
                       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                           <h4 class="panel-title">
                                          Section 4: Ethereum
                               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                           </h4>
                       </a>
                   </div>
                   <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                       <div class="panel-body">
                          <div class="row ">
            <ul>
                   <li><i class="fa fa-crosshairs"></i>What is Ether and Etherenum?</li>
     <li><i class="fa fa-crosshairs"></i>Bitcoin vs Ethereum Blockchain </li>
     <li><i class="fa fa-crosshairs"></i>Etherenum Network Setup</li>
     <li><i class="fa fa-crosshairs"></i>Etherenum Virtual Machine</li>
     <li><i class="fa fa-crosshairs"></i>Types of Ethereum Accounts</li>
     <li><i class="fa fa-crosshairs"></i>Smart Contract</li>
     <li><i class="fa fa-crosshairs"></i>Ethereum Ecosystem</li>
     <li><i class="fa fa-crosshairs"></i>Installation of Geth</li>
     <li><i class="fa fa-crosshairs"></i>Installation of Ganache</li>
     <li><i class="fa fa-crosshairs"></i>Transferring Ethers Using MetaMask</li>
     <li><i class="fa fa-crosshairs"></i>Installing and Using the Mist Wallet</li>
     <li><i class="fa fa-crosshairs"></i>Ethereum Frameworks</li>
               </ul>
 </div>
                     </div>
                   </div>
               </div>
               <div class="panel panel-default panel-faq">
                 <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                         <h4 class="panel-title">
                                        Section 5: Learn Solidity for Etherenum
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                     </a>
                 </div>
                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                     <div class="panel-body">
                        <div class="row ">
          <ul>
         <li><i class="fa fa-crosshairs"></i>Overview of Solidity</li>
 <li><i class="fa fa-crosshairs"></i>Datatypes in Sollidity</li>
 <li><i class="fa fa-crosshairs"></i>Functions in Solidity</li>
 <li><i class="fa fa-crosshairs"></i>About Tokens</li>
     </ul>
 </div>
                   </div>
                 </div>
             </div>
             <div class="panel panel-default panel-faq">
               <div class="panel-heading">
                   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                       <h4 class="panel-title">
                                      Section 6: Smart Contracts 
                           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                       </h4>
                   </a>
               </div>
               <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                   <div class="panel-body">
                      <div class="row ">
        <ul>
       <li><i class="fa fa-crosshairs"></i>Smart contracts - Blockchain</li>
 <li><i class="fa fa-crosshairs"></i>How Smart Contracts Works</li>
 <li><i class="fa fa-crosshairs"></i>Smart Contracts - Subcoin </li>
   </ul>
 </div>
                 </div>
               </div>
           </div>
           <div class="panel panel-default panel-faq">
             <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                     <h4 class="panel-title">
                                    Section 7: Hyperledger 
                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                     </h4>
                 </a>
             </div>
             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                 <div class="panel-body">
                    <div class="row ">
      <ul>        
     <li><i class="fa fa-crosshairs"></i>Hyperledger and its Importance</li>
 <li><i class="fa fa-crosshairs"></i>Hyperledger Transaction</li>
 <li><i class="fa fa-crosshairs"></i>Hyperledger Architecture</li>
 <li><i class="fa fa-crosshairs"></i>Hyperledger Fabric</li>
 <li><i class="fa fa-crosshairs"></i>Distributed Ledger Technology</li>
 <li><i class="fa fa-crosshairs"></i>Access Control Language</li>
 <li><i class="fa fa-crosshairs"></i>Interacting with Business Works</li>
 
  </ul>
 </div>
               </div>
             </div>
         </div>
         <div class="panel panel-default panel-faq">
             <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                     <h4 class="panel-title">
                                    Section 8: Blockchain on Multichain
   
                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                     </h4>
                 </a>
             </div>
             <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                 <div class="panel-body">
                    <div class="row ">
                     <ul>                 
                         <li><i class="fa fa-crosshairs"></i>Introduction to Multichain</li>
                          <li><i class="fa fa-crosshairs"></i>Multichain Architecture</li>
                           <li><i class="fa fa-crosshairs"></i>Create a Multichain</li>
                            <li><i class="fa fa-crosshairs"></i>The Hand-Shaking Process</li>
                             <li><i class="fa fa-crosshairs"></i>Multichain Streams</li>
                              <li><i class="fa fa-crosshairs"></i>Consensus in Multichain</li>
                               <li><i class="fa fa-crosshairs"></i>Mining in Multichain</li>
                                <li><i class="fa fa-crosshairs"></i>Multichain Flexibility</li>
                     </ul>
 </div>
               </div>
             </div>
         </div>
         
           
                       <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    
  </section>