 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> UI UX Designer Training </h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">UI UX Designer Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>UI UX Designer Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>UI UX Designer Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>Skifter Education teaches you New Millennial user interface and user experience design courses. You are only taught New Age practices and conventions in UI and UX so that you can apply them to create modern best user experience designs in the companies you seek to get a job.
                         </p>
                          
                           </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                         Section 1 : Introduction
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>What is UX Design?</li>
                     <li><i class="fa fa-crosshairs"></i>What is Interaction Design</li>
                     <li><i class="fa fa-crosshairs"></i>UX Design Deliverables</li>
                     
                 </ul>			
                  </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                         Section 2 : UX Design
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>User Centered Design</li>
 <li><i class="fa fa-crosshairs"></i>Design Thinking</li>
 <li><i class="fa fa-crosshairs"></i>Activity Based Design</li>
 <li><i class="fa fa-crosshairs"></i>Agile Process
 </li>
                     
                 </ul>		
                  </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                         Section 3 : Interaction Design
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Ideation Methods</li>
 <li><i class="fa fa-crosshairs"></i>Interaction &amp; Prototyping</li>
 <li><i class="fa fa-crosshairs"></i>Paper Prototyping</li>
 <li><i class="fa fa-crosshairs"></i>Build your Own Prototyping</li>
 <li><i class="fa fa-crosshairs"></i>Designing a Website / Mobile App
 
 </li>
                     
                 </ul>				 </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                         Section 4 : Visual Design
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Web App UI Elements</li>
 <li><i class="fa fa-crosshairs"></i>Mobile App UI Elements</li>
 <li><i class="fa fa-crosshairs"></i>Grid Systems</li>
 <li><i class="fa fa-crosshairs"></i>Colors Theory and Palatte</li>
 <li><i class="fa fa-crosshairs"></i>Understanding Typography</li>
 <li><i class="fa fa-crosshairs"></i>Material UI and other UI Kit
 
 
 </li>
                     
                 </ul>
                 </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                         Section 5 : User Research
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
              <ul>
                     <li><i class="fa fa-crosshairs"></i>Creating Personas</li>
 <li><i class="fa fa-crosshairs"></i>Storyboards</li>
 <li><i class="fa fa-crosshairs"></i>Customer Journey Map</li>
 <li><i class="fa fa-crosshairs"></i>Information Architecture
 
 
 </li>
                     
                 </ul>				</div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                         Section 6 : Usability Testing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Testing Methods</li>
 <li><i class="fa fa-crosshairs"></i>User Testing</li>
 <li><i class="fa fa-crosshairs"></i>Usability Testing
 
 </li>
                     
                 </ul>
                 </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                         Section 7 : Portfolio
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Build your Resume</li>
 <li><i class="fa fa-crosshairs"></i>Understanding UX/UI Design Portfolio
 
 
 </li>
                     
                 </ul>
                 </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                         Section 8 : UI/UX Tools
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Sketch</li>
 <li><i class="fa fa-crosshairs"></i>Photoshop</li>
 <li><i class="fa fa-crosshairs"></i>Illustrator</li>
 <li><i class="fa fa-crosshairs"></i>Balsamiq</li>
 <li><i class="fa fa-crosshairs"></i>InVision</li>
 <li><i class="fa fa-crosshairs"></i>Adobe xd
 
 
 </li>
                     
                 </ul>
                 </div>
                               </div>
                             </div>
                         </div>
                        
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>

  </section>