 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> Tally Training in Chennai</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Tally Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4> Tally Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2> Tally Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           
                     <p>Take your accounting career forward with Tally ERP 9 Course. Skifter Education is the top Tally institute in Chennai offering Tally Course at the lowest course fees with business-focused, up-to-date syllabus and practical training.</p>   
                <p>The main aim of this Tally Course is to equip students, accountants, businessmen and other professionals with advanced Tally ERP 9 skills. It includes tally basics, financial accounting, inventory system, taxation, GST and more. There is a huge demand for professionals equipped with Tally accounting software skills to serve small and medium industry sectors. Zuan Education is one of the best Tally training centers offering real time job placement training for the benefit of your career. So, join our Tally training today and get certified to become a professional Tally Accountant.</p></div>
                     
              </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                       <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                 <h4 class="panel-title">
                                    Section 1: Basics of Accounting
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                                <ul>
                                            <li><i class="fa fa-crosshairs"></i>Basics of Accounting</li>
       <li><i class="fa fa-crosshairs"></i>Golden Rules of Accounting</li>
       <li><i class="fa fa-crosshairs"></i>Modes of Accounting</li>
       <li><i class="fa fa-crosshairs"></i>Accounting Principles</li>
       <li><i class="fa fa-crosshairs"></i>Double Entry System of Book Keeping</li>
                                         </ul>
                                     
                                  </div>
                                 </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                               <h4 class="panel-title">
                                  Section 2: Types of Accounting in Tally
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                           <div class="panel-body">
                              <div class="row ">
                              <ul>
                                          <li><i class="fa fa-crosshairs"></i>Types of Accounts</li>
     <li><i class="fa fa-crosshairs"></i>Personal Account</li>
     <li><i class="fa fa-crosshairs"></i>Personal Account Rules</li>
     <li><i class="fa fa-crosshairs"></i>Real Account Rules</li>
     <li><i class="fa fa-crosshairs"></i>Nominal Account Rules</li>
                                       </ul>
                                   
                                </div>
                               </div>
                       </div>
                   </div>
                   <div class="panel panel-default panel-faq">
                     <div class="panel-heading">
                         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                             <h4 class="panel-title">
                                Section 3: Process of Accounting
                                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                             </h4>
                         </a>
                     </div>
                     <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                         <div class="panel-body">
                            <div class="row ">
                            <ul>
                                        <li><i class="fa fa-crosshairs"></i>Process of Accounting</li>
   <li><i class="fa fa-crosshairs"></i>Life Cyle of Accounting</li>
   <li><i class="fa fa-crosshairs"></i>Types of Puchase</li>
   <li><i class="fa fa-crosshairs"></i>Types of Sales</li>
                                     </ul>
                                 
                              </div>
                             </div>
                     </div>
                 </div>
                 <div class="panel panel-default panel-faq">
                   <div class="panel-heading">
                       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                           <h4 class="panel-title">
                              Section 4: Accounting Transactions
                               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                           </h4>
                       </a>
                   </div>
                   <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                       <div class="panel-body">
                          <div class="row ">
                          <ul>
                                      <li><i class="fa fa-crosshairs"></i>Transactions Overview</li>
   <li><i class="fa fa-crosshairs"></i>Handling the Transaction</li>
   <li><i class="fa fa-crosshairs"></i>Analyze the Transaction</li>
   <li><i class="fa fa-crosshairs"></i>Ledger Overview</li>
   <li><i class="fa fa-crosshairs"></i>Voucher Types</li>
   <li><i class="fa fa-crosshairs"></i>Uses of Voucher</li>
                                   </ul>
                               
                            </div>
                           </div>
                   </div>
               </div>
               <div class="panel panel-default panel-faq">
                 <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                         <h4 class="panel-title">
                            Section 5:  Manual Accounting
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                     </a>
                 </div>
                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                     <div class="panel-body">
                        <div class="row ">
                        <ul>
                                    <li><i class="fa fa-crosshairs"></i>Rules used in Transactions</li>
 <li><i class="fa fa-crosshairs"></i>Manual Accounting Introduction</li>
 <li><i class="fa fa-crosshairs"></i>Exercise for Manual Accounting</li>
                                 </ul>
                             
                          </div>
                         </div>
                 </div>
             </div>
             <div class="panel panel-default panel-faq">
               <div class="panel-heading">
                   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                       <h4 class="panel-title">
                          Section 6: Trading Account
                           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                       </h4>
                   </a>
               </div>
               <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                   <div class="panel-body">
                      <div class="row ">
                      <ul>
                                  <li><i class="fa fa-crosshairs"></i>Introduction to Trading a/c</li>
 <li><i class="fa fa-crosshairs"></i>Uses of Trading a/c</li>
 <li><i class="fa fa-crosshairs"></i>Gross Profit</li>
 <li><i class="fa fa-crosshairs"></i>Net Profit</li>
 <li><i class="fa fa-crosshairs"></i>Examples for Gross Profit &amp; Netprofit</li>
 <li><i class="fa fa-crosshairs"></i>Difference between Gross Profit &amp; Netprofit</li>
                               </ul>
                           
                        </div>
                       </div>
               </div>
           </div>
           <div class="panel panel-default panel-faq">
             <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                     <h4 class="panel-title">
                        Section 7: Reports
                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                     </h4>
                 </a>
             </div>
             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                 <div class="panel-body">
                    <div class="row ">
                    <ul>
                                <li><i class="fa fa-crosshairs"></i>Reports Overview</li>
 <li><i class="fa fa-crosshairs"></i>trail Balance</li>
 <li><i class="fa fa-crosshairs"></i>Balance Sheet</li>
 <li><i class="fa fa-crosshairs"></i>Profit &amp; Loss Report</li>
 <li><i class="fa fa-crosshairs"></i>Difference between Trail Balance and Balance Sheet</li>
 <li><i class="fa fa-crosshairs"></i>Handling Day Book</li>
                             </ul>
                         
                      </div>
                     </div>
             </div>
         </div>
         <div class="panel panel-default panel-faq">
           <div class="panel-heading">
               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                   <h4 class="panel-title">
                      Section 8: Tally ERP 9 Overview
                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                   </h4>
               </a>
           </div>
           <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
               <div class="panel-body">
                  <div class="row ">
                  <ul>
                              <li><i class="fa fa-crosshairs"></i>Introduction to Tally ERP9</li>
 <li><i class="fa fa-crosshairs"></i>Uses of Tally</li>
 <li><i class="fa fa-crosshairs"></i>Features of Tally</li>
 <li><i class="fa fa-crosshairs"></i>Creation of Company</li>
                           </ul>
                       
                    </div>
                   </div>
           </div>
       </div>
       <div class="panel panel-default panel-faq">
         <div class="panel-heading">
             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                 <h4 class="panel-title">
                    Section 9: Tally.net &amp; Remote Capablities
                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                 </h4>
             </a>
         </div>
         <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
             <div class="panel-body">
                <div class="row ">
                <ul>
                           <li><i class="fa fa-crosshairs"></i>Overview of Tally.net</li>
 <li><i class="fa fa-crosshairs"></i>Configuring Tally.net Features</li>
 <li><i class="fa fa-crosshairs"></i>Connect Company on Tally.net</li>
 <li><i class="fa fa-crosshairs"></i>Create Remote Users</li>
 <li><i class="fa fa-crosshairs"></i>Authorize Remote Users</li>
 <li><i class="fa fa-crosshairs"></i>Remote Access</li>
                         </ul>
                     
                  </div>
                 </div>
         </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
               <h4 class="panel-title">
                  Section 10: Accounting Masters in Tally ERP9
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
              <ul>
                         <li><i class="fa fa-crosshairs"></i>Features of Accounting</li>
 <li><i class="fa fa-crosshairs"></i>Configurations</li>
 <li><i class="fa fa-crosshairs"></i>Setting up Accounts Heads</li>
                       </ul>
                   
                </div>
               </div>
       </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
             <h4 class="panel-title">
                Section 11: Bank Reconcilation Statement
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
     <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
            <ul>
                       <li><i class="fa fa-crosshairs"></i>Brs[Bank Reconcilation Statement]</li>
 <li><i class="fa fa-crosshairs"></i>Defnition of brs</li>
 <li><i class="fa fa-crosshairs"></i>Uses of brs</li>
 <li><i class="fa fa-crosshairs"></i>Reports of Reconcilation</li>
                     </ul>
                 
              </div>
             </div>
     </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
           <h4 class="panel-title">
              Section 12:  Cost Center &amp; Cost Category
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
          <ul>
                     <li><i class="fa fa-crosshairs"></i>Overview of Cost Center &amp; Cost Category</li>
 <li><i class="fa fa-crosshairs"></i>Uses of Cost Center &amp; Cost Category</li>
 <li><i class="fa fa-crosshairs"></i>Creation of Cost Center</li>
 <li><i class="fa fa-crosshairs"></i>Creation of Cost Category</li>
 <li><i class="fa fa-crosshairs"></i>Creation of Ledger</li>
 <li><i class="fa fa-crosshairs"></i>Recording Transactions</li>
 <li><i class="fa fa-crosshairs"></i>Cost Category Reports</li>
                   </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
           <h4 class="panel-title">
              Section 13:  Interest Calculation
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
          <ul>
                     <li><i class="fa fa-crosshairs"></i>Overview about Interest Calculation</li>
 <li><i class="fa fa-crosshairs"></i>Types of Interest</li>
 <li><i class="fa fa-crosshairs"></i>Ledger Creation</li>
 <li><i class="fa fa-crosshairs"></i>Voucher Entry</li>
 <li><i class="fa fa-crosshairs"></i>Checking Interest Calculation</li>
                   </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
           <h4 class="panel-title">
              Section 14: Budgets
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
           <ul>
 <li><i class="fa fa-crosshairs"></i>Budgets Overview</li>
 <li><i class="fa fa-crosshairs"></i>Usage of Budgets</li>
 <li><i class="fa fa-crosshairs"></i>Types of Budgets</li>
 <ul>
 <li><i class="fa fa-crosshairs"></i>Son Net Transaction</li>
 <li><i class="fa fa-crosshairs"></i>Closing Balance</li>
 </ul>
 <li><i class="fa fa-crosshairs"></i>On Net Transaction Uses</li>
 <li><i class="fa fa-crosshairs"></i>Closing Balance Uses</li>
 <li><i class="fa fa-crosshairs"></i>Budgets Reports</li>
 </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
           <h4 class="panel-title">
              Section 15: Multicurrency
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
           <ul>
 <li><i class="fa fa-crosshairs"></i>Overview about Currencies</li>
 <li><i class="fa fa-crosshairs"></i>Types of Currencies</li>
 <li><i class="fa fa-crosshairs"></i>Uses of Multicurrency</li>
 <li><i class="fa fa-crosshairs"></i>Creation of Foreign Currency</li>
 <li><i class="fa fa-crosshairs"></i>Standard Rate &amp; Selling Rate</li>
 <li><i class="fa fa-crosshairs"></i>Currency Reports</li>
 </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-16">
           <h4 class="panel-title">
              Section 16: Bill Wise Details
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-16" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
           <ul>
 <li><i class="fa fa-crosshairs"></i>Overview of Billwise Details</li>
 <li><i class="fa fa-crosshairs"></i>Related to Customers &amp; Suppliers</li>
 <li><i class="fa fa-crosshairs"></i>Maintaining Payments</li>
 <li><i class="fa fa-crosshairs"></i>Receivable Bills</li>
 <li><i class="fa fa-crosshairs"></i>Pending Bill Status</li>
 <li><i class="fa fa-crosshairs"></i>Over due Bill Status</li>
 <li><i class="fa fa-crosshairs"></i>Inventory Section</li>
 </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
           <h4 class="panel-title">
              Section 17: Inventory Introduction
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-17" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
           <ul>
 <li><i class="fa fa-crosshairs"></i>Overview of Inventory</li>
 <li><i class="fa fa-crosshairs"></i>Concepts Involved in Inventory</li>
 <li><i class="fa fa-crosshairs"></i>Stocks Overview</li>
 <li><i class="fa fa-crosshairs"></i>Stock Groups Overview</li>
 <li><i class="fa fa-crosshairs"></i>Units of Measure</li>
 </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-18">
           <h4 class="panel-title">
              Section 18: Actual &amp; Billed Quantity
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-18" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
           <ul>
 <li><i class="fa fa-crosshairs"></i>What is actual &amp; Billed Quantity</li>
 <li><i class="fa fa-crosshairs"></i>Where it will be used</li>
 <li><i class="fa fa-crosshairs"></i>Advantages of Actual &amp; Billed Quantity</li>
 <li><i class="fa fa-crosshairs"></i>Creation of Ledgers</li>
 <li><i class="fa fa-crosshairs"></i>Voucher Entry</li>
 <li><i class="fa fa-crosshairs"></i>Stock Group Creation</li>
 <li><i class="fa fa-crosshairs"></i>Stock Item Creation</li>
 <li><i class="fa fa-crosshairs"></i>Reports of Actual &amp; Billed Quantity</li>
 </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-19">
           <h4 class="panel-title">
              Section 19: Price List
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
           <ul>
 <li><i class="fa fa-crosshairs"></i>Uses of Price List</li>
 <li><i class="fa fa-crosshairs"></i>Types of Price List</li>
 <li><i class="fa fa-crosshairs"></i>Whole Sale</li>
 <li><i class="fa fa-crosshairs"></i>Retail Sale</li>
 <li><i class="fa fa-crosshairs"></i>Export Sale</li>
 <li><i class="fa fa-crosshairs"></i>Creation of Price List</li>
 <li><i class="fa fa-crosshairs"></i>Adding Stock Items in a Price List</li>
 <li><i class="fa fa-crosshairs"></i>Discount Features</li>
 <li><i class="fa fa-crosshairs"></i>Adding an Discount Features</li>
 <li><i class="fa fa-crosshairs"></i>Reports for Price List</li>
 </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-20">
           <h4 class="panel-title">
              Section 20: bill of material
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-20" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
           <ul>
 <li><i class="fa fa-crosshairs"></i>introduction of bill of material</li>
 <li><i class="fa fa-crosshairs"></i>usage of bill of material</li>
 <li><i class="fa fa-crosshairs"></i>godown handling</li>
 <li><i class="fa fa-crosshairs"></i>stock group handling</li>
 <li><i class="fa fa-crosshairs"></i>manufacturing journa introduction</li>
 <li><i class="fa fa-crosshairs"></i>bill of material reports</li>
 </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-21">
           <h4 class="panel-title">
          Session 21: batch wise details
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-21" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>overview of batch wise details</li>
 <li><i class="fa fa-crosshairs"></i>uses of batch wise details</li>
 <li><i class="fa fa-crosshairs"></i>using mfg date &amp; exp date</li>
 <li><i class="fa fa-crosshairs"></i>batch specification</li>
 <li><i class="fa fa-crosshairs"></i>voucher entry</li>
 <li><i class="fa fa-crosshairs"></i>stock reports</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-22">
           <h4 class="panel-title">
          Session 22: Point of Sales [pos]
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-22" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Pos Overview</li>
 <li><i class="fa fa-crosshairs"></i>Pos Uses</li>
 <li><i class="fa fa-crosshairs"></i>Multimode Payments</li>
 <li><i class="fa fa-crosshairs"></i>Billing Entry</li>
 <li><i class="fa fa-crosshairs"></i>Voucher Entry</li>
 <li><i class="fa fa-crosshairs"></i>Creation of Stock Journal</li>
 <li><i class="fa fa-crosshairs"></i>Pos reportsl</li>
 <li><i class="fa fa-crosshairs"></i>Taxation</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-23">
           <h4 class="panel-title">
          Session 23: Value Added Tax [vat]
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-23" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Tax Overview</li>
 <li><i class="fa fa-crosshairs"></i>What is vat?</li>
 <li><i class="fa fa-crosshairs"></i>Uses of vat</li>
 <li><i class="fa fa-crosshairs"></i>Where it's used?</li>
 <li><i class="fa fa-crosshairs"></i>Assessee Involved in tds</li>
 <li><i class="fa fa-crosshairs"></i>Who is going to Pay?</li>
 <li><i class="fa fa-crosshairs"></i>Tax Related to Stock Items</li>
 <li><i class="fa fa-crosshairs"></i>Vat Payments</li>
 <li><i class="fa fa-crosshairs"></i>Vat Reports</li>
 <li><i class="fa fa-crosshairs"></i>Vat Returns</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-24">
           <h4 class="panel-title">
          Session 24: Tax Deducted Source [tds]
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-24" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Introduction to tds</li>
 <li><i class="fa fa-crosshairs"></i>Usage of tds</li>
 <li><i class="fa fa-crosshairs"></i>Areas where tds used</li>
 <li><i class="fa fa-crosshairs"></i>Assessee involved in tds</li>
 <li><i class="fa fa-crosshairs"></i>Tds Ledger Creation</li>
 <li><i class="fa fa-crosshairs"></i>Tds Deduction</li>
 <li><i class="fa fa-crosshairs"></i>Recording Transactions</li>
 <li><i class="fa fa-crosshairs"></i>Tds Payments</li>
 <li><i class="fa fa-crosshairs"></i>Tds Reports</li>
 <li><i class="fa fa-crosshairs"></i>E-tds Returns</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-25">
           <h4 class="panel-title">
          Session 25: Service Tax
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-25" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Basics of Service Tax</li>
 <li><i class="fa fa-crosshairs"></i>Uses of Service Tax</li>
 <li><i class="fa fa-crosshairs"></i>Introduction to Service Tax</li>
 <li><i class="fa fa-crosshairs"></i>Areas where Service Tax Used</li>
 <li><i class="fa fa-crosshairs"></i>Assessee Involved in Service Tax</li>
 <li><i class="fa fa-crosshairs"></i>Recording Transactions</li>
 <li><i class="fa fa-crosshairs"></i>Payment of Service Tax</li>
 <li><i class="fa fa-crosshairs"></i>Service tax Reports</li>
 <li><i class="fa fa-crosshairs"></i>Service tax Returns</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-26">
           <h4 class="panel-title">
          Session 26: Tax Collected Source [tcs]
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-26" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Basics of tcs</li>
 <li><i class="fa fa-crosshairs"></i>Assessee involved in tcs</li>
 <li><i class="fa fa-crosshairs"></i>Areas where tcs Used</li>
 <li><i class="fa fa-crosshairs"></i>Recording Rransaction</li>
 <li><i class="fa fa-crosshairs"></i>Payment of tcs</li>
 <li><i class="fa fa-crosshairs"></i>Tcs Reports</li>
 <li><i class="fa fa-crosshairs"></i>Tcs Returns</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-27">
           <h4 class="panel-title">
          Session 27: Payroll
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-27" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Overview of Payroll</li>
 <li><i class="fa fa-crosshairs"></i>Payroll Masters</li>
 <li><i class="fa fa-crosshairs"></i>Creating Payroll Masters</li>
 <li><i class="fa fa-crosshairs"></i>Creating Attendance for Employees</li>
 <li><i class="fa fa-crosshairs"></i>Recording Transactions</li>
 <li><i class="fa fa-crosshairs"></i>Generating Payroll Reports</li>
 <li><i class="fa fa-crosshairs"></i>Payslip Details</li>
 <li><i class="fa fa-crosshairs"></i>Attendendance Register</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-28">
           <h4 class="panel-title">
          Session 28: Backup &amp; Restore
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-28" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Overview of Backup &amp; Restore</li>
 <li><i class="fa fa-crosshairs"></i>Uses of backup &amp; Restore Features</li>
 <li><i class="fa fa-crosshairs"></i>Steps to make Backup</li>
 <li><i class="fa fa-crosshairs"></i>Steps to make Restore</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-29">
           <h4 class="panel-title">
          Session 29: Spliting of Company Data
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-29" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Introduction of Spliting an Company Data</li>
 <li><i class="fa fa-crosshairs"></i>Uses of Spliting an Company Data</li>
 <li><i class="fa fa-crosshairs"></i>How to Split an Company Data</li>
 <li><i class="fa fa-crosshairs"></i>Reports</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-30">
           <h4 class="panel-title">
          Session 30: Security
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-30" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
           <ul>
             <li><i class="fa fa-crosshairs"></i>Security Features Overview</li>
             <li><i class="fa fa-crosshairs"></i>Tally Vault</li>
             <li><i class="fa fa-crosshairs"></i>Tally Audit</li>
             <li><i class="fa fa-crosshairs"></i>Access to the Users</li>
           </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-31">
           <h4 class="panel-title">
               Session 31: Odbc in Tally ERP9
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-31" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Security Features Overview</li>
 <li><i class="fa fa-crosshairs"></i>Tally Vault</li>
 <li><i class="fa fa-crosshairs"></i>Tally Audit</li>
 <li><i class="fa fa-crosshairs"></i>Access to the Users</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-32">
           <h4 class="panel-title">
          Session 32: Export &amp; Import
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-32" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Export</li>
 <li><i class="fa fa-crosshairs"></i>Exporting a File in Other Formats</li>
 <li><i class="fa fa-crosshairs"></i>Importing Some Files in Tally</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-33">
           <h4 class="panel-title">
          Session 33: Printing
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-33" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Printing Features</li>
 <li><i class="fa fa-crosshairs"></i>Printer Configuration</li>
 <li><i class="fa fa-crosshairs"></i>Report Printing</li>
 <li><i class="fa fa-crosshairs"></i>Cheque Printing</li>
 </ul>
            </div>
           </div>
   </div>
 </div>
                       <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    
  </section>
 