 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Ecommerce Marketing Training</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Ecommerce Marketing Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>Ecommerce Marketing Training Content</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>Ecommerce Marketing Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>Are you looking for Ecommerce Training in Chennai? Learn Ecommerce Marketing Course in Chennai at Zuan Education to increase your website traffic, improve sales and make more profits using proven strategies.</p>
                          
                        
                          
                         
                         
               </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                         Section 1: Introduction to Ecommerce Marketing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                    <ul>
           <li><i class="fa fa-crosshairs"></i>About Ecommerce</li>
           <li><i class="fa fa-crosshairs"></i>Evolution of Ecommerce</li>
           <li><i class="fa fa-crosshairs"></i>Benefits of Ecommerce</li>
           <li><i class="fa fa-crosshairs"></i>Pros and Cons of Ecommerce</li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                       Section 2: Build a Fully Functioning Ecommerce Website
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                               <ul>
           <li><i class="fa fa-crosshairs"></i>Theme Setting</li>
           <li><i class="fa fa-crosshairs"></i>Installation</li>
           <li><i class="fa fa-crosshairs"></i>Home Page Creation</li>
           <li><i class="fa fa-crosshairs"></i>Categories Management</li>
           <li><i class="fa fa-crosshairs"></i>Product Management</li>
           <li><i class="fa fa-crosshairs"></i>Attribute Creation</li>
           <li><i class="fa fa-crosshairs"></i>Static Block Creation</li>
           <li><i class="fa fa-crosshairs"></i>Site Logo, Favicon, Store Address, Store Contact Address, Currency Setup</li>
           <li><i class="fa fa-crosshairs"></i>Creating Admin User</li>
           <li><i class="fa fa-crosshairs"></i>Creating Roles</li>
         </ul>
                                         
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                               <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                      Section 3: Ecommerce SEO
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                              <ul>
           <li><i class="fa fa-crosshairs"></i>Keyword Research</li>
           <li><i class="fa fa-crosshairs"></i>Site Architecture</li>
           <li><i class="fa fa-crosshairs"></i>Technical SEO</li>
           <li><i class="fa fa-crosshairs"></i>On-Page SEO</li>
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                  <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                      Section 4: Google Merchant Center
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                           <ul>
           <li><i class="fa fa-crosshairs"></i>Introduction</li>
           <li><i class="fa fa-crosshairs"></i>Merchant Center Guidelines</li>
           <li><i class="fa fa-crosshairs"></i>Create a Merchant Center Account</li>
           <li><i class="fa fa-crosshairs"></i>Set Up Your User Roles</li>
           <li><i class="fa fa-crosshairs"></i>Verify Your Website</li>
           <li><i class="fa fa-crosshairs"></i>Set Up Shipping</li>
           <li><i class="fa fa-crosshairs"></i>Set Up Your Return Policy</li>
           <li><i class="fa fa-crosshairs"></i>Add Tax Information</li>
           <li><i class="fa fa-crosshairs"></i>Set Up Product Listings</li>
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                      <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                      Section 5: ECommerce Ads
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                             <ul>
           <li><b>Google Ads</b></li>
           <li><i class="fa fa-crosshairs"></i>Search Ads</li>
           <li><i class="fa fa-crosshairs"></i>Display Ads</li>
           <li><i class="fa fa-crosshairs"></i>Video Ads</li>
           <li><i class="fa fa-crosshairs"></i>Shopping Ads</li>
           <li><i class="fa fa-crosshairs"></i>App Ads</li>
         </ul>
         <ul>
           <li><b>Facebook Ads</b></li>
           <li><i class="fa fa-crosshairs"></i>Image Ads</li>
           <li><i class="fa fa-crosshairs"></i>Video Ads</li>
           <li><i class="fa fa-crosshairs"></i>Carousel Ads</li>
           <li><i class="fa fa-crosshairs"></i>Collection Ads</li>
           <li><i class="fa fa-crosshairs"></i>Catalog Sales Ads</li>
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                       Section 6: Tools
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                                 <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                          <ul>
           <li><i class="fa fa-crosshairs"></i>Google Analytics</li>
           <li><i class="fa fa-crosshairs"></i>Google Search Console</li>
           <li><i class="fa fa-crosshairs"></i>Meta pixel</li>
           <li><i class="fa fa-crosshairs"></i>Google Keyword Planner</li>
           <li><i class="fa fa-crosshairs"></i>Canva</li> 
         </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                    
 
                                                    
 
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>

  </section>
 