 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> AWS Cloud Practitioner Certification Training </h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">AWS Cloud Practitioner Certification Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>AWS Cloud Practitioner Certification Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>AWS Cloud Practitioner Certification Training in chennai</h2>
                          
                           <h4>Description</h4>
                           <p>AWS Certified Solutions Architect is one among the most sought after cloud computing certifications in the world today. Knowing this, Zuan designed an AWS cloud architect certification training in Chennai for anyone who is seeking to learn the major components of Amazon Web Services (AWS). By the end of the AWS course in Chennai, you'll be well-trained to pass the associate-level AWS Certified Solutions Architect certification exam. Do you know? The AWS certification is the in-demand for any IT professional, with average salaries above $100,000 USD. Getting trained in the AWS cloud technology can boost your salary up to 26 percent,
                              and the average salary for certified IT professionals is, on average, 11.7 percent higher than those without.
                         </p>
                          
                           </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                                    Section 1: Introduction
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                      <ul>
                        <li><i class="fa fa-crosshairs"></i>Introduction to Cloud computing</li>
                        <li><i class="fa fa-crosshairs"></i>The Exam Blueprint</li>
                      </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                                    Section 2: Cloud Concepts and Technology
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                      <ul>
                 <li><i class="fa fa-crosshairs"></i>What Is Cloud Computing and its history?</li>
                 <li><i class="fa fa-crosshairs"></i>Around The World With AWS</li>
                 <li><i class="fa fa-crosshairs"></i>Let's Log In To AWS</li>
                 <li><i class="fa fa-crosshairs"></i>Setting Up On A Mac</li>
                 <li><i class="fa fa-crosshairs"></i>Setting Up On A Windows PC</li>
                 <li><i class="fa fa-crosshairs"></i>Setting Up A Billing Alarm</li>
                 <li><i class="fa fa-crosshairs"></i>Let’s Start To Cloud! Identity Access Management (IAM)</li>
                 <li><i class="fa fa-crosshairs"></i>S3 101</li>
                 <li><i class="fa fa-crosshairs"></i>Let's Create An S3 Bucket!</li>
                 <li><i class="fa fa-crosshairs"></i>Let's Create A Website On S3</li>
                 <li><i class="fa fa-crosshairs"></i>Let's Explore CloudFront</li>
                 <li><i class="fa fa-crosshairs"></i>EC2 101</li>
                 <li><i class="fa fa-crosshairs"></i>Let's Use EC2</li>
                 <li><i class="fa fa-crosshairs"></i>Using The Command Line</li>
                 <li><i class="fa fa-crosshairs"></i>Using Roles</li>
                 <li><i class="fa fa-crosshairs"></i>Let's Build A Web Server</li>
                 <li><i class="fa fa-crosshairs"></i>Let's Use A Load Balancer</li>
                 <li><i class="fa fa-crosshairs"></i>Databases 101</li>
                 <li><i class="fa fa-crosshairs"></i>Let's provision an RDS instance</li>
                 <li><i class="fa fa-crosshairs"></i>Autoscaling</li>
                 <li><i class="fa fa-crosshairs"></i>Let's Register A Domain Name</li>
                 <li><i class="fa fa-crosshairs"></i>Elastic Beanstalk</li>
                 <li><i class="fa fa-crosshairs"></i>CloudFormation</li>
                 <li><i class="fa fa-crosshairs"></i>Architecting For The Cloud Best Practices - Part 1</li>
                 <li><i class="fa fa-crosshairs"></i>Architecting For The Cloud Best Practices - Part 2</li>
                 <li><i class="fa fa-crosshairs"></i>Global AWS Services</li>
                 <li><i class="fa fa-crosshairs"></i>What AWS Services Can Be Deployed On Premise</li>
                 <li><i class="fa fa-crosshairs"></i>CloudWatch 101</li>
                 <li><i class="fa fa-crosshairs"></i>AWS Systems Manager</li>
                 <li><i class="fa fa-crosshairs"></i>Cloud Concepts &amp; Technology Summary - Part 1</li>
                 <li><i class="fa fa-crosshairs"></i>Cloud Concepts &amp; Technology Summary - Part 2</li>               
                 </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                                    Section 3: Billing & Pricing
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                      <ul>
                 <li><i class="fa fa-crosshairs"></i>AWS Pricing 101</li>
                 <li><i class="fa fa-crosshairs"></i>AWS Budgets vs Cost Explorer</li>
                 <li><i class="fa fa-crosshairs"></i>Different Support Levels</li>
                 <li><i class="fa fa-crosshairs"></i>Resource Groups &amp; Tagging</li>
                 <li><i class="fa fa-crosshairs"></i>Consolidated Billing</li>
                 <li><i class="fa fa-crosshairs"></i>AWS Organizations</li>
                 <li><i class="fa fa-crosshairs"></i>AWS Quick Start &amp; AWS Landing Zone</li>
                 <li><i class="fa fa-crosshairs"></i>Different AWS Cost Calculators</li>
                 <li><i class="fa fa-crosshairs"></i>Billing &amp; Pricing Summary</li>
                 </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                                    Section 4: Security In The Cloud
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                      <ul>
                     <li><i class="fa fa-crosshairs"></i>AWS Compliance &amp; AWS Artifact</li>
                     <li><i class="fa fa-crosshairs"></i>Shared Responsibility Model</li>
                     <li><i class="fa fa-crosshairs"></i>AWS WAF &amp; AWS Shield</li>
                     <li><i class="fa fa-crosshairs"></i>AWS Inspector vs AWS Trusted Advisor vs CloudTrail</li>
                     <li><i class="fa fa-crosshairs"></i>CloudWatch vs AWS Config</li>
                     <li><i class="fa fa-crosshairs"></i>Athena Vs Macie</li>
                     <li><i class="fa fa-crosshairs"></i>Security Summary</li>
                       </ul>
                     </div>
                               </div>
                             </div>
                         </div>
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </section>
 