 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> HTML5 Training</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">HTML5 Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4>HTML5 Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul>
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2>HTML5 Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           <p>The core of the web is HTML and CSS. HTML 5 is an advanced field. So, if you want to become an experienced web developer or designer, learn HTML (Hypertext Markup Language). This language is the most common, and it is used to build regular web pages. Therefore, it is easy and quick to make it work on cross browsers. That is on the desktop and mobile devices.
 
                         </p>
                           <p>The essentials of HTML5 and CSS3 are not hard to learn. Our HTML5 training course restores both HTML4 and XHTML. This language helps to develop an entire structured layout. It is an open source, so, anyone can create anything for the web and begin their project without examining on the license. Also, it is an independent language. Hence, it works with any browser and any OS. Join our web design course for an in-depth understanding of HTML5 responsive design technologies right from the scratch.
 
                         </p>
                           
                           </div>
                     
                     </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                      
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                         Section 1: Understanding Web Concepts & Terminologies
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
  <ul>   
                     <li><i class="fa fa-crosshairs"></i>Introduction to Web Technology &amp; Web Editors</li>
                     <li><i class="fa fa-crosshairs"></i>HTML5 / CSS3 / JavaScript - Introduction to the Core Concepts</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap / jQuery - Introduction to Frameworks</li>
                     <li><i class="fa fa-crosshairs"></i>Whats New in HTML5?</li>
                     <li><i class="fa fa-crosshairs"></i>HTML5 Doctype / HTML5 Document Structure</li>
                     <li><i class="fa fa-crosshairs"></i>UTF-8 Character Encoding</li>
                     <li><i class="fa fa-crosshairs"></i>HTML Character Entities	</li>
                     <li><i class="fa fa-crosshairs"></i>Head Tag and Elements inside the Head Tag</li>
                     <li><i class="fa fa-crosshairs"></i>Meta Tags &amp; What are they used for?</li>
                 </ul>
                                      </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                     <h4 class="panel-title">
                                         Section 2: HTML Content\ Media Tags
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
  <ul>           
                 <li><i class="fa fa-crosshairs"></i>Creating a Website Project in HTML Editor</li>
                 <li><i class="fa fa-crosshairs"></i>Introduction to CSS3 / Types of CSS and Significance</li>
                 <li><i class="fa fa-crosshairs"></i>Paragraph Tags & Multiple Columns</li>
                 <li><i class="fa fa-crosshairs"></i>Adding Basic Styles using HTML Attributes and CSS Styles</li>
                 <li><i class="fa fa-crosshairs"></i>Importing External Fonts</li>
                 <li><i class="fa fa-crosshairs"></i>Inserting Images & Image Attributes</li>
                 <li><i class="fa fa-crosshairs"></i>Working with Image Sprites</li>
                 <li><i class="fa fa-crosshairs"></i>Working with Links & Link Attributes / Link States using Pseudo Classes	</li>
                 </ul>                                    
             </div>
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                     <h4 class="panel-title">
                                         Section 3: HTML5 Semantic Tags
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Understanding Document Outline in HTML5</li>
                     <li><i class="fa fa-crosshairs"></i>HTML5 Semantic Tags</li>
                     <li><i class="fa fa-crosshairs"></i>Semantic Elements for Document Outlining</li>
                     <li><i class="fa fa-crosshairs"></i>Keypoints about Document Outlining</li>
                 </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                     <h4 class="panel-title">
                                         Section 4: Media Queries
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>        
                     <li><i class="fa fa-crosshairs"></i>Media Queries Common Device Breakpoints</li>
                     <li><i class="fa fa-crosshairs"></i>Meta Viewport Tag</li>
                     <li><i class="fa fa-crosshairs"></i>Better Understanding the Grid System to Design Responsive Websites</li>
                     <li><i class="fa fa-crosshairs"></i>Apply Media Queries Based on Viewport Sizes</li>
                     <li><i class="fa fa-crosshairs"></i>Adjusting Layout Based on Orientation</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                                     <h4 class="panel-title">
                                         Section 5: CSS3 Flexbox
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>                 
                     <li><i class="fa fa-crosshairs"></i>Flex Display Type</li>
                     <li><i class="fa fa-crosshairs"></i>Order</li>
                     <li><i class="fa fa-crosshairs"></i>Flex Direction</li>
                     <li><i class="fa fa-crosshairs"></i>Flex Grow</li>
                     <li><i class="fa fa-crosshairs"></i>Flex Wrap</li>
                     <li><i class="fa fa-crosshairs"></i>Flex Shrink</li>
                     <li><i class="fa fa-crosshairs"></i>Align Flex Content</li>
                 </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                                     <h4 class="panel-title">
                                         Section 6: CSS3 Animations
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul> 
                     <li><i class="fa fa-crosshairs"></i>Keyframes & Animation Property</li>
                     <li><i class="fa fa-crosshairs"></i>Animation Timing Functions</li>
                     <li><i class="fa fa-crosshairs"></i>Animation Delay</li>
                     <li><i class="fa fa-crosshairs"></i>Multi Step Transitions</li>
                     <li><i class="fa fa-crosshairs"></i>Animation Iteration Count</li>
                     <li><i class="fa fa-crosshairs"></i>Animation Direction</li>
                     <li><i class="fa fa-crosshairs"></i>Cross Browser Animation Support</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                                     <h4 class="panel-title">
                                         Section 7: CSS3 Transforms
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>       
                     <li><i class="fa fa-crosshairs"></i>2D Transforms</li>
                     <li><i class="fa fa-crosshairs"></i>3D Transforms</li>
                     <li><i class="fa fa-crosshairs"></i>Perspective</li>
                     <li><i class="fa fa-crosshairs"></i>3D Transform Functions</li>
                     <li><i class="fa fa-crosshairs"></i>Filp Cards</li>
                     <li><i class="fa fa-crosshairs"></i>Backface Visibility</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                                     <h4 class="panel-title">
                                         Section 8: Forms
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>  
                     <li><i class="fa fa-crosshairs"></i> HTML5 Form Elements	</li>
                     <li><i class="fa fa-crosshairs"></i> HTML5 Form Attributes</li>
                     <li><i class="fa fa-crosshairs"></i> HTML5 Form Validation Attributes</li>
                     <li><i class="fa fa-crosshairs"></i> Patterns for Form Validation in HTML5</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                                     <h4 class="panel-title">
                                         Section 9: iFrames & Media Tags
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>    
                     <li><i class="fa fa-crosshairs"></i>Embedding Google Maps</li>
                     <li><i class="fa fa-crosshairs"></i>Audio / Video Elements</li>
                     <li><i class="fa fa-crosshairs"></i>Audio &amp; Video Attributes</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                                     <h4 class="panel-title">
                                         Section 10: Mobile Framework
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>
                     <li><i class="fa fa-crosshairs"></i>Introduction to Bootstrap</li>
                     <li><i class="fa fa-crosshairs"></i>Working with CDN Links &amp; Advantages</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Grid Systems &amp; Terminologies</li>
                     <li><i class="fa fa-crosshairs"></i>Glyphicons &amp; Font Awesome</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Classes</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Image Classes</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                                     <h4 class="panel-title">
                                         Section 11 : Bootstrap Interactive Elements
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
 <ul>   
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Forms & Modals</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Scrollspy</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Navigation</li>
                     <li><i class="fa fa-crosshairs"></i>Bootstrap Carousel</li>
                  </ul>
                         </div>
                                      
                              
              
                                   
              
                                     
                                 </div>
                             </div>
                         </div>
                                                               <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                    
                    
                    
                          
                         </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
    </div>
  </section>