<div>

<!-- Start Slider -->
<section id="mu-slider">
  <!-- Start single slider item -->
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="assets/img/slider/1.jpg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
   
      <h2>Learn IT Skills That Enhance
Your Career</h2>
      <p>Trusted by 10000+ Successful Learners in 5+ Years</p>
      <a href="#" class="mu-read-more-btn">Apply Now</a>
    </div>
  </div>
  <!-- Start single slider item -->
  <!-- Start single slider item -->
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="assets/img/slider/2.jpg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
    
    
      <h2>Best Education For Your Better Future</h2>
      <p>We provides always our best services for our clients and always try to achieve our client's trust and satisfaction.</p>
      <a href="#" class="mu-read-more-btn">Apply Now</a>
    </div>
  </div>
  <!-- Start single slider item -->
  <!-- Start single slider item -->
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="assets/img/slider/3.jpg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
     
      <h2>Education For Everyone</h2>
      <p>We provides always our best services for our clients and always try to achieve our client's trust and satisfaction.</p>
      <a href="#" class="mu-read-more-btn">Apply Now</a>
    </div>
  </div>
  <!-- Start single slider item -->    
</section>
<!-- End Slider -->
<!-- Start service  -->
<section id="mu-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-service-area">
            <div class="mu-service-single">
            <span class="fa fa-users"></span>
            <h3>Class Room Training</h3>
            <p>Get hands-on interactive learning
with expert trainers!</p>
          </div>
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-book"></span>
            <h3>Online Training</h3>
            <p>Instructor-led live online training
at your convenience!</p>
          </div>
          <!-- Start single service -->
          <!-- Start single service -->
        
          <!-- Start single service -->
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-table"></span>
            <h3>Custom Modules</h3>
            <p>Boundless customization based
on specific requirements!</p>
          </div>
          <!-- Start single service -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service  -->

<!-- Start about us -->
<section id="mu-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-about-us-area">           
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="mu-about-us-left">
                <!-- Start Title -->
                <div class="mu-title">
                  <h2>IT Training Institute in Chennai</h2>              
                </div>
                <!-- End Title -->
                <p>Skifter Education boasted as the Best Placement Training Institute in Chennai, aim in educating the workforce to the IT industry. Along with a team of highly experienced and qualified trainers, we offer state of the art training with excellent infrastructure to keep you above par for the emerging IT skill trends. With individual attention to our Customers, unique mentorship from trainers with hands-on project training, career & placement guidance, we have 15000+ happy customers who have distinguished us from our competitors, with their satisfied reviews.</p>
              
              
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us -->


<!-- Start latest course section -->
<section id="mu-latest-courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-latest-courses-area">
          <!-- Start Title -->
          <div class="mu-title">
            <h2>Trending Courses</h2>
           
          </div>
          <!-- End Title -->
          <!-- Start latest course content -->
          <div id="mu-latest-course-slide" class="mu-latest-courses-content">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/1.jpg" alt="img"></a>
                 
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">PYTHON
TRAINING</a></h4>
                  <p>Learn Python course with real-time Project oriented and Apply in various Environments.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">View Details</a>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/2.jpg" alt="img"></a>
               
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">ANGULAR
TRAINING</a></h4>
                  <p>Learn TypeScript and Angular to become an Expert in Single Page Applications.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">View Details</a>
                 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/3.jpg" alt="img"></a>
               
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">AWS
TRAINING</a></h4>
                  <p>Develop yourself as an expert AWS Developer and Showcase achievement in Cloud.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">View Details</a>
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/8.jpg" alt="img"></a>
                 
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">AZURE
TRAINING</a></h4>
                  <p>Join our Microsoft Azure Cloud Computing training program to turn your ideas into solutions.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">View Details</a>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/7.jpg" alt="img"></a>
                 
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">DATA SCIENCE
TRAINING</a></h4>
                  <p>Become Data Scientist? Learn how to use data effectively to Improve your organization.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">View Details</a>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/5.jpg" alt="img"></a>
                
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">MACHINE LEARNING
TRAINING</a></h4>
                  <p>Our Machine Learning training helps you to learn this awesome application of AI.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">View Details</a>
                 
                  </div>
                </div>
              </div>
            </div>
               <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/6.jpg" alt="img"></a>
                
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">DEVOPS TRAINING
TRAINING</a></h4>
                  <p>Be a professional DevOps developer using our practical project-oriented training.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">View Details</a>
                 
                  </div>
                </div>
              </div>
            </div>
                   <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/9.jpg" alt="img"></a>
                
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">HADOOP
TRAINING</a></h4>
                  <p>Transform into a Data Scientist with Hadoop Training from top tech minds in Industry.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">View Details</a>
                 
                  </div>
                </div>
              </div>
            </div>
                          <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/4.jpg" alt="img"></a>
                
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">REACTS JS
TRAINING</a></h4>
                  <p>Develop yourself as an expert AWS Developer and Showcase achievement in Cloud.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">View Details</a>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End latest course content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End latest course section -->
<!-- Start features section -->
<section id="mu-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-features-area">
          <!-- Start Title -->
          <div class="mu-title">
            <h2>Why Skifter Education?</h2>
          
          </div>
          <!-- End Title -->
          <!-- Start features content -->
          <div class="mu-features-content">
            <div class="row">
              <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-book"></span>
                  <h4>Well Experienced Trainers</h4>
                  <p>Highly skilled trainers with 15+ years of rich experience in the IT industry.</p>
                
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-users"></span>
                  <h4>Flexible Class room & Online Training</h4>
                  <p>Comprehensive course duration, Flexible schedule and Training pattern</p>
                
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-laptop"></span>
                  <h4>Real-time Project oriented Training</h4>
                  <p>Well-designed course syllabus with Interactive instructor led Training.</p>
                
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-microphone"></span>
                  <h4>Unlimited Lab Support</h4>
                  <p>Every individual is given the training with necessary Practicals & Projects.</p>
                 
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-film"></span>
                  <h4>Affordable Fees with High quality</h4>
                  <p>We owe You knowledge at a very affordable Fee Structure.</p>
                 
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-certificate"></span>
                  <h4>Certification Guidance</h4>
                  <p>Interview preparation, Mock Interviews, Placements, Certification Assistance, etc.,</p>
                 
                </div>
              </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-certificate"></span>
                  <h4>Job Assistance & Guidance</h4>
                  <p>Individual Job Counselor to assist with Career guidance & Job updates.</p>
                 
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-certificate"></span>
                  <h4>Interview Preparation</h4>
                  <p>Every Course in covered with interview point questions and real-time scenarios of what the company may look after from you.</p>
                
                </div>
              </div>
               <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-certificate"></span>
                  <h4>Custom Modules</h4>
                  <p>Boundless customization based
on specific requirements!</p>
                
                </div>
              </div>
            </div>
          </div>
          <!-- End features content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End features section -->

<!-- Start about us counter -->
<section id="mu-abtus-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-abtus-counter-area">
          <div class="row">
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-book"></span>
                <h4 class="counter">158</h4>
                <p>SATISFIED LEARNERS</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-users"></span>
                <h4 class="counter">100</h4>
                <p>REALTIME PROJECTS</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-flask"></span>
                <h4 class="counter">25</h4>
                <p>COURSES</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single no-border">
                <span class="fa fa-user-secret"></span>
                <h4 class="counter">30</h4>
                <p>CERTIFIED TRAINERS</p>
              </div>
            </div>
            <!-- End counter item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us counter -->



<!-- Start testimonial -->
<section id="mu-testimonial">
 
  <div class="container">

    <div class="row">
<div class="mu-title">
            <h2>Testimonials</h2>
          
          </div>
      <div class="col-md-12">

        <div class="mu-testimonial-area">
          <div id="mu-testimonial-slide" class="mu-testimonial-content">
            <!-- start testimonial single item -->
            <div class="mu-testimonial-item">
              <div class="mu-testimonial-quote">
                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                </blockquote>
              </div>
              <div class="mu-testimonial-img">
                <img src="assets/img/testimonial-1.png" alt="img">
              </div>
              <div class="mu-testimonial-info">
                <h4>John Doe</h4>
                <span>Happy Student</span>
              </div>
            </div>
            <!-- end testimonial single item -->
            <!-- start testimonial single item -->
            <div class="mu-testimonial-item">
              <div class="mu-testimonial-quote">
                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                </blockquote>
              </div>
              <div class="mu-testimonial-img">
                <img src="assets/img/testimonial-3.png" alt="img">
              </div>
              <div class="mu-testimonial-info">
                <h4>Rebaca Michel</h4>
                <span>Happy Parent</span>
              </div>
            </div>
            <!-- end testimonial single item -->
            <!-- start testimonial single item -->
            <div class="mu-testimonial-item">
              <div class="mu-testimonial-quote">
                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                </blockquote>
              </div>
              <div class="mu-testimonial-img">
                <img src="assets/img/testimonial-2.png" alt="img">
              </div>
              <div class="mu-testimonial-info">
                <h4>Stev Smith</h4>
                <span>Happy Student</span>
              </div>
            </div>
            <!-- end testimonial single item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End testimonial -->



</div>
