 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> Full Stack Developer Training in Chennai</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Full Stack Developer Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4> Full Stack Developer Training</h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2> Full Stack Developer Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           
                     <p>Skifter Education introduces the ever-demanding and timely Full Stack Developer Course yet. This course has been designed keeping in mind the evolving roles of developers and technologies around the world.</p>   
                <p>Our Full Stack Developer training helps you to gain skills in back-end and front-end web technologies. Training in Full stack development includes learning of programming languages such as jQuery, JavaScript, HTML, HTML5, CSS3, Bootstrap, NodeJS, MongoDB, etc. The Full Stack Web Development Course curriculum has been devised based on extensive research done on the future accessibility to relevant jobs globally. You can take your web developing a career to the next level by doing our Full Stack web development course.</p></div>
                     
              </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                         <div class="panel panel-default panel-faq">
                             <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                     <h4 class="panel-title">
                                        Section 1: ES6 Overview
                                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                     </h4>
                                 </a>
                             </div>
                             <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                                 <div class="panel-body">
                                    <div class="row ">
                                    <ul>
         <li><i class="fa fa-crosshairs"></i>History of Javascript</li>
         <li><i class="fa fa-crosshairs"></i>What is ES6</li>
         <li><i class="fa fa-crosshairs"></i>A word on bable</li>
         <li><i class="fa fa-crosshairs"></i>Block scope, let &amp; const</li>
         <li><i class="fa fa-crosshairs"></i>Template literals</li>
         <li><i class="fa fa-crosshairs"></i>Arrow functions</li>
         <li><i class="fa fa-crosshairs"></i>Spread and Rest operators</li>
       <li><i class="fa fa-crosshairs"></i>Destructuring</li>
       <li><i class="fa fa-crosshairs"></i>Inheritance, Static properties and methods</li>
       <li><i class="fa fa-crosshairs"></i>Inheritance</li>
       <li><i class="fa fa-crosshairs"></i>Static properties and methods</li>
       <li><i class="fa fa-crosshairs"></i>Promises</li>
     </ul>
                                         
                                      </div>
                                     </div>
                             </div>
                         </div>
                         <div class="panel panel-default panel-faq">
                           <div class="panel-heading">
                               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                   <h4 class="panel-title">
                                      Section 2: Introduction to React JS
                                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                   </h4>
                               </a>
                           </div>
                           <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                               <div class="panel-body">
                                  <div class="row ">
                                  <ul>
         <li><i class="fa fa-crosshairs"></i>What is React?</li>
         <li><i class="fa fa-crosshairs"></i>Why React?</li>
         <li><i class="fa fa-crosshairs"></i>React version history</li>
         <li><i class="fa fa-crosshairs"></i>React 16 vs React 15</li>
         <li><i class="fa fa-crosshairs"></i>Just React - Hello World</li>
         <li><i class="fa fa-crosshairs"></i>Using create-react-app</li>
         <li><i class="fa fa-crosshairs"></i>Anatomy of react project</li>
         <li><i class="fa fa-crosshairs"></i>Running the app</li>
         <li><i class="fa fa-crosshairs"></i>Debugging first react app</li>
     </ul>
                                       
                                    </div>
                                   </div>
                           </div>
                       </div>
                       <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                 <h4 class="panel-title">
                                    Section 3: Templating using JSX
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                                <ul>
         <li><i class="fa fa-crosshairs"></i>Working with React.createElement</li>
         <li><i class="fa fa-crosshairs"></i>Expressions</li>
         <li><i class="fa fa-crosshairs"></i>Using logical operators</li>
         <li><i class="fa fa-crosshairs"></i>Specifying attributes</li>
         <li><i class="fa fa-crosshairs"></i>Specifying children</li>
     </ul>
                                     
                                  </div>
                                 </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                               <h4 class="panel-title">
                                  Section 4: React Components
     
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                           <div class="panel-body">
                              <div class="row ">
                              <ul>
         <li><i class="fa fa-crosshairs"></i>Significance of component architecture</li>
         <li><i class="fa fa-crosshairs"></i>Types of components - Functional, Class based, Pure</li>
         <li><i class="fa fa-crosshairs"></i>Component Composition</li>
     </ul>
                                   
                                </div>
                               </div>
                       </div>
                   </div>
                   <div class="panel panel-default panel-faq">
                     <div class="panel-heading">
                         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                             <h4 class="panel-title">
                                Section 5: Working with state and props
                                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                             </h4>
                         </a>
                     </div>
                     <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                         <div class="panel-body">
                            <div class="row ">
                            <ul>
         <li><i class="fa fa-crosshairs"></i>What is state and its significance</li>
         <li><i class="fa fa-crosshairs"></i>Read state and set state</li>
         <li><i class="fa fa-crosshairs"></i>Passing data to component using props</li>
         <li><i class="fa fa-crosshairs"></i>Validating props using propTypes</li>
         <li><i class="fa fa-crosshairs"></i>Supplying default values to props using defaultProps</li>
      
     </ul>
                                 
                              </div>
                             </div>
                     </div>
                 </div>
                 <div class="panel panel-default panel-faq">
                   <div class="panel-heading">
                       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                           <h4 class="panel-title">
                              Section 6: Rendering lists 
                               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                           </h4>
                       </a>
                   </div>
                   <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                       <div class="panel-body">
                          <div class="row ">
                          <ul>
         <li><i class="fa fa-crosshairs"></i>Using React key prop</li>
         <li><i class="fa fa-crosshairs"></i>Using map function to iterate on arrays to generate elements</li>
     </ul>
                               
                            </div>
                           </div>
                   </div>
               </div>
               <div class="panel panel-default panel-faq">
                 <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                         <h4 class="panel-title">
                            Section 7: Event handling in React
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                     </a>
                 </div>
                 <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                     <div class="panel-body">
                        <div class="row ">
                        <ul>
         <li><i class="fa fa-crosshairs"></i>Understanding React event system</li>
         <li><i class="fa fa-crosshairs"></i>Understanding Synthetic event</li>
         <li><i class="fa fa-crosshairs"></i>Passing arguments to event handlers</li>
     </ul>
                             
                          </div>
                         </div>
                 </div>
             </div>
             <div class="panel panel-default panel-faq">
               <div class="panel-heading">
                   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                       <h4 class="panel-title">
                          Section 8: Working with Forms
                           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                       </h4>
                   </a>
               </div>
               <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
                   <div class="panel-body">
                      <div class="row ">
                      <ul>
         <li><i class="fa fa-crosshairs"></i>Controlled components</li>
         <li><i class="fa fa-crosshairs"></i>Uncontrolled components</li>
         <li><i class="fa fa-crosshairs"></i>Understand the significance to defaultValue prop</li>
         <li><i class="fa fa-crosshairs"></i>Using react ref prop to get access to DOM element</li>
       
     </ul>
                           
                        </div>
                       </div>
               </div>
           </div>
           <div class="panel panel-default panel-faq">
             <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                     <h4 class="panel-title">
                        Section 9: Routing with React Router
      
                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                     </h4>
                 </a>
             </div>
             <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
                 <div class="panel-body">
                    <div class="row ">
                    <ul>
         <li><i class="fa fa-crosshairs"></i>Setting up react router</li>
         <li><i class="fa fa-crosshairs"></i>Understand routing in single page applications</li>
         <li><i class="fa fa-crosshairs"></i>Working with BrowserRouter and HashRouter components</li>
         <li><i class="fa fa-crosshairs"></i>Configuring route with Route component</li>
         <li><i class="fa fa-crosshairs"></i>Using Switch component to define routing rules</li>
         <li><i class="fa fa-crosshairs"></i>Making routes dynamic using route params</li>
       <li><i class="fa fa-crosshairs"></i>Working with nested routes</li>
       <li><i class="fa fa-crosshairs"></i>Navigating to pages using Link and NavLink component</li>
       <li><i class="fa fa-crosshairs"></i>Redirect routes using RedirectComponent</li>
       <li><i class="fa fa-crosshairs"></i>Using Prompt component to get consent of user for navigation</li>
       <li><i class="fa fa-crosshairs"></i>Path less Route to handle failed matches</li>
         
     </ul>
                         
                      </div>
                     </div>
             </div>
         </div>
         <div class="panel panel-default panel-faq">
           <div class="panel-heading">
               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
                   <h4 class="panel-title">
                      Section 10: Just Redux
     
                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                   </h4>
               </a>
           </div>
           <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
               <div class="panel-body">
                  <div class="row ">
                  <ul>
         <li><i class="fa fa-crosshairs"></i>What is redux</li>
         <li><i class="fa fa-crosshairs"></i>Why redux</li>
         <li><i class="fa fa-crosshairs"></i>Redux principles</li>
         <li><i class="fa fa-crosshairs"></i>Install and setup redux</li>
         <li><i class="fa fa-crosshairs"></i>Creating actions, reducer and store</li>
         <li><i class="fa fa-crosshairs"></i>Linting your Code - ng lint</li>
     
     </ul>
                       
                    </div>
                   </div>
           </div>
       </div>
       <div class="panel panel-default panel-faq">
         <div class="panel-heading">
             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
                 <h4 class="panel-title">
                    Section 11: Immutable.js for data structures
      
                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                 </h4>
             </a>
         </div>
         <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
             <div class="panel-body">
                <div class="row ">
     <ul>
         <li><i class="fa fa-crosshairs"></i>What is Immutable.js?</li>
         <li><i class="fa fa-crosshairs"></i>Immutable collections</li>
         <li><i class="fa fa-crosshairs"></i>Lists</li>
         <li><i class="fa fa-crosshairs"></i>Maps</li>
         <li><i class="fa fa-crosshairs"></i>Sets</li>
     
     </ul>
                     
                  </div>
                 </div>
         </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
               <h4 class="panel-title">
                  Section 12: React Redux
      
      
      
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
              <ul>
         <li><i class="fa fa-crosshairs"></i>What is React Redux</li>
         <li><i class="fa fa-crosshairs"></i>Why React Redux</li>
         <li><i class="fa fa-crosshairs"></i>Install and setup</li>
         <li><i class="fa fa-crosshairs"></i>Presentational vs Container components</li>
         <li><i class="fa fa-crosshairs"></i>Understand high order component</li>
       <li><i class="fa fa-crosshairs"></i>Understanding mapStateToProps and mapDispatchtToProps usage</li>
     
     </ul>
                   
                </div>
               </div>
       </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
               <h4 class="panel-title">Section 13: React Hooks
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
              <ul>
         <li><i class="fa fa-crosshairs"></i>What is a Hook?</li>
         <li><i class="fa fa-crosshairs"></i>Different types of hooks</li>
         <li><i class="fa fa-crosshairs"></i>React UseState</li>
         <li><i class="fa fa-crosshairs"></i>UseEffect / useContext / useRef in Hooks</li>
         <li><i class="fa fa-crosshairs"></i>React useReducer</li>
       <li><i class="fa fa-crosshairs"></i>UseCallback Hook</li>
       <li><i class="fa fa-crosshairs"></i>React useMemo / Custom Hooks</li>
     
     </ul>
                   
                </div>
               </div>
       </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
               <h4 class="panel-title">
                  Section 14: Introduction and Foundation
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
              <ul>
 <li><i class="fa fa-crosshairs"></i>Introduction</li>
 <li><i class="fa fa-crosshairs"></i>The Node.js framework</li>
 <li><i class="fa fa-crosshairs"></i>Installing Node.js</li>
 <li><i class="fa fa-crosshairs"></i>Using Node.js to execute scripts</li>
 
 
 </ul>
                   
                </div>
               </div>
       </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
             <h4 class="panel-title">
                Section 15: Node Projects
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
     <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
            <ul>
 <li><i class="fa fa-crosshairs"></i>The Node Package Manager</li>
 <li><i class="fa fa-crosshairs"></i>Creating a project</li>
 <li><i class="fa fa-crosshairs"></i>The package.json configuration file</li>
 <li><i class="fa fa-crosshairs"></i>Global vs. local package installation</li>
 
 </ul>
                 
              </div>
             </div>
     </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-16">
           <h4 class="panel-title">
              Section 16: Shrink-wrap to lock the node modules
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-16" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
          <ul>
 <li><i class="fa fa-crosshairs"></i>What is shrink-wrap</li>
 <li><i class="fa fa-crosshairs"></i>Working with npmvet</li>
 <li><i class="fa fa-crosshairs"></i>Working with outdated command</li>
 
 </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
         <h4 class="panel-title">
            Section 17: Asynchronous programming
 
             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
         </h4>
     </a>
 </div>
 <div id="faq-cat-2-sub-17" class="panel-collapse collapse course-content">
     <div class="panel-body">
        <div class="row ">
        <ul>
 <li><i class="fa fa-crosshairs"></i>Callback functions</li>
 <li><i class="fa fa-crosshairs"></i>Working with Promises</li>
 <li><i class="fa fa-crosshairs"></i>Advance promises</li>
 <li><i class="fa fa-crosshairs"></i>Using Request module to make api calls</li>
 
 </ul>
             
          </div>
         </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-18">
       <h4 class="panel-title">
          Section 18: Building a HTTP Server with Node.JS using HTTP APIs
           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
       </h4>
   </a>
 </div>
 <div id="faq-cat-2-sub-18" class="panel-collapse collapse course-content">
   <div class="panel-body">
      <div class="row ">
      <ul>
 <li><i class="fa fa-crosshairs"></i>The HTTP protocol</li>
 <li><i class="fa fa-crosshairs"></i>Building an HTTP server</li>
 <li><i class="fa fa-crosshairs"></i>Rendering a response</li>
 <li><i class="fa fa-crosshairs"></i>Processing query strings</li>
 <li><i class="fa fa-crosshairs"></i>Processing posted data</li>
 
 </ul>
           
        </div>
       </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-19">
     <h4 class="panel-title">
        Section 19: File System 
         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
     </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
 <div class="panel-body">
    <div class="row ">
    <ul>
 <li><i class="fa fa-crosshairs"></i>Using buffers for binary data</li>
 <li><i class="fa fa-crosshairs"></i>Flowing vs. non-flowing streams</li>
 <li><i class="fa fa-crosshairs"></i>Streaming I/O from files and other sources</li>
 <li><i class="fa fa-crosshairs"></i>Processing streams asynchronously</li>
 
 </ul>
         
      </div>
     </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-20">
   <h4 class="panel-title">
      Section 20: Multi-Processing in NodeJS
       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
   </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-20" class="panel-collapse collapse course-content">
 <div class="panel-body">
  <div class="row ">
  <ul>
 <li><i class="fa fa-crosshairs"></i>Working with Child Process API</li>
 <li><i class="fa fa-crosshairs"></i>Working with Cluster API for multi-core servers</li>
 
 </ul>
       
    </div>
   </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-21">
 <h4 class="panel-title">
    Section 21: ExpressJS
     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
 </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-21" class="panel-collapse collapse course-content">
 <div class="panel-body">
 <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>The model-view-controller pattern</li>
 <li><i class="fa fa-crosshairs"></i>Defining Jade templates</li>
 <li><i class="fa fa-crosshairs"></i>Configuring Express</li>
 <li><i class="fa fa-crosshairs"></i>Postman configuration</li>
 <li><i class="fa fa-crosshairs"></i>Using REST</li>
 <li><i class="fa fa-crosshairs"></i>JSON Data</li>
 <li><i class="fa fa-crosshairs"></i>Reading POST data</li>
 <li><i class="fa fa-crosshairs"></i>CRUD operation</li>
 <li><i class="fa fa-crosshairs"></i>Adding middleware</li>
 
 
 </ul>
     
  </div>
 </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-22">
 <h4 class="panel-title">
  Section 22: Express JS with MongoDB and Sqlite
 
   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
 </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-22" class="panel-collapse collapse course-content">
 <div class="panel-body">
 <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>How Node.js connects to databases</li>
 <li><i class="fa fa-crosshairs"></i>RDBMS databases and NoSQL databases</li>
 <li><i class="fa fa-crosshairs"></i>Connecting to RDBMS and Mongodb databases</li>
 <li><i class="fa fa-crosshairs"></i>Performing CRUD operations</li>
 
 
 </ul>
   
 </div>
 </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-23">
 <h4 class="panel-title">
 Section 23: Socket.io, The Front-end, and A Chat App
 
 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
 </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-23" class="panel-collapse collapse course-content">
 <div class="panel-body">
 <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Getting Started</li>
 <li><i class="fa fa-crosshairs"></i>Adding Socket.io To Your App</li>
 <li><i class="fa fa-crosshairs"></i>Exploring The Front-end</li>
 <li><i class="fa fa-crosshairs"></i>Sending Live Data Back &amp; Forth</li>
 <li><i class="fa fa-crosshairs"></i>Creating The Front-end UI</li>
 <li><i class="fa fa-crosshairs"></i>Showing Messages In App</li>
 <li><i class="fa fa-crosshairs"></i>Working With Time</li>
 <li><i class="fa fa-crosshairs"></i>Timestamps</li>
 <li><i class="fa fa-crosshairs"></i>Show Message Time In Chat App</li>
 <li><i class="fa fa-crosshairs"></i>Chat application Project</li>
 
 
 </ul>
 
 </div>
 </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-24">
 <h4 class="panel-title">
 Section 24: Task Managers with unit testing
 
 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
 </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-24" class="panel-collapse collapse course-content">
 <div class="panel-body">
 <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Working with gulp</li>
 <li><i class="fa fa-crosshairs"></i>Working with grunt</li>
 <li><i class="fa fa-crosshairs"></i>Working with unit and E2E testing</li>
 
 </ul>
 
 </div>
 </div>
 </div>
 </div><div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-25">
           <h4 class="panel-title">
              Section 25: Introduction
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-25" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
          <ul>
 <li><i class="fa fa-crosshairs"></i> Shell Role in Ecosystem</li>
 <li><i class="fa fa-crosshairs"></i> Shell Modes</li>
 <li><i class="fa fa-crosshairs"></i> Shell Invoking Syntax</li>
 <li><i class="fa fa-crosshairs"></i> Using Eval</li>
 <li><i class="fa fa-crosshairs"></i> Substantial Scripts</li>
 <li><i class="fa fa-crosshairs"></i> Execute Script Before Enter</li>
 <li><i class="fa fa-crosshairs"></i> Shell Keys and Shortcuts</li>
 <li><i class="fa fa-crosshairs"></i> Multiline Editing</li>
 <li><i class="fa fa-crosshairs"></i> External Editor Integration</li>
 <li><i class="fa fa-crosshairs"></i> Load Script from Within</li>
 <li><i class="fa fa-crosshairs"></i> User RC File</li>
 <li><i class="fa fa-crosshairs"></i> Common Safety Usage Tip</li>
 <li><i class="fa fa-crosshairs"></i> Shell Alternatives</li>
 </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-26">
         <h4 class="panel-title">
            Section 26: The Mongo Shell
             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
         </h4>
     </a>
 </div>
 <div id="faq-cat-2-sub-26" class="panel-collapse collapse course-content">
     <div class="panel-body">
        <div class="row ">
        <ul>
 <li><i class="fa fa-crosshairs"></i> Shell Role in Ecosystem</li>
 <li><i class="fa fa-crosshairs"></i> Shell Modes</li>
 <li><i class="fa fa-crosshairs"></i> Shell Invoking Syntax</li>
 <li><i class="fa fa-crosshairs"></i> Using Eval</li>
 <li><i class="fa fa-crosshairs"></i> Substantial Scripts</li>
 <li><i class="fa fa-crosshairs"></i> Execute Script Before Enter</li>
 <li><i class="fa fa-crosshairs"></i> Shell Keys and Shortcuts</li>
 <li><i class="fa fa-crosshairs"></i> Multiline Editing</li>
 <li><i class="fa fa-crosshairs"></i> External Editor Integration</li>
 <li><i class="fa fa-crosshairs"></i> Load Script from Within</li>
 <li><i class="fa fa-crosshairs"></i> User RC File</li>
 <li><i class="fa fa-crosshairs"></i> Common Safety Usage Tip</li>
 <li><i class="fa fa-crosshairs"></i> Shell Alternatives</li>
 </ul>
             
          </div>
         </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-27">
       <h4 class="panel-title">
          Section 27: CRUD Operations
           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
       </h4>
   </a>
 </div>
 <div id="faq-cat-2-sub-27" class="panel-collapse collapse course-content">
   <div class="panel-body">
      <div class="row ">
      <ul>
 <li><i class="fa fa-crosshairs"></i> CRUD Introduction</li>
 <li><i class="fa fa-crosshairs"></i>  Database Operations</li>
 <li><i class="fa fa-crosshairs"></i>  Read and Write Operations</li>
 <li><i class="fa fa-crosshairs"></i>  Concern Levels, Journaling, etc.,</li>
 <li><i class="fa fa-crosshairs"></i>  Cursor Query Optimizations, Query Behavior in MongoDB</li>
 </ul>
           
        </div>
       </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-28">
     <h4 class="panel-title">
        Section 28: Data Modelling and Schema Design
 
 
         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
     </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-28" class="panel-collapse collapse course-content">
 <div class="panel-body">
    <div class="row ">
    <ul>
 <li><i class="fa fa-crosshairs"></i>MongoDB Database References</li>
 <li><i class="fa fa-crosshairs"></i>Model Tree Structures</li>
 <li><i class="fa fa-crosshairs"></i>MongoDB Analysing Queries</li>
 <li><i class="fa fa-crosshairs"></i>MongoDB Atomic Operations</li>
 <li><i class="fa fa-crosshairs"></i>MongoDB Map Reduce</li>
 <li><i class="fa fa-crosshairs"></i>MongoDB Text Search</li>
 <li><i class="fa fa-crosshairs"></i>MongoDB Regular Expression</li>
 <li><i class="fa fa-crosshairs"></i>MongoDB Capped Collections</li>
 </ul>
         
      </div>
     </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-29">
   <h4 class="panel-title">
      Section 29: Administration
       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
   </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-29" class="panel-collapse collapse course-content">
 <div class="panel-body">
  <div class="row ">
  <ul>
 <li><i class="fa fa-crosshairs"></i> MongoDB Deployment and Cluster setup</li>
 <li><i class="fa fa-crosshairs"></i> MongoDB GridFS</li>
 <li><i class="fa fa-crosshairs"></i>Trident Spout</li>
 <li><i class="fa fa-crosshairs"></i> Working with Replica Sets</li>
 <li> <i class="fa fa-crosshairs"></i>MongoDB Sharding</li>
 <li> <i class="fa fa-crosshairs"></i>MongoDB Create Backup</li>
 </ul>
       
    </div>
   </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-30">
 <h4 class="panel-title">
    Section 30: Indexing and Aggregation 
     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
 </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-30" class="panel-collapse collapse course-content">
 <div class="panel-body">
 <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i> Indexing Introduction</li>
 <li><i class="fa fa-crosshairs"></i> Indexing, query profiling and the query optimizer</li>
 <li><i class="fa fa-crosshairs"></i> GeoSpatial Indexes</li>
 <li><i class="fa fa-crosshairs"></i> Index types, Index Properties</li>
 <li><i class="fa fa-crosshairs"></i> MongoDB Advanced Indexing</li>
 <li><i class="fa fa-crosshairs"></i> MongoDB Indexing Limitations</li>
 <li><i class="fa fa-crosshairs"></i> Aggregation Introduction</li>
 <li><i class="fa fa-crosshairs"></i> Types of Aggregation</li>
 <li><i class="fa fa-crosshairs"></i> Performance Tuning</li>
 </ul>
     
  </div>
 </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-31">
 <h4 class="panel-title">
  Section 31: Scalability and Availability
   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
 </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-31" class="panel-collapse collapse course-content">
 <div class="panel-body">
 <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i> Sharding &amp; Data Distribution</li>
 <li><i class="fa fa-crosshairs"></i> Replication with Sharding</li>
 <li> <i class="fa fa-crosshairs"></i>Chunks &amp; Operations</li>
 <li><i class="fa fa-crosshairs"></i> Sharding Processes</li>
 <li><i class="fa fa-crosshairs"></i> Cluster Topology</li>
 <li><i class="fa fa-crosshairs"></i> Running on localhost</li>
 <li><i class="fa fa-crosshairs"></i> The Config Database</li>
 <li><i class="fa fa-crosshairs"></i> Adding the Initial Shards</li>
 <li><i class="fa fa-crosshairs"></i> Enable Sharding for a Collection</li>
 <li><i class="fa fa-crosshairs"></i> Working with a Sharded Cluster</li>
 <li><i class="fa fa-crosshairs"></i> Cardinality &amp; Monotonic Shard Keys</li>
 <li><i class="fa fa-crosshairs"></i> Shard Key Selection Example</li>
 <li><i class="fa fa-crosshairs"></i> Process and Machine Layout</li>
 <li><i class="fa fa-crosshairs"></i> Bulk Inserts and Pre-splitting</li>
 </ul>
   
 </div>
 </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-32">
 <h4 class="panel-title">
 Section 32: Backup and Restore
 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
 </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-32" class="panel-collapse collapse course-content">
 <div class="panel-body">
 <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>  Introduction</li>
 <li><i class="fa fa-crosshairs"></i>  Authentication and Authorization</li>
 <li><i class="fa fa-crosshairs"></i>  SSL and Keyfiles</li>
 <li><i class="fa fa-crosshairs"></i>  Security and Clients</li>
 <li><i class="fa fa-crosshairs"></i>  Intra-cluster Security</li>
 <li><i class="fa fa-crosshairs"></i>  Summary of Backing Up</li>
 <li><i class="fa fa-crosshairs"></i>  Mongodump</li>
 <li><i class="fa fa-crosshairs"></i>  Filesystem Snapshotting</li>
 <li><i class="fa fa-crosshairs"></i>  Backing Up a Sharded Cluster</li>
 <li> <i class="fa fa-crosshairs"></i> Backup Strategies</li>
 <li><i class="fa fa-crosshairs"></i>  Exra Features of MongoDB</li>
 <li><i class="fa fa-crosshairs"></i>  GridFS</li>
 </ul>
 
 </div>
 </div>
 </div>
 </div>
 <div class="panel panel-default panel-faq">
 <div class="panel-heading">
 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-33">
 <h4 class="panel-title">
 Section 33: Overview
 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
 </h4>
 </a>
 </div>
 <div id="faq-cat-2-sub-33" class="panel-collapse collapse course-content">
 <div class="panel-body">
 <div class="row ">
 <ul>
 <li><i class="fa fa-crosshairs"></i>Configuring and Working with MMS, Automation of Cloud Manager</li>
 <li><i class="fa fa-crosshairs"></i> RoboMongo Tool</li>
 <li><i class="fa fa-crosshairs"></i> Basics of Bash Scripting</li>
 </ul>
 
 </div>
 </div>
 </div>
 </div>
                       <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
  </section>