 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2> MS Office Training in Chennai</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">MS Office Training</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                     
                        
                <div class="mu-latest-course-single-content">
                          <h4> MS Office Training </h4>
                     <div class="container">   
     <div class="row">
         <div class="col-md-8">
             <!-- Nav tabs category -->
             <ul class="nav nav-tabs faq-cat-tabs">
                 <li class="active"><a href="#faq-cat-1" data-toggle="tab">Features</a></li>
                 <li><a href="#faq-cat-2" data-toggle="tab">Course Content</a></li>
                 <li><a href="#" data-toggle="tab">Projects</a></li>
                    <li><a href="#" data-toggle="tab">Reviews</a></li>
                   <li><a href="#" data-toggle="tab">FAQ</a></li>
                    
             </ul> 
     
             <!-- Tab panes -->
             <div class="tab-content faq-cat-content">
                 <div class="tab-pane active in fade" id="faq-cat-1">
                     <div class="panel-group" id="accordion-cat-1">
                   <div class="mu-latest-course-single-content">
                           <h2> MS Office Training in Chennai</h2>
                          
                           <h4>Description</h4>
                           
                     <p>We ensure that our MS Office training course gives you robust office management tools with the right mixture of usability, power, and flexibility, so you can manage your job more efficiently and productively. This course will cover MS Word, MS Excel, MS PowerPoint, Outlook & Project. Learn core and advanced Microsoft Office products through our MS office training classes and improve your skillset to meet the market demand.
 
                     </p></div>
                     
              </div>
                 </div>
                 <div class="tab-pane fade" id="faq-cat-2">
                     <div class="panel-group" id="accordion-cat-2">
                       <div class="panel panel-default panel-faq">
                         <div class="panel-heading">
                             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                 <h4 class="panel-title">
                                    Section 1: Introduction to Word
                                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                 </h4>
                             </a>
                         </div>
                         <div id="faq-cat-2-sub-1" class="panel-collapse collapse course-content">
                             <div class="panel-body">
                                <div class="row ">
                                 <ul>					
                                     <li><i class="fa fa-crosshairs"></i>Getting started with Word</li>
                                <li><i class="fa fa-crosshairs"></i>Creating, Opening &amp; Saving documents</li>
                                  </ul>
                                     
                                  </div>
                                 </div>
                         </div>
                     </div>
                     <div class="panel panel-default panel-faq">
                       <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                               <h4 class="panel-title">
                                  Section 2: Working with text
                                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                               </h4>
                           </a>
                       </div>
                       <div id="faq-cat-2-sub-2" class="panel-collapse collapse course-content">
                           <div class="panel-body">
                              <div class="row ">
                                 <ul>					
                                     <li><i class="fa fa-crosshairs"></i>Text basics &amp; formatting text</li>
                                <li><i class="fa fa-crosshairs"></i>Using Find &amp; replace</li>
                                <li><i class="fa fa-crosshairs"></i>Indents &amp; Tabs</li>
                                  </ul>
                                   
                                </div>
                               </div>
                       </div>
                   </div>
                   <div class="panel panel-default panel-faq">
                     <div class="panel-heading">
                         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                             <h4 class="panel-title">
                                Section 3: Layout &amp; printing
                                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                             </h4>
                         </a>
                     </div>
                     <div id="faq-cat-2-sub-3" class="panel-collapse collapse course-content">
                         <div class="panel-body">
                            <div class="row ">
                             <ul>					
                                 <li><i class="fa fa-crosshairs"></i>Printing layout &amp; printing documents</li>
                            <li><i class="fa fa-crosshairs"></i>Breaks &amp; Columns</li>
                            <li><i class="fa fa-crosshairs"></i>Headers &amp; Footers</li>
                              </ul>
                                 
                              </div>
                             </div>
                     </div>
                 </div>
                 <div class="panel panel-default panel-faq">
                   <div class="panel-heading">
                       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                           <h4 class="panel-title">
                              Section 4: Working with objects
                               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                           </h4>
                       </a>
                   </div>
                   <div id="faq-cat-2-sub-4" class="panel-collapse collapse course-content">
                       <div class="panel-body">
                          <div class="row ">
                             <ul>					
                                 <li><i class="fa fa-crosshairs"></i>Pictures &amp; text wrapping</li>
                            <li><i class="fa fa-crosshairs"></i>Fomatting pictures</li>
                            <li><i class="fa fa-crosshairs"></i>Aligning, ordering &amp; grouping</li>
                            <li><i class="fa fa-crosshairs"></i>Tables &amp; charts</li>
                              </ul>
                               
                            </div>
                           </div>
                   </div>
               </div>
               <div class="panel panel-default panel-faq">
                 <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                         <h4 class="panel-title">
                            Section 5: Collaboration &amp; reviewing
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                     </a>
                 </div>
                 <div id="faq-cat-2-sub-5" class="panel-collapse collapse course-content">
                     <div class="panel-body">
                        <div class="row ">
                         <ul>					
                             <li><i class="fa fa-crosshairs"></i>Checking spelling &amp; grammer</li>
                        <li><i class="fa fa-crosshairs"></i>Track changes &amp; comments</li>
                        <li><i class="fa fa-crosshairs"></i>Inspecting &amp; protecting documents</li>
                          </ul>
                             
                          </div>
                         </div>
                 </div>
             </div>
             <div class="panel panel-default panel-faq">
               <div class="panel-heading">
                   <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                       <h4 class="panel-title">
                          Section 6: Create and manage documents
                           <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                       </h4>
                   </a>
               </div>
               <div id="faq-cat-2-sub-6" class="panel-collapse collapse course-content">
                   <div class="panel-body">
                      <div class="row ">
                         <ul>					
                             <li><i class="fa fa-crosshairs"></i>Create a document</li>
                      <li><i class="fa fa-crosshairs"></i>Navigate through a document</li>
                      <li><i class="fa fa-crosshairs"></i>Format a document</li>
                      <li><i class="fa fa-crosshairs"></i>Customise options and views for documents</li>
                      <li><i class="fa fa-crosshairs"></i>Print and save documents</li>
                          </ul>
                           
                        </div>
                       </div>
               </div>
           </div>
           <div class="panel panel-default panel-faq">
             <div class="panel-heading">
                 <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                     <h4 class="panel-title">
                        Section 7: Format text, paragraphs and sections
                         <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                     </h4>
                 </a>
             </div>
             <div id="faq-cat-2-sub-7" class="panel-collapse collapse course-content">
                 <div class="panel-body">
                    <div class="row ">
                     <ul>					
                         <li><i class="fa fa-crosshairs"></i>Insert text and paragraphs</li>
                  <li><i class="fa fa-crosshairs"></i>Format text and paragraphs</li>
                  <li><i class="fa fa-crosshairs"></i>Order and group text and paragraphs</li>
                      </ul>
                         
                      </div>
                     </div>
             </div>
         </div>
         <div class="panel panel-default panel-faq">
           <div class="panel-heading">
               <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-8">
                   <h4 class="panel-title">
                      Section 8: Create tables and lists
                       <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                   </h4>
               </a>
           </div>
           <div id="faq-cat-2-sub-8" class="panel-collapse collapse course-content">
               <div class="panel-body">
                  <div class="row ">
                     <ul>					
                         <li><i class="fa fa-crosshairs"></i>Create a table</li>
                     <li><i class="fa fa-crosshairs"></i>Modify a table</li>
                     <li><i class="fa fa-crosshairs"></i>Create and modify a list</li>
                      </ul>
                       
                    </div>
                   </div>
           </div>
       </div>
       <div class="panel panel-default panel-faq">
         <div class="panel-heading">
             <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-9">
                 <h4 class="panel-title">
                    Section 9: Create and manage references
                     <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                 </h4>
             </a>
         </div>
         <div id="faq-cat-2-sub-9" class="panel-collapse collapse course-content">
             <div class="panel-body">
                <div class="row ">
                 <ul>					
                     <li><i class="fa fa-crosshairs"></i>Create and manage reference markers</li>
              <li><i class="fa fa-crosshairs"></i>Create and manage simple references</li>
                  </ul>
                     
                  </div>
                 </div>
         </div>
     </div>
     <div class="panel panel-default panel-faq">
       <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-10">
               <h4 class="panel-title">
                  Section 10: Insert and format graphic elements
                   <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
               </h4>
           </a>
       </div>
       <div id="faq-cat-2-sub-10" class="panel-collapse collapse course-content">
           <div class="panel-body">
              <div class="row ">
                 <ul>					
                     <li><i class="fa fa-crosshairs"></i>Insert graphic elements</li>
              <li><i class="fa fa-crosshairs"></i>Format graphic elements</li>
              <li><i class="fa fa-crosshairs"></i>Insert and format SmartArt graphics</li>
                  </ul>
                   
                </div>
               </div>
       </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-11">
             <h4 class="panel-title">
                Section 11: Manage document options and settings
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
     <div id="faq-cat-2-sub-11" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>					
                 <li><i class="fa fa-crosshairs"></i>Manage documents and templates</li>
            <li><i class="fa fa-crosshairs"></i>Prepare documents for review</li>
            <li><i class="fa fa-crosshairs"></i>Manage document changes</li>
              </ul>
                 
              </div>
             </div>
     </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-12">
           <h4 class="panel-title">
              Section 12:  Design advanced documents
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-12" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Perform advanced editing and formatting</li>
          <li><i class="fa fa-crosshairs"></i>Create styles</li>	
            </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-13">
           <h4 class="panel-title">
              Section 13:  Create advanced references
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-13" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Create and manage indexes</li>
           <li><i class="fa fa-crosshairs"></i>Create and manage references</li>
           <li><i class="fa fa-crosshairs"></i>Manage forms, fields and Mail Merge operations</li>
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-14">
           <h4 class="panel-title">
              Section 14: Create custom Word elements
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-14" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Create and modify building blocks, macros and controls</li>
                 <li><i class="fa fa-crosshairs"></i>Create custom style sets and templates</li>
                 <li><i class="fa fa-crosshairs"></i>Prepare a document for internationalisation and accessibility</li>
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-15">
           <h4 class="panel-title">
              Section 15: Introduction to Excel
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-15" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>A overview of the screen, navigation and basic spreadsheet concepts</li>
          <li><i class="fa fa-crosshairs"></i>Understanding workbooks, worksheets, rows, columns, cells</li>
          <li><i class="fa fa-crosshairs"></i>Various selection techniques</li>
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-16">
           <h4 class="panel-title">
              Section 16: Entering Data
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-16" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Entering, Editing and Deleting Text, Numbers, Dates</li>
            <li><i class="fa fa-crosshairs"></i>Using Auto Lists</li>
            <li><i class="fa fa-crosshairs"></i>Moving and Copying data</li>
            <li><i class="fa fa-crosshairs"></i>Using navigation techniques</li>
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-17">
           <h4 class="panel-title">
              Section 17: Managing &amp; Navigating through workbooks
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-17" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Using Workbook Views</li>  
           <li><i class="fa fa-crosshairs"></i>Selecting and Switching Between Worksheets</li>
           <li><i class="fa fa-crosshairs"></i>Understading &amp; working rows, columns and worksheets </li>
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-18">
           <h4 class="panel-title">
              Section 18: Creating &amp; Editing formulea
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-18" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Concept of Formulae</li>
           <li><i class="fa fa-crosshairs"></i>Creating Formulae, Editing Formulae</li>
           <li><i class="fa fa-crosshairs"></i>Bodmas : Mathematical Order</li>
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-19">
           <h4 class="panel-title">
              Section 19: Formatting &amp; Proofing
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-19" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Formatting Cells with Number formats, Font formats, Alignment, Borders, etc</li>
         <li><i class="fa fa-crosshairs"></i>Basic conditional formatting</li>
         <li><i class="fa fa-crosshairs"></i>Working with Styles</li>
             </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-20">
           <h4 class="panel-title">
              Section 20: Create and manage worksheets and workbooks
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
   <div id="faq-cat-2-sub-20" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Create worksheets and workbooks</li>
          <li><i class="fa fa-crosshairs"></i>Navigate in worksheets and workbooks</li>
          <li><i class="fa fa-crosshairs"></i>Format worksheets and workbooks</li>
          <li><i class="fa fa-crosshairs"></i>Customise options and views for worksheets and workbooks</li>
          <li><i class="fa fa-crosshairs"></i>Configure worksheets and workbooks for distribution</li>
            </ul>
               
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-21">
           <h4 class="panel-title">
          Session 21: Manage data cells and ranges
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-21" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Insert data in cells and ranges</li>
           <li><i class="fa fa-crosshairs"></i>Format cells and ranges</li>
           <li><i class="fa fa-crosshairs"></i>Summarise and organise data</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-22">
           <h4 class="panel-title">
          Session 22: Create tables 
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-22" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Create and manage tables</li>
          <li><i class="fa fa-crosshairs"></i>Manage table styles and options</li>   
          <li><i class="fa fa-crosshairs"></i>Filter and sort a table</li>
            </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-23">
           <h4 class="panel-title">
          Session 23: Perform operations with formulas and functions
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-23" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Summarise data by using functions</li>
           <li><i class="fa fa-crosshairs"></i>Perform conditional operations by using functions</li>
           <li><i class="fa fa-crosshairs"></i>Format and modify text by using functions</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-24">
           <h4 class="panel-title">
          Session 24: Create charts and objects
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-24" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Create charts</li>
          <li><i class="fa fa-crosshairs"></i>Format graphic elements</li>
          <li><i class="fa fa-crosshairs"></i>Insert and format objects</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-25">
             <h4 class="panel-title">
            Session 25: Manage workbook options and settings
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-25" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
               <ul>
                   <li><i class="fa fa-crosshairs"></i>Manage workbooks</li>
                   <li><i class="fa fa-crosshairs"></i>Manage workbook review</li>
               </ul>
              </div>
             </div>
     </div>
   </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-26">
           <h4 class="panel-title">
          Session 26: Apply custom data formats, layouts &amp; protection
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-26" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Apply custom data formats and validation</li>
           <li><i class="fa fa-crosshairs"></i>Apply advanced conditional formatting and filtering</li>
           <li><i class="fa fa-crosshairs"></i>Create and modify custom workbook elements</li>
           <li><i class="fa fa-crosshairs"></i>Different levels of protection</li>
           <li><i class="fa fa-crosshairs"></i>Setting permission &amp; track changes</li>
           <li><i class="fa fa-crosshairs"></i>Prepare a workbook for internationalisation</li>
             </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-27">
             <h4 class="panel-title">
            Session 27: Create advanced formulas
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-27" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Apply mathematical functions in formulas</li>
             <li><i class="fa fa-crosshairs"></i>Look up data by using functions</li>
             <li><i class="fa fa-crosshairs"></i>Advanced logical &amp; text functions</li>
             <li><i class="fa fa-crosshairs"></i>Apply advanced date and time functions</li>
             <li><i class="fa fa-crosshairs"></i>Perform data analysis and business intelligence</li>
             <li><i class="fa fa-crosshairs"></i>Troubleshoot formulas using error handling functions</li>
             <li><i class="fa fa-crosshairs"></i>Define named ranges and objects</li>
            </ul>
              </div>
             </div>
     </div>
   </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-28">
           <h4 class="panel-title">
          Session 28: Create advanced charts and tables
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-28" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Create advanced charts</li>
             <li><i class="fa fa-crosshairs"></i>Create and manage PivotTables</li>
             <li><i class="fa fa-crosshairs"></i>Create and manage PivotCharts</li>
            </ul>
            </div>
           </div>
   </div>
 </div>
             <div class="panel panel-default panel-faq">
                 <div class="panel-heading">
                     <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-29">
                         <h4 class="panel-title">
                        Session 29: Excel Dashboard
                             <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                         </h4>
                     </a>
                 </div>
                     <div id="faq-cat-2-sub-29" class="panel-collapse collapse course-content">
                     <div class="panel-body">
                        <div class="row ">
                         <ul>
                             <li><i class="fa fa-crosshairs"></i>Bar Charts / Pie Charts / Line Charts</li>
                      <li><i class="fa fa-crosshairs"></i>Planning a Dashboard</li>
                      <li><i class="fa fa-crosshairs"></i>Adding Tables to Dashboard</li>
                      <li><i class="fa fa-crosshairs"></i>Adding Charts to Dashboard</li>
                      <li><i class="fa fa-crosshairs"></i>Adding Dynamic Contents to Dashboard</li>
                        </ul>
                          </div>
                         </div>
                 </div>
               </div>
              
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-30">
           <h4 class="panel-title">
          Session 30: Introduction to Powerpoint
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-30" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Getting started with Powerpoint</li>
           <li><i class="fa fa-crosshairs"></i>Creating &amp; Opening presentations</li>
           </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-31">
           <h4 class="panel-title">
          Session 31: Working with Slides
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-31" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Slide basics</li>
           <li><i class="fa fa-crosshairs"></i>Text basics</li>
           <li><i class="fa fa-crosshairs"></i>Applying themes &amp; transitions</li>
           <li><i class="fa fa-crosshairs"></i>Managing &amp; printing slides</li>
           <li><i class="fa fa-crosshairs"></i>Presenting your slideshow</li>
           </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-32">
           <h4 class="panel-title">
          Session 32: Texts &amp; Objects
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-32" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Lists</li>
           <li><i class="fa fa-crosshairs"></i>Indents &amp; Line spacing</li>
           <li><i class="fa fa-crosshairs"></i>Inserting &amp; Formatting pictures &amp; shapes</li>
           <li><i class="fa fa-crosshairs"></i>Aligning, ordering and grouping objects</li>
           <li><i class="fa fa-crosshairs"></i>Animating texts &amp; objetcs</li>
           </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-33">
           <h4 class="panel-title">
               Session 33: Collaboration &amp; reviewing
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-33" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Checking spelling &amp; grammer</li>
           <li><i class="fa fa-crosshairs"></i>Reviewing presentations</li>
           <li><i class="fa fa-crosshairs"></i>Inspecting &amp; protecting presentations</li>
           </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
   <div class="panel-heading">
       <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-34">
           <h4 class="panel-title">
          Session 34: Create and manage presentations
               <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
           </h4>
       </a>
   </div>
       <div id="faq-cat-2-sub-34" class="panel-collapse collapse course-content">
       <div class="panel-body">
          <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Create a presentation</li>
           <li><i class="fa fa-crosshairs"></i>Insert and format slides</li>
           <li><i class="fa fa-crosshairs"></i>Modify slides, handouts and notes</li>
           <li><i class="fa fa-crosshairs"></i>Order and group slides</li>
           <li><i class="fa fa-crosshairs"></i>Change presentation options and views</li>
           <li><i class="fa fa-crosshairs"></i>Configure a presentation for print</li>
           <li><i class="fa fa-crosshairs"></i>Configure and present a slide show</li>
           </ul>
            </div>
           </div>
   </div>
 </div>
 <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-35">
             <h4 class="panel-title">
            Session 35: Insert and format text, shapes and images
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-35" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Insert and format text</li>
          <li><i class="fa fa-crosshairs"></i>Insert and format shapes and text boxes</li>
          <li><i class="fa fa-crosshairs"></i>Insert and format images</li>
          <li><i class="fa fa-crosshairs"></i>Order and group objects</li>
            </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-36">
             <h4 class="panel-title">
             
            Session 36: Insert tables, charts, SmartArt and media 
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-36" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Insert and format tables</li>
          <li><i class="fa fa-crosshairs"></i>Insert and format charts</li>
          <li><i class="fa fa-crosshairs"></i>Insert and format SmartArt graphics</li>
          <li><i class="fa fa-crosshairs"></i>Insert and manage media</li>
            </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-37">
             <h4 class="panel-title">
            Session 37: Apply transitions and animations 
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-37" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Apply slide transitions</li>
          <li><i class="fa fa-crosshairs"></i>Insert slide transitions, set transition effect options</li>
          <li><i class="fa fa-crosshairs"></i>Animate slide content</li>
          <li><i class="fa fa-crosshairs"></i>Set timing for transitions and animations</li>
            </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-38">
             <h4 class="panel-title">
            Session 38:  Manage multiple presentations 
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-38" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Merge content from multiple presentations</li>
             <li><i class="fa fa-crosshairs"></i>Finalise presentations</li>
            </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-39">
             <h4 class="panel-title">
            Session 39: Manage the Outlook environment for productivity
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-39" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Customise settings</li>
          <li><i class="fa fa-crosshairs"></i>Print and save information</li>
          <li><i class="fa fa-crosshairs"></i>Perform search operations in Outlook</li>
            </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-40">
             <h4 class="panel-title">
            Session 40: Manage messages
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-40" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Configure mail settings</li>
          <li><i class="fa fa-crosshairs"></i>Create messages</li>
          <li><i class="fa fa-crosshairs"></i>Format a message</li>
          <li><i class="fa fa-crosshairs"></i>Organise and manage messages</li>
            </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-41">
             <h4 class="panel-title">
            Session 41: Manage schedules
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-41" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Create and manage calendars</li>
          <li><i class="fa fa-crosshairs"></i>Create appointments, meetings and events</li>
          <li><i class="fa fa-crosshairs"></i>Organise and manage appointments, meetings and events</li>
          <li><i class="fa fa-crosshairs"></i>Create and manage notes and tasks</li>
            </ul>
              </div>
             </div>
     </div>
   </div>
   <div class="panel panel-default panel-faq">
     <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-42">
             <h4 class="panel-title">
            Session 42: Manage contacts and groups
                 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
             </h4>
         </a>
     </div>
         <div id="faq-cat-2-sub-42" class="panel-collapse collapse course-content">
         <div class="panel-body">
            <div class="row ">
             <ul>
                 <li><i class="fa fa-crosshairs"></i>Create and manage contacts</li>
             <li><i class="fa fa-crosshairs"></i>Create and manage contact groups</li>
            </ul>
              </div>
             </div>
     </div>
   </div>
             
   
   
                       <div class="panel panel-default panel-faq">
                       
                      
                         </div>
                 </div>
                     </div>
                 </div>
             </div>
           </div>
         </div>
     </div>
               
                         
               </div>
 
                       </div> 
 
                     </div>  
 
                   </div>
 
                 </div>
 
                 <!-- end course content container -->
                 <!-- start related course item -->
 
          <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg">
                       <li><a href="#">Front-End Development</a></li>
                       <li><a href="">Full-Stack Development</a></li>
                        <li><a href="">UI/UX Design</a></li>
                       <li><a href="">Java</a></li>
                       <li><a href="">C</a></li>
                       <li><a href="">C++</a></li>
                       <li><a href="">PHP/MySQL</a></li>
                       <li><a href="">Python</a></li>
                       <li><a href="">Angular</a></li>
                       <li><a href="">AWS</a></li>
                       <li><a href="">Azure</a></li>
                       <><a href="">Data Science</a>
                         <li><a href="">Machine Learning</a></li>
                         <li><a href="">Devops</a></li>
                         <li><a href="">React JS</a></li>
                         <li><a href="">Python</a></li>
                         <li><a href="">Hadoop</a></li>
                         <li><a href="">Digital Marketing/SEO</a></li>
                         <li><a href="">Tally Premium</a></li>
                        
                         <li><a href="">Graphics Design</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <!--<div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Medical Science</a></h4>                      
                           <span class="popular-course-price">$200.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Design</a></h4>                      
                           <span class="popular-course-price">$250.00</span>
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Health & Sports</a></h4>                      
                           <span class="popular-course-price">$90.00</span>
                         </div>
                       </div>
                     </div>
                   </div>-->
                   <!-- end single sidebar -->
             
               
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
                 <!-- end start related course item -->
               </div>
       
            </div>
          </div>
        </div>
      </div>
    
  </section>